<template>  
  <div class="deleteplace">      
      <div v-if="show" class="deleteplace-container">

      <div class="caption">
        <div class="close"  @click="closeWindow"></div>
      </div>
         
      <div class="nav">
          <div class="order-info">
              <span>{{placeInfo.title}}</span>
          </div>
      </div>

      <div>     
            <span class="delete" 
            @click="deleteFromBasket(planPlace.id, planPlace.type)">удалить из корзины</span>
      </div>          

      </div>
    

  </div>
</template>

<script>
  import EventService from '../.././EventService.js';

  export default {
      name: "DeletePlace",  
      // props: ['hotelid', 'show'],
      components: {
      },
      data() {        

        return {
            title: 'Удалить место или транспорт в городе',

            // API            
            sourceTransport: 'read/transports/', // получаем транспорт  
            sourceDeleteTransport: 'orders/delete/transports/', // удаляем транспорт
            sourceHotel:'read/hotels/', // получаем отель
            sourceDeleteHotel:'orders/delete/hotels/', // удаляем отель
            sourceClinics: 'read/clinics/', // получаем клинику
            sourceTours: 'read/tours/', // получаем тур
            sourceRestaurants: 'read/restaurants/', // получаем ресторан
            sourceDeletePlaces: 'orders/test/deleteplaces/',  // удаляем место

            // переменные
            show:false, //
            placeInfo:false, // информация о заказнном транспорте/отеле  города
            currentCity:false, // информация о текущем городе
            planPlace:false, // план города (дни/места)           
        }

      },

      methods: {
          // закрытие окна
          closeWindow: function () {              
              this.show = false;
          },     

          // проверяем удаляемый транспорт у города
          checkDeletePlace: function(options){              
              console.log('--- checkDeletePlace ---');              
          },

          // сбрасываем данные
          resetData: function (){
            console.log('--- resetData ---');
            this.placeInfo = false;
            this.currentCity = false;
            this.planPlace = false;
            // this.show = false;
          },

          // помещаем в корзину
          deleteFromBasket: function(ID, type){               
              console.log('--- deleteFromBasket ---');  
              // console.log(type);

              let options = {
                  token: 'admin_token', 
                  city:this.currentCity.id, 
                  transport_id:ID
              }  

              // здесь должна быть проверка !!! 
              // удаление места/танспорта
              if(type == 'transport'){
                  let options = {
                    token:'admin_token',
                    id:ID
                  }
                  this.$http.post(this.sourceDeleteTransport, options).then(function (response) {
                      let message = response.body;
                      console.log(message);
                      EventService.updatePlanningList(message);
                      this.closeWindow();
                  });
              }

              if(type == 'hotel'){

                  let options = {
                        token:'admin_token',
                        id:ID,
                        order_city_id:this.planPlace.order_city_id                 
                  }
                  this.$http.post(this.sourceDeleteHotel, options).then(function (response) {
                        let message = response.body;
                        console.log(message);
                        EventService.updatePlanningList(message);
                        this.closeWindow();
                  });
              }

              if(type=='clinic' || type == 'tour' || type == 'restaurant'){


                  let options = {
                        token:'admin_token',
                        places:[]                
                  }

                  let place = {
                    type:type,
                    id:ID,
                    order_city_id :this.planPlace.order_city_id
                  }
                  options.places.push(place);

                  // console.log(options);


                  this.$http.post(this.sourceDeletePlaces, options).then(function (response) { 
                      console.log(response.body);  
                      EventService.updatePlanningList(true);   
                      this.closeWindow(); 
                  });    
              }

              
          },

          // получаем информацию по месту/транспорту
          getPlaceInfo: function(planPlace){

            console.log('--- getPlaceInfo ---');


              if(planPlace.type == 'transport'){
                    // console.log(planPlace);
                    let options = {
                        id:planPlace.transport_id
                    }
                    this.$http.post(this.sourceTransport, options).then(function (response) {
                        for(var i = 0; i<response.data.length; i++){                   
                          this.placeInfo = response.data[i];

                        }
                        this.show = true; 
                    });
              }
              else{



                let options = false;
                let source = false;

                  if(planPlace.type == 'hotel'){
                      options = {
                        id:planPlace.id_hotel
                      }  
                      source = this.sourceHotel;                
                  }

                  if(planPlace.type=='clinic'){
                      options = {
                          id:planPlace.id_clinic       
                      }
                      source = this.sourceClinics;
                  }

                  if(planPlace.type=='tour'){
                      options = {
                          id:planPlace.id_tour       
                      }
                      source = this.sourceTours;
                  }


                  if(planPlace.type=='restaurant'){
                    


                      options = {
                          id:planPlace.id_restaurant       
                      }
                      source = this.sourceRestaurants;
                  }

                  // console.log(options);
                  console.log(planPlace);

                  this.$http.post(source, options).then(function (response) {
                      this.placeInfo = response.body;                      
                      this.placeInfo.type = planPlace.type;
                      // console.log(this.placeInfo);
                      this.show = true;  
                  });
              }     

          }

      },
      created: function(){          
          
          // слушаем событие в сервисе при открытии детального окна информации об отелей    
          EventService.$on("viewPlaceDelete", (Params) => {          
              console.log('--- viewPlaceDelete ---'); 
              // console.log(Params.plan_place);

              // // если в переменной placeInfo уже есть данные, очищаем поля
              if(this.placeInfo){                  
                  this.resetData();
              }

              // устанавливаем данные в поля
              this.getPlaceInfo(Params.plan_place);
              this.currentCity = Params.city_info;
              this.planPlace = Params.plan_place;                           
              
          });

      },
      updated: function(){

      },
      watch:{
          transport:function(val){
            // console.log(val);     
          }
      }
  }

</script>

<style scoped>

.deleteplace-container  {
    width: 400px;
    padding: 0 0 16px 0;
    margin: 0 auto;
    background: #fff;
    position:fixed;
    top:0;
    left: 0;
    background: #fff;
    font-family: Roboto;
   /* border: 1px solid #400000;   */
    color:#454c58;
    z-index: 300;
}

.deleteplace-container  .caption {
    width: auto;
    height: auto;
    box-shadow: 0 0 16px 0 rgba(42, 46, 56, 0.11);  
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 38px 25px 16px 23px;
}

.delete {
    text-decoration-line: none;
    color:#039beb;
    cursor:pointer;
}

.close {
    width: 47px;
    height: 47px;
    background-image: url(../../assets/img/close.png);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.nav {
    height: 48px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #edf2f8;
}

.order-info{
    width: 436px;
    height: 18px;
    font-family: Roboto;
    font-size: 17px;
    line-height: 2.8;
    text-align: left;
    color: #8f9aab;
    padding: 0 0 0 31px; 
}

</style>
