<template> 

  <div class="middlecity">             
      <div class="modal" v-bind:class="{'active-dark':show}" v-show="show">

                <div class="points-container">

                <div class="caption">
                        <ul class="tab"> 
                          <li>
                            <span class="tab-text">list</span>
                            <div class="activ_line"></div>
                          </li>
                          <li>
                            <span class="tab-text">map</span>
                            <div class="activ_line hidden"></div>
                          </li>
                        </ul>
                        <div class="points-close" @click="closeWindow"></div>
                    </div>

                     <div class="points-dest">      

                        <div v-for="(filter, direction) in filters" :class="filter.class">               
                            <span class="dest-text">{{ filter.title }}</span>
                            <div class="transport-box" :id="direction">
                                  <div v-for="item in filter.items" :class="[item.active ? 'active' : '', item.title]"  
                                  @click="changeFilters(item, direction, $event)">
                                  <span v-if="item.title == 'all'" ref="all">all</span>
                                  <span v-else></span>                            
                                  </div>
                            </div>               
                        </div>
                    </div>


                    <div class="filters">
                      <div class="filter-box">    
                        <div class="marker"></div>
                        <div class="city-name">
                          <input type="text" placeholder="City name destination"  @change="searchCity">
                          <div class="bottom-line"></div>
                          <p ></p>
                        </div>
                      </div>
                      
                      <div class="filter-box">
                        <div class="filter-icon"></div>
                        <div class="filter-link">filters</div>
                      </div>
                    </div>  

                     <div class="" v-show="message.show">
                      <p>{{message.title}}</p>
                      <p v-if="message.warning != false">{{message.warning}}</p>
                    </div>              

                  
                    <div class="scroll-box" v-if="middleCities.length>0">      

                         <div class="points-item" v-for="city in middleCities" @click="_addCityToBasket(city)" :id="city.id" v-show="city.show">
     
                              <div class="points-caption">
                                <span>{{ city.title }}</span>  {{ city.region }}
                              </div>

                              <div class="points-objects">
                                    <div class="tour-objects">49 Tour objects</div>
                                    <div class="transport-box tour-transport">
                                        <div v-for="transport in city.from_middle" :class="[transport]"><span></span></div>
                                    </div>
                              </div>

                              <div class="travel-time">
                                    Total travel time between points: <span> ~ 24h 45 min</span>
                              </div>

                              <div class="travel-time-dist">
                                Travel time to destination 8h, from destination: 8h 45min
                              </div>

                              <div class="disclosure"></div>

                          </div>

                    </div>

                    

              </div>

      </div>
      
  </div>

</template>

<script>
  import EventService from '../.././EventService.js';
  import ReplaceService from '../.././ReplaceService.js';
  import ReplaceFinalService from '../.././ReplaceFinalService.js';

  export default {
      name: "Middlecity",  
      components: {
      },
      data() {        

        return {
            title: 'Промежуточный город',
            // API 
            sourceMiddleCity:'read/searchcity/', // прямой путь
            sourceMiddleTransport:'read/searchmiddlecity/',
            sourceAddCityToBasket:'orders/write/cities/',
            
            // переменные            
            cityInfo:[], // информация о начальном городе городе
            nextcityInfo:[], // информация о конечном городе
            middleCities:[],
            transportsFrom:[],
            transportsTo:[],
            cityID:false,
            nextcityID:false,  
            orderCities:[], // города в заказе

            //           
            message: {
                  title:'Нет городов',
                  show:false,
                  warning:false
            },
            show:false,
            move:false, // пожно ли сдвинуть даты у города конечного назмачения
           
            // фильтры для фильтрации городов
            filters: {
                 to: {
                    items:{
                      air: {active :false, show: true, title: 'air'},
                      bus: {active :false, show: true, title: 'bus'},
                      train: {active :false, show: true, title: 'train'},
                      car: {active :false, show: true, title: 'car'},
                      all: {active :true, show: true, title: 'all'}
                    },
                    title:'to-destination',
                    class:'dest-to'          
                  },
                  from: {
                    items:{
                      air: {active :false, show: true, title: 'air'},
                      bus: {active :false, show: true, title: 'bus'},
                      train: {active :false, show: true, title: 'train'},
                      car: {active :false, show: true, title: 'car'},
                      all: {active :true, show: true, title: 'all'}
                    },
                    title:'from-destination',
                    class:'dest-from'
                  },
                  checked: {
                    to: 'all',
                    from: 'all'
                  }      
            }
        }             

      },

      methods: {
          
          // закрытие окна
          closeWindow: function () {              
              this.show = false;
          }, 

          resetData: function () {
              this.cityInfo.length = 0; 
              this.cityID = false;
              this.nextcityID = false;
              this.nextcityInfo.length = 0;
              this.middleCities.length = 0;
              this.transportsFrom.length = 0;
              this.transportsTo.length = 0;     
              this.orderCities.length = 0;
              //         
              this.move = false;
              this.message.warning = false;
              this.message.show = false;
          }, 

          findMiddleTransport: function (options){
            // console.log(options);
                this.$http.post(this.sourceMiddleTransport, options).then(function (response) {
                    
                    // console.log(response.body);
                    this.middleCities = response.body.cities;
                    this.transportsFrom = response.body.transports_from;
                    this.transportsTo = response.body.transports_to;      

                      // console.log('--- data ---');
                      // console.log(this.transportsFrom);
                      // console.log(this.transportsTo);            
                });
          },          

          initFindMiddleTransport: function(){
              let options = {
                  сity_from: this.cityID,
                  сity_to: this.nextcityID
              }
              this.findMiddleTransport(options);
          },
          
          // --- фильтрация и поиск города в массиве Orders
          changeFilters: function (item, direction, $event) { 
              console.log('--- changeFilters ---');
              
              for (var key in this.filters[direction].items) {
                    key == item.title ? this.filters[direction].items[key].active = true : this.filters[direction].items[key].active = false;
                    console.log(this.filters[direction].items[key].active);  
              }     
              this.filters.checked[direction] = item.title;              
              this.showCities();
          },

          showCities: function () {
              console.log('--- showCities ---');

              if(this.middleCities.length>0){                    
                
                var cities = this.middleCities;
                // console.log(cities);

                var toChecked = this.filters.checked['to'];
                var fromChecked = this.filters.checked['from'];
                this.message.show = true;

                if(toChecked != 'all'){
                    if(fromChecked != 'all'){ // смотрим по обоим параметрам
                        for (var i = 0; i < cities.length; i++){     
                              cities[i].show = false;
                              for(var j = 0; j < cities[i]['from_middle'].length; j++){

                               if(cities[i]['from_middle'][j] == fromChecked){   // если требуется 2-й фильтр то выше ставим for
                                    for(var k = 0; k < cities[i]['to_middle'].length; k++){
                                          if(cities[i]['to_middle'][k] == toChecked){
                                              cities[i].show = true;
                                              this.message.show = false;
                                          }
                                    }
                                }

                              }
                        }
                    }else{ // смотрим по параметру to
                      for (var i = 0; i < cities.length; i++){     
                              cities[i].show = false
                              for(var k = 0; k < cities[i]['to_middle'].length; k++){
                                  if(cities[i]['to_middle'][k] == toChecked){
                                              cities[i].show = true;
                                              this.message.show = false;
                                  }
                              }                   
                        }
                    }
                }else{
                  if(fromChecked != 'all'){ // смотрим по параметру from
                        for (var i = 0; i < cities.length; i++){     
                              cities[i].show = false
                              for(var k = 0; k < cities[i]['from_middle'].length; k++){
                                  if(cities[i]['from_middle'][k] == fromChecked){
                                              cities[i].show = true;
                                              this.message.show = false;
                                  }
                              }                   
                        }
                    }else{ // показываем все
                        for (var i = 0; i < cities.length; i++){     
                            cities[i].show = true;
                            this.message.show = false;                                  
                        }
                    }
                }

              }
          },
          
          searchCity: function ($event){              
              console.log('--- searchCity ---');

              var text = $event.target.value;
              if(this.middleCities.length>0){
                  for (var i=0; i<this.middleCities.length; i++){         
                      if(this.middleCities[i].title.match(text)){
                          this.middleCities[i].show = true;
                      }                                    
                      if(this.middleCities[i].title.match(text) == null){
                        this.middleCities[i].show = false;
                      }                                                 
                  }
              }            
          },        

          checkOrder: function(middleCities){
              // console.log('--- checkOrder ---');
              
              let middleCity = false;
              let middles = [];
              // let orders = [];

              middleCities.filter(function(values, item){                     
                      if(values.id){
                         middles.push(values.id);
                      }
              });

              // this.orderCities.filter(function(values, item){
              //       if(values.city_info.id){
              //           orders.push(values.city_info.id);
              //       }
              // });

              // top:
              // for (let i = 0; i < middles.length; i++){
              //     for (let j = 0; j < orders.length; j++) {
              //       if(orders[j] == middles[i]){
              //         console.log(middles[i]);
              //         break top;
              //       }
              //     }
              // }

              top:
              for (let i = 0; i < middles.length; i++){
                  for (let j = 0; j < this.orderCities.length; j++) {                     
                    // if(this.orderCities[j].city_info.id ==  9){
                    
                    if(this.orderCities[j].city_info.id ==  middles[i]){
                        // console.log(this.orderCities[j].city_info.id);
                        middleCity = this.orderCities[j].city_info;
                        middleCity.final = this.orderCities[j].final
                        break top;
                    }
                  }
              }

              // console.log(middleCity);   

              return middleCity;           
              
          },

          getMiddleCityTransport: function(middleCityID = 13){
              // console.log('--- getMiddleCityTransport ---');
              let transportsFrom = this.transportsFrom.filter(function(values, item){
                      if(values.id_city_to == middleCityID){
                        return values;
                      }
              });
              let transportsTo = this.transportsTo.filter(function(values, item){
                      if(values.id_city_from == middleCityID){
                       return values;
                      }
              });

              let transport = { 
                transports_from:transportsFrom, 
                transports_to:transportsTo, 
                middle_city_id:middleCityID 
              }

             return transport;
          },

          addCityToBasket:function(middleCity){
              // console.log('--- addCityToBasket ---');

              // console.log(middleCity);

              // var options = {
              //       token: 'admin_token',
              //       id_city: $event.currentTarget.id
              // }     
              
              // this.$http.post(this.sourceAddCityToBasket, options).then(function (response) {                        
              //         // // console.log(response.data['id_city'])
              //         // // console.log(this.$parent.mcityid)                    
              //         // this.$parent.mcityid = response.data['id_city'];

              //         this.$emit("selected-city", response.data['id_city']);
                      
              //     }, function (error) {
              //       console.log(error);
              // });
                         
              let transport = this.getMiddleCityTransport(middleCity.id);

              let Params = {
                city_info:this.cityInfo,
                next_city_info:this.nextcityInfo,
                city_id:this.cityID,
                middle_city_transport:transport
              }
              
              // console.log(Params);
              // console.log(JSON.stringify(Params));
              
              // проверка на то есть ли промежуточный город в текущем заказе
              // проверка на то есть ли промежуточный город в текущем заказе
              let orderMiddleCity = this.checkOrder(this.middleCities);

              if(orderMiddleCity){
                    this.message.show = true;
                    this.message.title = 'Добавить промежуточный пункт нельзя для данного города.'
                    this.message.warning = 'Так как один из промежуточных пунктов уже есть в заказе.';

              }else{
                console.log(Params);
                ReplaceService.initStorage(Params);
                setTimeout(this.closeWindow(), 10000);
              }

          },

          _addCityToBasket:function(middleCity){

              console.log('--- _addCityToBasket ---');

              let transport = this.getMiddleCityTransport(middleCity.id);

              let Params = {
                  city_info:this.cityInfo,
                  next_city_info:this.nextcityInfo,
                  city_id:this.cityID,
                  middle_city_transport:transport
              }

              console.log(Params.next_city_info.final);

              if(Params.next_city_info.final == 1){
                  
                  // ReplaceService.initStorage(Params);
                  // setTimeout(this.closeWindow(), 10000);
                  console.log('--- Params.next_city_info.final ---');
                  // ReplaceService.initStorage(Params);
                  // setTimeout(this.closeWindow(), 10000);

                  ReplaceFinalService.initStorage(Params);
                  setTimeout(this.closeWindow(), 10000);
                  
              }
              else{          
 
                  console.log('--- нет ---');

                  // проверка на то есть ли промежуточный город в текущем заказе
                  // проверка на то есть ли промежуточный город в текущем заказе
                  let orderMiddleCity = this.checkOrder(this.middleCities);
                  if(orderMiddleCity){
                      this.message.show = true;
                      this.message.title = 'Добавить промежуточный пункт нельзя для данного города.'
                      this.message.warning = 'Так как один из промежуточных пунктов уже есть в заказе.';                     
                  }
                  else{

                    // console.log(Params);
                    ReplaceService.initStorage(Params);
                    setTimeout(this.closeWindow(), 10000);
                  }
              }
          } 

      },

      created: function(){ 
          
          // слушаем событие в сервисе при открытии детального окна информации об отелей    
          EventService.$on("viewMiddlecityList", (Params) => { 

              // console.log('--- EventService on ---');      
              // console.log(Params);                    

              // если в компоненте уже есть данные, очищаем поля
              // if(this.cityInfo.length>0){  
                  this.resetData();
              // }             

              // проверяем позицию города, если после него больше одного пункта
              // тогда отказываем в преносе
              let numbers = Params.numbers;
              let index = Params.index; 
              
              
              if((numbers - (index+1))<=1 && typeof Params.next_city_info !== 'undefined'){

                  this.cityInfo = Params.city_info;
                  this.cityID = Params.city_id;
                  this.nextcityID = Params.next_city_info.city_info.id;    
                  this.nextcityInfo =  Params.next_city_info;
                  this.initFindMiddleTransport();
                  this.orderCities = Params.order_cities;


                  // console.log('--- final city---')
                  // console.log(ReplaceService.final_city);

                }else{
                  console.log('--- else ---');
                  // console.log(this.message);
                  if(ReplaceService.final_city){
                      console.log('--- final city---')
                      console.log(ReplaceService.final_city);

                  }else{
                      this.message.show = true;
                      this.message.warning = 'Промежуточный пункт между данными городами добавить нельзя. Так как это повлечет за собой изменение дат у отелей и транспорта в нескольких пунктах.';
                  }
                  
                  
                }                   
             
              // открываем окно 
              this.show = true; 
              
          });

          // this.testJSON();



          // поиск промежуточного пункта
          // this.initFindMiddleTransport();

      },
      updated: function(){

      },
      watch:{
          transport:function(val){
            // console.log(val);     
          }
      }
  }

</script>

<style scoped>

  .fake-modal{
    width: 600px;
    min-height: 200px;
    position:fixed;
    top:0;
    left: 0;
    /*background: #c7ebce;*/
    border: 1px solid #400000;
    background: #808080;
    color:#fff;
    z-index: 300;
  }

  .buy {
    text-decoration-line: underline;
    color:#400000;
  }

  .transport-block { 
      margin: 0 auto; 
      display: flex;
      /*border: 1px solid #ffffff;*/
      /*min-height: 200px;*/
  }

  .transport-block div {
      /*float:left; */
      width:50%;
      flex-direction: row;
      justify-content: space-between;
  }

  .transport-block div p {
      font-weight:bold; 
      font-size:12px;
  }


  .middlecity-block { 
      margin: 0 auto; 
      border: 1px solid #ffffff;
      /*min-height: 200px;*/
  }


/**************** ADD CITY*/
.scroll-area {
  position: relative;
  margin: auto;
  width: 400px;
  height: 300px;
}

.modal{
  width:100%; 
  height:100%; 
  position:fixed; 
  top:0; left:0;
  z-index: 100;
}
.active-dark {
  background: gray
}

.points-container {
    width: 800px;
    padding: 0 0 16px 0;
    margin: 0 auto;
    background: #fff;
}

/**--- CAPTION ---**/
.points-caption {
  padding: 17px 25px 0;
  width: auto;
  height: auto;
  box-shadow: 0 0 16px 0 rgba(42, 46, 56, 0.11);  
  display: flex;
}

.points-close {
  width: 47px;
  height: 47px;
  object-fit: contain;
  background-image: url(../../assets/img/close.png);
}
.points-nav {
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.points-nav li {
   margin: 5px;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

.activ_line {
  width: 154px;
  height: 4px;
  object-fit: contain;
  background-image: linear-gradient(70deg, #3d76b8, #03a5d9 42%, #f2655b 80%, #ff8337);
  margin: 10px 0;
}

.hidden {visibility:hidden;}

.nav-text {
  display: inline-block;
  font-family: MuseoSansCyrl;
  font-size: 22px;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  color: #039beb;
  text-transform: uppercase;
}

/**--- DESTINATION ---**/
.points-dest {
  width:0 auto;
  height: auto;
  margin: 0 20px;
  padding: 20px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dest-from, .dest-to {
  margin: 0;
  padding: 0;
  width: 40%;
}

.dest-text {
    font-family: Roboto;
    font-size: 17px;
    line-height: 2.59;
    color: #adbacc;
    text-transform: uppercase;
}

.transport-box{
  display: flex;
  flex-direction: row;  
  width: auto; 
  margin: 0 auto;
}

.transport-box div {
  width: 40px;
  height:30px;
  text-align: left;
  }

.transport-box div.active {
  border-bottom: 4px solid #1fa1d0;
}
.train span {
  display: block;
  height: 26px;
  object-fit: contain;
  background: url(../../assets/img/addcity-img/train.png) no-repeat; 
}

.bus span {  
  display: block;
  height: 20px;
  object-fit: contain;  
  background: url(../../assets/img/addcity-img/bus.png) no-repeat;
}

.car span {  
  display: block;
  width: 23.3px;
  height: 17px;
  object-fit: contain;
  background: url(../../assets/img/addcity-img/transport.png) no-repeat;
}

.bicycle span  {  
  display: block;
  width: 24px;
  height: 21px;
  object-fit: contain;
  background-color: #adbacc;
  background: url(../../assets/img/addcity-img/bike.png) no-repeat;
}
.air span  {  
  display: block;
  width: 21px;
  height: 21px;
  object-fit: contain;
  background: url(../../assets/img/addcity-img/air.png) no-repeat;
}

.all span {
 
  display: block;

  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.7;
  text-align: center;
  color: #1fa1d0;
  text-transform: uppercase;
}


/**--- FILTERS ---**/

.filters {
  margin: 0 20px;
  width:0 auto;
  height: auto;
  padding: 17px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.bottom-line {
  width: 311px;
  height: 1px;
  border-bottom: 1px solid #000000;
  border-image-source: linear-gradient(to right, #3c74b7, #4392bb 23%, #00a5d9 50%, #fe6354 75%, #ff8436);
  border-image-slice: 1;

  margin: 14px 0 0 8%;
}

.city-name input {
  width: 188px;
  font-family: Roboto;
  font-weight: 300;
  text-align: left;
  color: #039beb;
  margin: 0 0 0 8%;
  border: none;
}

.city-name input::-webkit-input-placeholder {color:#039beb; font-size: 20px;}
.city-name input::-moz-placeholder          {color:#039beb; font-size: 20px;}/* Firefox 19+ */
.city-name input::-moz-placeholder           {color:#039beb; font-size: 20px;}/* Firefox 18- */
.city-name input::-ms-input-placeholder      {color:#039beb; font-size: 20px;}

.marker {
  width: 24px;
  height: 32px;
  object-fit: contain;
  border: 1px solid #000;
}


.filter-icon {
  width: 20px;
  height: 23px;
  /*background-color: #1a9fcf;*/
  background-image: url(../../assets/img/filtr.png);  
}

.filter-link {
  width: 44px;
  height: 13px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;

  text-align: left;
  color: #1a9fcf;
  margin: 0 0 0 16px;
}


/*** --- POINTS-ITEM --- ***/

.points-item {
    width:auto;
    height: 176px;
    border-radius: 8px;
    border: solid 1px #a8b6c9;
    margin: 16px 24px 0 24px;
    position: relative;
    cursor: pointer;
}

.points-caption {
  height: 23px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 0.67;
  text-align: left;
  color: #adbacc;
  border: none;
  box-shadow: none;
  margin: 23px 0;
  padding: 0 0 0 23px;
}

.points-caption span { 
  text-transform: uppercase;
  color:#000;
  padding: 0 5px 0;
}

.points-objects {    
   height: 26px;
   padding: 0;
   display: flex;
   justify-content:flex-start;
    margin: 0 0 0 23px;
  
}

.tour-objects {
  width: 144px;
  height: 24px;
  background-color: #92c104;
  color:#ffffff;
  line-height: 22px;
  font-size: 18px;
  font-family: Roboto;
}

.tour-transport{
  margin: 0 0 0 32px;
}

.travel-time {
  font-family: Roboto;
  font-size: 20px;
  line-height: 0.8;
  text-align: left;
  color: #2a2e38;
  font-weight: 500;
  margin: 0 0 0 23px;
}

.travel-time span {
  font-weight: bold;
  line-height: 2.2;
  color: #3d76b8;
}

.travel-time-dist {
  width: 425px;
  height: 15px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 1.41;
  text-align: left;
  color: #a8b6c9;
  margin: 0 0 0 23px;
}

.item-arrow {
    width: 18px;
    height: 32px;
    position: absolute;
    top:72px;
    right:24px;
    background-image: url(../../assets/img/disclosure.png);
}




/**--- CAPTION ---**/
.caption {
  padding: 12px 25px 0;
  width: auto;
  height: auto;
  box-shadow: 0 0 16px 0 rgba(42, 46, 56, 0.11);  
  display: flex;
}

.close {
  width: 47px;
  height: 47px;
  object-fit: contain;
  background-image: url(../../assets/img/close.png);
  cursor: pointer;
}
.tab {
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.tab li {
   margin: 5px;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

.activ_line {
  width: 154px;
  height: 4px;
  object-fit: contain;
  background-image: linear-gradient(70deg, #3d76b8, #03a5d9 42%, #f2655b 80%, #ff8337);
  margin: 10px 0;
}

.hidden {visibility:hidden;}

.tab-text {
  display: inline-block;
  font-family: MuseoSansCyrl;
  font-size: 22px;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  color: #039beb;
  text-transform: uppercase;
}

/** SCROLL-BOX **/

.scroll-box {
  overflow: scroll;
  height: 200px;
  margin: 10px;
}

::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
   background: none;
   border:none;

}

</style>
