<template> 
  <div class="transport">      
      <div v-if="show" class="fake-modal">
          <h3>{{ title }}</h3>      
          <div v-if="transport.length>0" v-for="item in transport">       
              <p>
                  <span>{{item.title}}</span>
                  <span>{{item.type}}</span>
                  <span class="buy" @click="addToBasket(item.id, 'transport')" style="cursor:pointer;">в корзину</span>
              </p> 
          </div>          
          <p @click="closeWindow" style="cursor:pointer;">Закрыть</p>
      </div>
  </div>
</template> 

<script>
  import EventService from '../.././EventService.js';

  export default {
      name: "Transport",  
      components: {
      },
      data() {        

        return {
            title: 'Транспорт',

            // API            
            sourceTransport: 'read/transports/', // получаем   транспорт       
            sourceBasketTransport: 'orders/write/transports/', // добавляем в корзину
            sourceBasketTransportUpdate:'orders/update/transports/', // обновляем транспорт

            // переменные
            show:false, //
            transport:[], // транспорт города
            currentCity:false, // информация о текущем городе
            cityPlan:[], // план города (дни/места)
            transportPlan:[] // план города по транспорту в корзине
        }

      },

      methods: {
          // закрытие окна
          closeWindow: function () {              
              this.show = false;
          },

          // API для получения информации по транспорту в текущем городе
          getTransport: function(Param){         
              // console.log('--- getTransport ---');              
              // console.log(Param);    
              let options = {
                city_from: Param.cityId,
                city_to: Param.cityId
              }
              // console.log(options);
              this.$http.post(this.sourceTransport, options).then(function (response) {     
                  for(var i = 0; i<response.data.length; i++){
                        // console.log(response.data[i])
                        this.transport.push(response.data[i]); // сохраняем в переменную
                  }
                }, function (error) {
                  console.log(error)
              });              
          },

          // помещаем транспорт в корзину
          addTransport:function(options){
              console.log('--- addTransport ---');
              // console.log(options);

              // добавляем транспорт
              this.$http.post(this.sourceBasketTransport, options).then(function (response) {       
                  // console.log(response.body);                  
                  options.id =  response.body.id;                
                  if(typeof options['id'] !== "undefined"){
                      // обавляем даты 
                      // здесь надо добавить даты из календаря !!!
                      var last_day = this.cityPlan.length-1;
                      this.cityPlan.forEach(function(item, i){
                          if(i == last_day){
                             options.date_from = Number(item.end) - 600;
                             options.date_to = options.date_from + 57600;
                          }
                      });

                      delete options.transport_id;
                      delete options.city;
                      console.log(options);    

                      // // обновляем транспорт
                      this.$http.post(this.sourceBasketTransportUpdate, options).then(function (response) {   
                          // console.log(response.body);   
                          let transportUpdate = response.body;
                          
                          // обновляем список Planning List
                          // установить событие для Planning getCityList    
                          EventService.updatePlanningList(transportUpdate);
                          this.closeWindow();
                        }, function (error) {
                          console.log(error)
                      });                    
                  }

                }, function (error) {
                  console.log(error)
              });              
              

             

              
          },

          // проверяем транспорт у города
          checkTransportPlan: function(options){              
              console.log('--- checkTransport ---');
              var warning = false;
              var messageAdd = false;

              if(this.transportPlan.length>0){
                  this.transportPlan.forEach(function(item, i){
                      console.log(item);
                      
                      if(item.transport_id == options.transport_id){
                        if(item.status == 1){
                          messageAdd = 'в последнем дне у предыдущего города как выездной';                                  
                        }else{
                          messageAdd = 'в одном из дней текущего города';
                        }                        
                        // console.log(item.transport_id);
                        // warning
                        warning = {
                          message:'Этот транспорт нельзя добавить, так как он уже добавлен' + ' ' + messageAdd,
                          id:item.id,
                          transport_id:item.transport_id,
                          order_id:item.order_id

                        }
                      }
                  });
              }

              console.log(warning);

              return warning;
          },

          // траспорт в корзине по текущему городу
          setTransportPlan: function (){
              
              if(this.cityPlan.length > 0){
                
                  // console.log(this.cityPlan);
                  var transports = [];
                  this.cityPlan.forEach(function(item, i){                        
                        if(item.place.length > 0){                    
                          item.place.filter(function(placeItem){
                              if(placeItem.type == 'transport'){
                                transports.push(placeItem);
                              }
                          });                    
                        }         
                  });

                  // for (let i=0; i < this.cityPlan.length; i++) {
                  //     if(this.cityPlan[i]){                   
                  //         // console.log(this.cityPlan[i].place);
                  //         if(this.cityPlan[i].place.length > 0){  
                  //             this.cityPlan[i].place.forEach(function(item, i){
                  //                 if(item.type == 'transport'){                                 
                  //                   transports.push(item);
                  //                 }
                  //             });
                  //         }
                  //     }
                  // }  

                  this.transportPlan = transports;     
                  console.log(this.transportPlan);
              }              
          },

          // помещаем в корзину
          addToBasket: function(ID, type){                

                  // console.log('--- busketTransport ID: '+transportID+' ---');  
                  let options = {token: 'admin_token', city:this.currentCity.id, transport_id:ID}                  
                  if(type == 'transport'){                      
                      // проверка на наличие транспорта в заказе
                      let warning = this.checkTransportPlan(options);
                      if(warning == false){
                        // помещаем транспорт в корзину
                        this.addTransport(options);
                        // console.log(options);
                      }                      
                  }                  
          }


      },
      created: function(){          
          
          // слушаем событие в сервисе при открытии детального окна информации об отелей    
          EventService.$on("viewTransportList", (Param) => {          
              console.log('--- EventService on ---'); 
              console.log(Param);

              // если в переменной транспорт уже есть данные, очищаем поля
              if(this.transport.length>0){                  
                  this.transport.length = 0;
                  this.currentCity = false;
                  this.cityPlan.length = 0;
                  this.transportPlan.length = 0;
              }

              // устанавливаем данные в поля
              this.getTransport(Param);
              this.currentCity = Param.city.city_info;
              this.cityPlan = Param.city.city_plan;
              this.setTransportPlan();

              // открываем окно 
              this.show = true; 
              
          });

      },
      updated: function(){

      },
      watch:{
          transport:function(val){
            // console.log(val);     
          }
      }
  }

</script>

<style scoped>

  .fake-modal{
    width: 400px;
    min-height: 200px;
    position:fixed;
    top:0;
    left: 0;
    /*background: #c7ebce;*/
    border: 1px solid #400000;
    background: #6a87a6;
    color:#fff;
    z-index: 300;
  }

  .buy {
    text-decoration-line: underline;
    color:#400000;
  }

</style>
