<template>
  <div class="addclinic"> 
          <div class="modal" v-bind:class="{'active-dark':show}" v-show="show">
             <div class="addclinics-container">
                <div class="caption">
                      <ul class="tab">
                        <li>
                          <span class="tab-text">add clinics</span>
                          <div class="activ_line"></div>
                        </li>
                        <li>
                          <span class="tab-text">map</span>
                          <div class="activ_line hidden"></div>
                        </li>
                      </ul>
                      <div class="close"  @click="closeWindow"></div>
                </div>

                <div class="nav">
                  <div class="order-info">
                      <span>{{ cityInfo.title }}</span>
                  </div>
                </div>

                <div class="scroll-box" v-if="clinics.length>0">
                    <div class="item" v-for="clinic in clinics" :id="clinic.id">
                      
                        <div class="clinic-img">
                          
                          <div class="img-list" v-if="clinic.link_img">
                             <div class="img">
                               <img :src="require('@/assets/products/clinics/'+clinic.link_img)" />
                             </div>
                          </div>
                          <div class="img-list" v-else>
                              <span style="font-family: Roboto; margin:10px auto; display:block"> фотография клиники отсутсвует</span>
                          </div>


                         
                          <div class="clear"></div>
                        </div>

                        <div class="clinic-info">
                            <div class="clinic-caption">{{ clinic.title }}</div>
                            <div class="clinic-text">{{ clinic.text }}</div>  
                            <div class="clinic-ditail" >
                                    <span @click="initClinicDetail(clinic.id)">Continue</span>
                            </div>                      
                        </div>

                    </div>                
                </div>
                <div v-else>
                    <span style="font-family: Roboto; margin:10px auto; display:block">
                        Нет данных по этому городу
                    </span>
                </div>
                  
                  
              </div>
          </div>

          <!-- 
          <clinicdetail :dates="dates"  v-if="(dates.date_from && dates.date_to)"></clinicdetail> -->

          <clinicdetail></clinicdetail>


  </div>


</template> 

<script>

import EventService from '../.././EventService.js';
import ClinicDetail from './ClinicDetail';
export default {

  name: "Clinics", 

  components: {   
    clinicdetail: ClinicDetail
  },

  data() { 

      return {            
            title: 'Список клиник для добавления',
            // API 
            sourceClinics: 'read/clinics/', // получаем клиники 

            clinics:[], // массив клиник                    
            cityInfo:false, // информация по текущему городу
            cityPlan:false,
            cityID:false,
            show: false,
            dates: {
              date_from:false,
              date_to:false          
            }          
      }

  }, 

  methods: {

      // закрытие окна
      closeWindow: function () {            
          this.resetData();
      },

      // сбрасываем данные
      resetData: function (){
        this.clinics.length = 0;
        this.cityInfo = false;
        this.cityInfo = false;
        this.show = false;
      },


      // --- получаем список клиник текущего города
      getClinics: function (cityID){
        console.log('--- getClinics ---');

        let options = {
          city:cityID
        }

        this.$http.post(this.sourceClinics, options).then(function (response) { 
            if(typeof (response.body) == 'object' && response.body.length>0){
                this.clinics = response.body;
                // открываем окно 
                this.show = true; 
            }else{
                this.show = true;
            }
        });

      },

      // 
      initClinicDetail: function(clinicID = 1){ 
            console.log('--- initClinicDetail ---');
            
            let cityBegin = this.cityPlan[0].begin;
            let cityEnd = this.cityPlan[this.cityPlan.length-1].end;
            console.log(cityBegin);
            console.log(cityEnd);

            let Param = {
                clinic_id: clinicID,
                city_info: this.cityInfo,
                city_plan: this.cityPlan,
                dates:{
                  date_from:cityEnd,
                  date_to:cityBegin
                }
            }

            EventService.viewClinicDetail(Param); 



      }

  },
  created: function(){    
      
      // слушаем событие в сервисе при открытии окна добавления отелей
      EventService.$on("viewClinics", (Param)=> { 

            console.log('--- viewClinics ---');
            console.log(Param); 

            if(this.clinics.length>0){                  
                  this.resetData();
            }   

            this.cityInfo = Param.cityinfo.city_info;  
            this.cityPlan = Param.cityplan;  
            this.getClinics(Param.city_id);            
            
      });

      EventService.$on("closeClinicsWindow", ()=> {
          this.resetData();
      });

      
  },
  watch:{
     test:function(val){
        console.log(val);
     }
  }
}
</script>

<style scoped>

.modal{
  width:100%; 
  height:100%; 
  position:fixed; 
  top:0; left:0;
  z-index: 100;
}

.active-dark {
  background: gray
}

.addclinics-container {
    width: 800px;
    padding: 0 0 16px 0;
    margin: 0 auto;
    background: #fff;
}

/**--- CAPTION ---**/
.addclinics-container .caption {
  padding: 17px 25px 0;
  width: auto;
  height: auto;
  box-shadow: 0 0 16px 0 rgba(42, 46, 56, 0.11);  
  display: flex;
}

.addclinics-container .close {
  width: 47px;
  height: 47px;
  background-image: url(../../assets/img/close.png);
  cursor: pointer;
}
.addclinics-container .tab {
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.addclinics-container .tab li {
   margin: 5px;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

.addclinics-container .activ_line {
  width: 154px;
  height: 4px;
  object-fit: contain;
  background-image: linear-gradient(70deg, #3d76b8, #03a5d9 42%, #f2655b 80%, #ff8337);
  margin: 10px 0;
}

.hidden {visibility:hidden;}

.addclinics-container .tab-text {
  display: inline-block;
  /*font-family: MuseoSansCyrl;*/
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  color: #039beb;
  text-transform: uppercase;
}



/**--- NAV ---**/
.addclinics-container .nav {
    height: 48px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #edf2f8;
}

.order-info{
  width: 436px;
  height: 18px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 2.8;
  text-align: left;
  color: #1a9fcf;
  padding: 0 0 0 31px; 

/*  align-self: center;*/
}

/**--- FILTERS ---**/

.filters {
  margin: 0 20px;
  width:0 auto;
  height: auto;
  padding: 17px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.filter-box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left:16px;

}


.filter-no {
  width: 20px;
  height: 23px;
  background-image:url(../../assets/img/clinics-img/filter-no.png);
  margin:0 7px 0 0;
 
}

.filter-sorting {
    width: 20px;
  height: 23px;
  background-color: #1a9fcf;
  margin:0 7px 0 0;
}

.filter-link {
  /*width: 44px;*/
/*  height: 13px;*/
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  /*text-align: left;*/
  color: #1a9fcf;

}



/** HOTEL INFO **/

.addclinics-container .item {
    /*width: 752px;*/
    width:auto;
    /*height: 176px;*/
    /*border-radius: 8px;*/
    border: none;
    margin: 16px 24px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 24px 0;
    border-bottom: 1px dotted #a8b6c9;
}

.addclinics-container .clinic-img {
    width: 400px;
    height: 224px;
    border: 1px solid #865B5B;
    background: #ACA0A0;
    position: relative;
}

.addclinics-container .clinic-img .img-caption {
  width: 168px;
  height: 40px;
  background-color: #92c104;
  position: absolute;
  top:0;
  left:0;
}

.clinic-img .img-caption span{
  height: 19px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 2.2;
  text-align: left;
  color: #ffffff;
  padding: 0 0 0 12px;
}

.img-list {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.img-list .img {
  width: 400px;
  height: 224px;
  background: #BE2D2D;
  border: none;
  padding: 0;
  margin: 0;
}


.pagination {
  margin:26px auto 0;
  width:100px;
  list-style-type: none;
  position: absolute;
  bottom:16px;
  left:125px;
}

.pagination li {
  float:left;
  margin:0 1px;
}

.pagination li a {
  display:block;
  width:12px;
  height:0;
  padding-top:12px;
  background-image:url(../../assets/img/clinics-img/pagination.png);
  background-position:0 0;
  float:left;
  overflow:hidden;
}

.pagination li.current a {
  background-position:0 -12px;
}

.clear {
  clear:both;
}

.clinic-info {
  width: 320px;
  /*height: 224px;*/
  height: auto;
  padding: 0 0 0 24px;
}

.clinic-caption {
  width: 205px;
  font-family: Roboto;
  font-size: 22px;
  color: #2a2e38;
  margin: 0 0 10px 0;
  text-align: left;
}

.clinic-text {
  width: 205px;
  font-family: Roboto;
  font-size: 14px;
  color: #2a2e38;
  margin: 0 0 10px 0;
  min-height: 120px;
  text-align: left;
}


.clinic-features{
  width: 160px;
  height: 32px;
  margin: 30px 0;

  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.clinic-features div {
   width: 40px;
   height: 100%;
   margin: 0;
   padding: 0;
  display: flex;
  align-items:center;
  justify-content:center;
}

.clinic-features .transport {
  background-color: #5c4f6d;
  
}

.clinic-features .transport span{
  display: block;
  width: 23.3px;
  height: 17px;
  object-fit: contain;
  background-image: url(../../assets/img/clinics-img/transport.png);  
}

.clinic-features .bus {
   background-color: #ada093;
}

.clinic-features .bus span{
  display: block;
  width: 20px;
  height: 20px;
  object-fit: contain;
  background-image: url(../../assets/img/clinics-img/bus.png);  
}

.clinic-features .marker {
   background-color: #f44f39;
}

.clinic-features .marker span{
  width: 14px;
  height: 19px;
  object-fit: contain;
  background-image: url(../../assets/img/clinics-img/marker.png);
}

.clinic-features .parking {
   background-color: #60b6b9;
}

.clinic-features .parking span {
  width: 19px;
  height: 19px;
  object-fit: contain;
  border-radius: 2px;
  background-image: url(../../assets/img/clinics-img/parking.png);
}

.clinic-ditail {
  width: 95%;
  height: 48px;
  border-radius: 8px;
  border: solid 2px #1a9fcf;
  text-align: center;
  margin: 0 0 10px 0;
  cursor: pointer;
}

.clinic-ditail span {
  width: 94px;
  height: 17px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.83;
  text-align: left;
  color: #1a9fcf;
}

/** SCROLL-BOX **/

.scroll-box {
  overflow: scroll;
  height: 300px;
  margin: 10px;
}

::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
   background: none;
   border:none;

}
</style>
