<template> 
  <div class="day">      
      <div v-if="(show && basketCity)" class="fake-modal deleteplace-container">
     
          <div class="caption">
            <div class="close"  @click="closeWindow"></div>
          </div>

          <div class="nav">
              <div class="order-info">
                  <span>Изменить число дней у города {{currentCity.title}}</span>
              </div>
          </div>

          <div v-if="currentCity">
              <span class="delete" v-if="typeAction == 'add'" @click="addDayToBasket(basketCity.id)" style="cursor:pointer;">Добавить день</span>
              <span class="delete" v-if="typeAction == 'del'" @click="deleteDayFromBasket(basketCity.id)" style="cursor:pointer;">Удалить день</span>
          </div> 


          <div class="warning" v-if="warning">
              <span>Внимание! При изменениях возникли ошибки.</span>
              <span>Из-за того , что вы собираетесь удалить день у вас пропадет бронь на:</span>          
              <div v-for="(item, index) in placeInfos">
                <p>{{item.title}}</p>
              </div>      
   

          </div>   


      </div>

      <!--  -->
  </div>

</template>

<script>
  import EventService from '../.././EventService.js';

  export default {
      name: "Day",  
      components: {
      },
      data() {        

        return {
            title: 'Добавить день',
            
            // API     
            sourceDays:'',
            sourceBasketDay:'orders/update/cities/', // добавляем день городу
            sourceBasketCity:'orders/ordercity/', // поличить город из корзины
            sourceHotelData: 'read/hotels/',  
            sourceDeleteCity:'orders/delete/cities/', // удаление городов    

            // переменные
            currentCity:false, // текущий город
            cityPlan:false, // план города (дни/места)
            basketCity:false,
            typeAction: false,
            show:false, 
            warning:false,
            errors:[],
            placeInfos:[]
        }

      },

      methods: {
          // закрытие окна
          closeWindow: function () {              
              this.show = false;
              this.warning = false;
              this.errors.length = 0;
          },

          // проверяем план дня
          checkDayPlan: function(options){        
          },

          // API для получения информации по дням в текущем городе
          getDayCalendar: function(Param){         
              console.log('--- getDayCalendar ---');

              // календарь добавить !!!
              // this.$http.post(this.sourceDays, options).then(function (response) {
              // }, function (error) {
              //     console.log(error);
              // });
          },

          // детальная информация об отеле
          getHotelDetail: function(hotelID){
              let options = {
                    token: 'admin_token',
                    id: hotelID
              }
              // Отправляем АЯКС на сервер с данныем и получем ответ
              this.$http.post(this.sourceHotelData, options).then(function (response) {    
                          // console.log(response.body);
                          if(typeof response.body == 'object'){
                            this.placeInfos.push(response.body);                             
                          }

                  }, function (error) {
                    console.log(error);
              });

                      
          },

          // помещаем день в корзину
          addDayToBasket:function(basketCityID){
              console.log('--- addDayToBasket ---');

              let options = {
                token:'admin_token',
                id:basketCityID,
                // добавляем 24 часа к date_to в City Plan
                date_to:Number(this.cityPlan[this.cityPlan.length-1].end) + 86400 
              }

              console.log(options);

              // добавляем новый день к городу
              this.$http.post(this.sourceBasketDay, options).then(function (response) {   
                  console.log(response.body);

                  let orderCity = response.body;
                  if(typeof orderCity['id'] !== "undefined"){
                      // обновляем список Planning List
                      // установить событие для Planning getCityList  
                      EventService.updatePlanningList(orderCity);
                      this.closeWindow();
                  }

              }, function (error) {
                  console.log(error);
              });                
          },

          // // удаляем транспорт из корзины
          deleteDayFromBasket: function(basketCityID){

                // console.log(this.errors);  
                // console.log(this.cityPlan);
                // console.log(this.currentCity);

                var currentDay = this.cityPlan[this.cityPlan.length-1];
                var yesterDay = this.cityPlan[this.cityPlan.length-2];
                var errors = [];
                var date_to = false;

                console.log(yesterDay);
                
                // если Текущий день не содержит транспорта/отелей и т.д.
                if(currentDay.place.length == 0){   
                  if(typeof(yesterDay) !== "undefined"){ // если Вчерашний день существует
                      if(yesterDay.place.length == 0){ date_to = Number(currentDay.end) - 86400; }
                      else { 
                        date_to = Number(yesterDay.place[yesterDay.place.length-1].date_to)+3600; }
                  } else{
                    date_to = Number(currentDay.end);

                  }
                }else{
                  currentDay.place.forEach(function(item, i){
                    errors.push(item);
                  });
                  this.errors = errors;
                }             

                if(this.errors.length>0) { 
                    // предупреждающее окно
                    console.log('--- WARNING ! ---');               
                    for (let i=0; i < errors.length; i++) {
                        if(errors[i].type == 'hotel'){                      
                           this.getHotelDetail(errors[i].id_hotel);          
                        }
                    }                 
                    // console.log(this.placeInfos);                   
                    this.show = false;
                    this.warning = true;             
                }
                else {                  
                
                  console.log(this.cityPlan.length);

                  if(this.cityPlan.length>1){

                    console.log('---  delete Day ---');
                    console.log(this.cityPlan);

                    let options = {
                          token:'admin_token',
                          id:basketCityID,                 
                          date_to:date_to
                    }
                    
                    // удаляем день у города
                    // this.$http.post(this.sourceBasketDay, options).then(function (response) {  
                    //       let orderCity = response.body;
                    //       if(typeof orderCity['id'] !== "undefined"){
                    //           // обновляем список Planning List
                    //           // установить событие для Planning getCityList  
                    //           EventService.updatePlanningList(orderCity);
                    //           this.closeWindow();
                    //       }
                    // });

                    this.$http.post(this.sourceBasketDay, options).then(response => {  
                        let orderCity = response.body;
                        if(typeof orderCity['id'] !== "undefined"){
                                // обновляем список Planning List
                                // установить событие для Planning getCityList  
                                EventService.updatePlanningList(orderCity);
                                this.closeWindow();
                        }
                    }, 
                    response => { // Произошла ошибка и обрабатываем ее тут
                        console.log(response);
                        EventService.updatePlanningList(true);
                    });

                  }else{
                    
                    console.log('---  delete City  ---');
                    // console.log(this.currentCity);
                    let options = {
                          token:'admin_token',
                          id_city :this.currentCity.id               
                    }
                    // удаляем город
                    this.$http.post(this.sourceDeleteCity, options).then(function (response) { 
                        let deleteCity = response.body;
                        //console.log(result);
                        // установить событие для Planning getCityList  
                        EventService.updatePlanningList(deleteCity);
                        this.closeWindow();
                    });
                  }

                    


                }
               
          },

          // получаем текущий город из корзины 
          getBasketCity:function(cityID){
              // console.log('--- getBasketCity ---');
              // console.log(this.currentCity);
              let options = {
                token:'admin_token',
                id:cityID
              }
              this.$http.post(this. sourceBasketCity, options).then(function (response) { 
                  // console.log(response.body);  
                  this.basketCity = response.body;              
              }, function (error) {
                  console.log(error);
              });   
          }
      },

      created: function(){         
          
          // слушаем событие в сервисе при открытии детального окна информации об отелей    
          EventService.$on("viewDay", (Params) => {          
              // console.log('--- viewDayAdd ---'); 
              // console.log(Params.type_action); 
              
              // если в переменной cityPlan уже есть данные, очищаем поля
              if(this.currentCity!== false){                  
                  this.cityPlan = false;
                  this.currentCity = false;
                  this.typeAction = false;
                  this.errors.length = 0;
              }
              
              // устанавливаем данные в поля
              this.currentCity = Params.city_info;
              this.cityPlan = Params.city_plan;
              this.typeAction = Params.type_action;
              this.getBasketCity(this.currentCity.id);

              // открываем окно 
              this.show = true;    
              this.warning = false;           
          });

      },

      updated: function(){

      },

      watch:{
          transport:function(val){
            // console.log(val);     
          }
      }
  }

</script>

<style scoped>

  /*.fake-modal, .warning{
    width: 400px;
    min-height: 200px;
    position:fixed;
    top:0;
    left: 0;
    border: 1px solid #400000;
    background: #6a87a6;
    color:#fff;
    z-index: 300;
  }

  .buy {
    text-decoration-line: underline;
    color:#400000;
  }*/

  .warning span {
    color:#bd264f;
  }

  .deleteplace-container  {
    width: 400px;
    padding: 0 0 16px 0;
    margin: 0 auto;
    background: #fff;
    position:fixed;
    top:0;
    left: 0;
    background: #fff;
    font-family: Roboto;
   /* border: 1px solid #400000;   */
    color:#454c58;
    z-index: 300;
}

.deleteplace-container  .caption {
    width: auto;
    height: auto;
    box-shadow: 0 0 16px 0 rgba(42, 46, 56, 0.11);  
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 38px 25px 16px 23px;
}

.delete {
    text-decoration-line: none;
    color:#039beb;
    cursor:pointer;
}

.close {
    width: 47px;
    height: 47px;
    background-image: url(../../assets/img/close.png);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.nav {
    height: 48px;
    margin: 0 0 10px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #edf2f8;
}

.order-info{
    width: 436px;
    height: 18px;
    font-family: Roboto;
    font-size: 17px;
    line-height: 2.8;
    text-align: left;
    color: #8f9aab;
    padding: 0 0 0 31px; 
}

</style>
