<template>  
  <div class="deleteplace">      


      <div class="modal" v-bind:class="{'active-dark':show}" v-show="show" style="z-index:200;">
         <!-- {{travelers.children}} -->
           <div  class="place-container"> 
                <div class="caption">                    
                    <div class="text">{{placeInfo.title}}</div>
                    <div class="close" @click="closeWindow"></div>
                </div>
      
                <div class="nav">
                  <div class="order-info">
                     <span> {{  timeConverter(planPlace.date_from, planPlace.type) }} - {{  timeConverter(planPlace.date_to,  planPlace.type) }} 

                      <span v-if="travelers.adults != false">
                                  Guests: 
                                  <a href="#">
                                      {{travelers.adults}}  adults 
                                      <span v-if="travelers.children"> 
                                        {{travelers.children.length}}  children 
                                      </span>
                                  </a>
                      </span>
                     </span>
                  </div>
                </div>

                <div class="place-detail">

                    <!--  {{ placeInfo }} -->
                    <!--   {{ planPlace }} -->

                    <div class="place-detail-img" v-if="placeInfo.link_img">       
                      <div  class="img-list" >     
                        <div class="img">
                            <img :src="require('@/assets/products/'+sourcePicture+placeInfo.link_img)" width="600px;"/>
                        </div>
                      </div>      
                    </div>

                    <div class="place-detail-info">   
                      <div class="delete" @click="deleteFromBasket(planPlace.id, planPlace.type)">
                          Удалить из корзины
                      </div>                         
                    </div>
                </div>
          
     
        </div> 

      </div>
  

  </div>
</template>

<script>
  import EventService from '../.././EventService.js';

  export default {
      name: "DeletePlace",  
      // props: ['hotelid', 'show'],
      components: {
      },
      data() {        

        return {
            title: 'Удалить место или транспорт в городе',

            // API            
            sourceTransport: 'read/transports/', // получаем транспорт  
            sourceDeleteTransport: 'orders/delete/transports/', // удаляем транспорт
            sourceHotel:'read/hotels/', // получаем отель
            sourceDeleteHotel:'orders/delete/hotels/', // удаляем отель
            sourceClinics: 'read/clinics/', // получаем клинику
            sourceTours: 'read/tours/', // получаем тур
            sourceRestaurants: 'read/restaurants/', // получаем ресторан
            sourceDeletePlaces: 'orders/test/deleteplaces/',  // удаляем место

            // переменные
            show:false, //
            placeInfo:false, // информация о заказнном транспорте/отеле  города
            currentCity:false, // информация о текущем городе
            planPlace:false, // план города (дни/места) 

            // пути к картинкам
            sourcePicture: false,
            hotel:'hotels/',         
            tour:'tours/',         
            restaurant:'restaurants/' ,      
            transport:'transports/',           
            clinic:'clinics/',
            test:'clinics/',

            // --- число взрослых и детей в туре
            travelers:false            
            
        }

      },

      methods: {

         backWindow:function(){
              this.show = false;
              this.resetData();
          },

          // закрытие окна
          closeWindow: function () {              
              this.show = false;
              this.resetData();
          },     

          // проверяем удаляемый транспорт у города
          checkDeletePlace: function(options){              
              console.log('--- checkDeletePlace ---');              
          },

          // сбрасываем данные
          resetData: function (){
            console.log('--- resetData ---');
            this.placeInfo = false;
            this.currentCity = false;
            this.planPlace = false;
            this.sourcePicture = false;
            this.travelers = false;
          },

          // помещаем в корзину
          deleteFromBasket: function(ID, type){               
              console.log('--- deleteFromBasket ---');  
              // console.log(type);

              let options = {
                  token: 'admin_token', 
                  city:this.currentCity.id, 
                  transport_id:ID
              }  

              // здесь должна быть проверка !!! 
              // удаление места/танспорта
              if(type == 'transport'){


                  let options = {
                    token:'admin_token',
                    id:ID
                  }
                  this.$http.post(this.sourceDeleteTransport, options).then(function (response) {
                      let message = response.body;
                      console.log(message);
                      EventService.updatePlanningList(message);
                      this.closeWindow();
                  });
              }

              if(type == 'hotel'){

                  let options = {
                        token:'admin_token',
                        id:ID,
                        order_city_id:this.planPlace.order_city_id                 
                  }


                  this.$http.post(this.sourceDeleteHotel, options).then(function (response) {
                        let message = response.body;
                        console.log(message);
                        EventService.updatePlanningList(message);
                        this.closeWindow();
                  });
              }

              if(type=='clinic' || type == 'tour' || type == 'restaurant'){


                  let options = {
                        token:'admin_token',
                        places:[]                
                  }

                  let place = {
                    type:type,
                    id:ID,
                    order_city_id :this.planPlace.order_city_id
                  }
                  options.places.push(place);

                  // console.log(options);


                  this.$http.post(this.sourceDeletePlaces, options).then(function (response) { 
                      console.log(response.body);  
                      EventService.updatePlanningList(true);   
                      this.closeWindow(); 
                  });    
              }

              
          },

          // получаем информацию по месту/транспорту
          getPlaceInfo: function(planPlace){

              console.log('--- getPlaceInfo ---');



              if(planPlace.type == 'transport'){

                    this.sourcePicture = this.transport;
                    let options = {
                        id:planPlace.transport_id
                    }                  
                    this.$http.post(this.sourceTransport, options).then(function (response) {
                        for(var i = 0; i<response.data.length; i++){                   
                          this.placeInfo = response.data[i];

                        }
                        this.show = true; 
                    });
              }
              else{

                let options = false;
                let source = false;

                  if(planPlace.type == 'hotel'){
                    this.sourcePicture = this.hotel;
                      options = {
                        id:planPlace.id_hotel
                      }  
                      source = this.sourceHotel;                
                  }

                  if(planPlace.type=='clinic'){

                      this.sourcePicture = this.clinic;

                      options = {
                          id:planPlace.id_clinic       
                      }
                      source = this.sourceClinics;
                  }

                  if(planPlace.type=='tour'){
                    this.sourcePicture = this.tour;
                      options = {
                          id:planPlace.id_tour       
                      }
                      source = this.sourceTours;
                  }

                  if(planPlace.type=='restaurant'){                    
                    this.sourcePicture = this.restaurant;
                      options = {
                          id:planPlace.id_restaurant       
                      }
                      source = this.sourceRestaurants;
                  }

                  // console.log(options);
                  console.log(planPlace);

                  this.$http.post(source, options).then(function (response) {
                      this.placeInfo = response.body;                      
                      this.placeInfo.type = planPlace.type;
                      this.show = true;  
                  });
              }     

          },

          timeConverter: function(timestamp, type) {
            // console.log(timestamp);
            let date = new Date(timestamp * 1000);
            // let dateString = date.toLocaleDateString();
            let dateString = false;
         
            if(type == 'transport'){
                let locales = 'en-US';
                let options = { day: 'numeric', month: 'numeric', hour12: false }
                dateString = date.toLocaleTimeString(locales, options);
            }else{
              dateString = date.toLocaleDateString();
            }
            
            return dateString;
          },

          transportOrderData: function(){
            
          },

          // setTravelers: function(){

          // }

      },
      created: function(){          
          
          // слушаем событие в сервисе при открытии детального окна информации об отелей    
          EventService.$on("viewPlaceDelete", (Params) => {          
              console.log('--- viewPlaceDelete ---'); 
              console.log(Params.plan_place);

              // // если в переменной placeInfo уже есть данные, очищаем поля
              if(this.placeInfo){                  
                  this.resetData();
              }


              // устанавливаем данные в поля
              this.travelers = EventService.travelers;
              this.getPlaceInfo(Params.plan_place);
              this.currentCity = Params.city_info;
              this.planPlace = Params.plan_place;

             // console.log(EventService.travelers);

              
          });

         // this.show = true;

      },
      updated: function(){

      },
      watch:{
          transport:function(val){
            // console.log(val);     
          }
      }
  }

</script>

<style scoped>

/*.deleteplace-container  {
    width: 400px;
    padding: 0 0 16px 0;
    margin: 0 auto;
    background: #fff;
    position:fixed;
    top:0;
    left: 0;
    background: #fff;
    font-family: Roboto;
    color:#454c58;
    z-index: 300;
}

.deleteplace-container  .caption {
    width: auto;
    height: auto;
    box-shadow: 0 0 16px 0 rgba(42, 46, 56, 0.11);  
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 38px 25px 16px 23px;
}

.delete {
    text-decoration-line: none;
    color:#039beb;
    cursor:pointer;
}

.close {
    width: 47px;
    height: 47px;
    background-image: url(../../assets/img/close.png);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.nav {
    height: 48px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #edf2f8;
}


*/

@charset "UTF-8";

@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(../../assets/fonts/Roboto-Light.ttf); 
 }

  .modal {
      width:100%; 
      height:100%; 
      position:fixed; 
      top:0; left:0;
      z-index: 100;
  }

.active-dark {
    background: gray
}


.place-container {
    width: 800px;
    padding: 0 0 16px 0;
    margin: 0 auto;
    background: #fff;
}


/******************** place DETAIL */

.place-container {
    width: 800px;
    padding: 0 0 16px 0;
    margin: 0 auto;
    background: #fff;
}

/**--- CAPTION ---**/
.place-container .caption {
  width: auto;
  height: auto;
  box-shadow: 0 0 16px 0 rgba(42, 46, 56, 0.11);  
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 17px 25px 16px 23px;
}

.back {
  width: 83px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  cursor: pointer;
}

.back .arrow {
  width: 19px;
  height: 32px;
  object-fit: contain;
  background-image:url(../../assets/img/back.png);
}

.back .inscription {
  width: 50px;
  height: 17px;
  /*font-family: MuseoSansCyrl;*/
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
  color: #039beb;
}

.place-container .caption .close {
  width: 47px;
  height: 47px;
  object-fit: contain;
  background-image:url(../../assets/img/close.png);
  cursor: pointer;
}

.place-container .caption .text {
  /*font-family: MuseoSansCyrl;*/
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  color: #2a2e38;
  text-transform: uppercase;
}

/**--- NAV ---**/
.place-container .nav {
    height: 48px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #edf2f8;
}

.order-info{
  width: 436px;
  height: 18px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 2.8;
  text-align: left;
  color: #1a9fcf;
  padding: 0 0 0 31px; 
}

.place-container .nav .order-info a{
    color: #1a9fcf;
    text-decoration: none;
    font-weight: 500;
}

/**--- FILTERS ---**/

.filters {
  margin: 0 20px;
  width:0 auto;
  height: auto;
  padding: 17px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.filter-box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left:16px;
}

.filter-no {
  width: 20px;
  height: 23px;
  margin:0 7px 0 0; 
}


.filter-sorting {
  width: 20px;
  height: 23px;
  background-color: #1a9fcf;
  margin:0 7px 0 0;
}

.filter-link {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  color: #1a9fcf;

}

.filter-sorting {
  width: 20px;
  height: 23px;
  background-color: #1a9fcf;
  margin:0 7px 0 0;
}

.filter-link {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  color: #1a9fcf;

}

/** place DETAIL **/

.place-detail {
    width:auto;
    border: none;
    margin: 16px 24px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 44px 0;
}

 .place-detail-img {
    width: 360px;
    height: 184px;
    background: #ACA0A0;
    position: relative;
}

.place-detail-img .img-text {
  width: 158px;
  height: 45px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 0.8;
  text-align: center;
  color: #ffffff;
  background: #ACA0A0;
  position: absolute;
  opacity: 0.5;
  top:77px;
  left:101px;
}

.place-detail-img .img-list {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.place-detail-img .img-list .img {
  width: 360px;
  height: 184px;
  background: #BE2D2D;
  border: none;
  padding: 0;
  margin: 0;
}

.place-detail-info {
  width: 392px;
  margin-left:23px;
  margin-top: 10px;
}

.place-detail-info .place-cat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.place-detail-info .place-cat .text{
  color: #a8b6c9;
  font-family: Roboto;
  font-size: 20px;
  text-transform: uppercase;
}

.place-cat-stars {
  width: 95px;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2px 0 0 12px;
}

.about, .amenities {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #a8b6c9;
}

.about .text, .amenities .text {
  height: 17px;
  font-family: Roboto;
  font-size: 24px;
  color: #1a9fcf;
  line-height: 1.8;
}

.about .disclosure, .amenities .disclosure {
  width: 7px;
  height: 16px;
  background-color: #92c104;
  align-self: center;
  margin-right:23px;
}

/** information SERVICEES**/

.information-filters {
  height: 48px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #edf2f8;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.information-filters-text {
  height: 19px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 2.3;
  text-align: left;
  color: #2a2e38;
  text-transform: uppercase;
  margin: 0 0 0 24px;
}

.information-filters-amenities, .information-filters-amenities div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.information-filters-amenities {
  padding: 16px 0 16px 0;
}

.air-condition .pic {
  width: 17px;
  height: 16px;
  background:#322929;
  margin: 0 7px 0;
}

.tv .pic {
  width: 17px;
  height: 16px;
  background:#322929;
  margin: 0 7px 0;
}

.sale-box .pic {
  width: 17px;
  height: 16px;
  background:#322929;
  margin: 0 7px 0;
}


.all-amenities {
  width: 91px;
  height: 16px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  color: #1a9fcf;
  cursor: pointer;
  margin: 0 24px 0 25px;
}

/** information ITEM**/

.information {
  width: 753px;
  border-radius: 8px;
  border: solid 1px #a8b6c9;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0;
}

.information-top {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom:1px solid #a8b6c9;
  padding-bottom:16px;
  margin-left: 32px;
}

.information-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0 0 0;
}

.information-text {
  font-family: Roboto;
  font-size: 20px;
  text-align: left;
  color: #2a2e38;
  text-transform: capitalize; 
}

.information-text span {
  color: #899bb3;
  text-transform: lowercase;
}

.information-caption .pair {
  width: 24px;
  height: 18px;
  margin:0 0 0 13px;
  background: #322929;
}

.information-person-filter, .select-person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.information-person-filter {
  margin: 16px 0 0 32px;
}   

.select-person {
  width: 112px;
}

.remove, .num, .add {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.remove {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  background-color: #e2e7ed;
  border: solid 1px #e2e7ed;
}

.remove span{ 
  width: 14px;
  height: 1px;
  background-color: #039beb;
  border: solid 1px #039beb;
  display: block;
  align-self: center;
}

.num {
  width: 33px;
  height: 34px;
  border-radius: 2px;
  background-color: #eceff3;

}

.num span {
  width: 7px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  display: block;
  align-self: center;
}

.add {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  background-color: #e2e7ed;
  border: solid 1px #e2e7ed;
}

.plus {
  width: 14px;
  height: 14px;
  background: #B22424;
  display: block;
  align-self: center;
}

.price {
  height: 21px;
  font-family: Roboto;
  font-size: 22px;
  line-height: 1.6;
  text-align: center;
   color: #3d76b8;
   margin: 0 10px 0 37px;
}

.price span {
  font-weight: bold;

}
.information-content {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-start;
  padding: 15px 5px 50px 25px;
  font-family: Roboto;
}

.information-pic {
  width: 80px;
  height: 80px;
  background-color: #2a2e38;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.information-pic .camera {
  width: 32px;
  height: 26px;
  opacity: 0.78;
  background-color: #ffffff;
  align-self: center; 
}

.information-amenities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-unit {
  margin: 0 60px 0 21px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  color: #2a2e38;
}

.service-item span {
  width: 11px;
  height: 10px;
  background-color: #ff763a;
  display: inline-block;
  margin: 0 8px 0 0;
}

.information {
  position:relative;
} 

.information-auxiliary {
  width: 435px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-left: solid 1px #a8b6c9;
  border-top: solid 1px #a8b6c9;    
}

.information-auxiliary div {
  width: 145px;
  height: 40px;
display: flex;
  flex-direction: row;
  justify-content: center;
}

.pay-now, .book-later {
 border-right: solid 1px #a8b6c9;
}

.information-auxiliary div span {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  color: #1a9fcf;
  display: block;
   align-self: center;
   cursor: pointer;
}

/** SCROLL-BOX **/

.scroll-box {
  overflow: scroll;
  margin: 10px;
}

::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
   background: none;
   border:none;

}

.delete {
    font-size:18px;
    font-family: Roboto;
    text-decoration-line: none;
    color:#039beb;
    cursor:pointer;
}

</style>
