<template>
  <div class="hoteldetail">  
        
        <div class="modal" v-bind:class="{'active-dark':show}" v-show="show" style="z-index:200;">           
            <div class="hoteldetail-container" v-if="state_from.date"> 

                      <div class="caption">
                          <div class="back" @click="backWindow">
                            <div class="arrow"></div>

                            <div class="inscription">Back</div>
                          </div>    
                          <div class="text">{{ hotelDetail.title }}</div>
                          <div class="close" @click="closeWindow"></div>
                      </div>

                      <div class="nav">                        
                        <div class="order-info">
                              <span>{{ cityInfo.title }}</span> 
                                / Check in
                                   <datepicker 
                                                  :placeholder="state_from.placeholder"
                                    :input-class="state_from.inputClass"
                                    class="datapickerIn datapicker_to datapicker"
                                        :disabled="state_from.disabled" 
                                        :value="state_from.disabled.to"
                                        :format="format"
                                        v-model="state_from.date"
                                        language="ru" 
                                        v-on:closed="changeDateFrom()">
                                    </datepicker>

                                <span style="margin:0 0 0 50px; color:#8f9aab;">Check out</span>

                                  <datepicker 
                                   :input-class="state_to.inputClass"
                                  class="datapickerOut datapicker_to datapicker"
                                    :disabled="state_to.disabled" 
                                    :value="state_to.disabled.to"
                                    v-model="state_to.date"
                                    :format="format"
                                    language="ru" 
                                   v-on:closed="getDates()">
                                </datepicker> 
                                

                        </div> 
                        <span class="warning" v-if="warning.dates">Вы не выбрали даты!</span>
                        <span class="success" v-if="warning.success">Вы добавили клинику!</span>

                         <div class="filters">     
                          <div class="filter-box">
                            <div class="filter-no"></div>
                            <div class="filter-link">Filters</div>
                          </div>
                          <div class="filter-box">
                            <div class="filter-sorting"></div>
                            <div class="filter-link">Sorting</div>
                          </div>
                        </div>


                      </div>

                      <div class="hotel-detail" v-if="hotelDetail">

                          <div class="hotel-detail-img">  
                            <div class="img-list" v-if="hotelDetail.link_img">     
                                <div class="img">
                                   <img :src="require('@/assets/products/hotels/'+hotelDetail.link_img)" width="600px;"/>
                                </div>
                            </div>
                          </div>

                          <div class="hotel-detail-info">

                            <div class="hotel-cat">
                            <div class="text">{{  hotelDetail.title }}</div>
                            <div class="hotel-cat-stars">
                               <div class="star" v-for="item in  hotelDetail.numStars"></div>
                            </div>          
                          </div>
                              
                            <div class="guest-rating">
                              <div class="text">Guest rating 
                                  <template v-if=" hotelDetail.rating === ''">
                                      <span>No rating</span>
                                  </template>
                                  <template v-else>
                                       <span>{{ hotelDetail.rating}}</span>
                                  </template>
                              </div>
                              <div class="disclosure"></div>
                            </div>
                            <div class="about">
                              <div class="text">About hotel</div>
                              <div class="disclosure"></div>
                            </div>
                            <div class="amenities">
                              <div class="text">Hotel amenities</div>
                              <div class="disclosure"></div>
                            </div>
                          </div>
                      </div>
                      

                       <div class="room-filters">
                        
                            <div class="room-filters-text">Standard Rooms</div>
                            
                            <div class="room-filters-amenities">
                              <div class="air-condition">
                                <div class="pic"></div>
                                <div class="text">Air condition</div>
                              </div>
                              <div class="tv">
                                <div class="pic"></div>
                                <div class="text">TV</div>
                              </div>
                              <div class="sale-box">
                                <div class="pic"></div>
                                <div class="text">Sale box</div>
                              </div>
                              <div class="all-amenities">
                                All amenities
                              </div>
                            </div>

                      </div>
                      
                      <div class="scroll-box">
                        <div class="room">

                          <div class="room-top">
                            
                            <div class="room-caption">
                              <div class="room-text">
                                Standard Twin Room  
                                <span>single beds</span>
                              </div>        
                              <div class="pair"></div>
                            </div>

                            <div class="room-person-filter">      
                              
                              <div class="select-person"> 
                                  <div class="remove"><span></span></div>
                                  <div class="num"><span>1</span></div>
                                  <div class="add">
                                    <span class="plus"></span>
                                  </div>
                              </div>

                              <div class="price"v-if=" hotelDetail.priceNight">{{  hotelDetail.priceNight }} €—24 night</div>
                            </div>

                          </div>

                          <div class="room-content">
                            
                            <div class="room-pic">
                              <div class="camera"></div>
                            </div>

                            <div class="room-amenities">
                              <div class="service-unit">
                                <div class="service-item"><span></span>No meals included</div>
                                <div class="service-item"><span></span>Free cancelation berofe August</div>
                              </div>

                              <div class="service-unit">
                                <div class="service-item"><span></span>Play now by card or Dreams</div>             
                                <div class="service-item"><span></span>Meal: Breakfast (+900.00)</div>
                              </div>
                            </div>
                            
                          </div>

                          <div class="room-auxiliary">
                            <div class="book"><span @click="initBookRoom(1);">Book</span></div>
                          </div>

                        </div>   

                        
                      </div>

                      

                     
            </div> 
        </div>


                          

  </div>
</template>

<script>
  import EventService from '../.././EventService.js';
  import Datepicker from 'vuejs-datepicker';
    
  export default {
    
       title: 'Детальная информая об отеле',  

      components: {
          Datepicker
      },

      data() {        
        
        return {
            title: 'Детальная информая о клинике',

            // API            
            sourceHotelData: 'read/hotels/',
            sourceBasketCity:'orders/ordercity/',

            sourceHotelAdd: 'orders/write/hotels/', // добавление отелей
            sourceHotelUpdate: 'orders/update/hotels/',            
            sourceAddPlaces:'orders/test/addplaces/', 

            // переменные
            show:false, 
            hotelDetail:false, // информация о текущем отеле
            basketCity:false,
            cityInfo:false, // информация по текущему городу
            cityPlan:false,
            travelling:{
              adults:false,
              children:false,
              final_child:false
            },
            warning:{
              dates:false,
              success:false
            },

            // --- Календарь 
            // Формат для календаря
            format: "dd.MM.yyyy, D",
            // дата отображения календаря 
            state_from : {
                      placeholder: '',
                      inputClass: 'title',
                          date: false,
                          disabled: {
                              to: false, // (дата начала заказа + час)*1000 
                              from: false
                          }
                      
            }, 
            state_to : {
                      placeholder: '',
                      inputClass: 'title',
                      date: false,
                      disabled: {
                          to: false, // (дата начала заказа + час)*1000 
                          from: false
                      }
            }, 
            // даты для заказа, передаются компонету отелю, клинике, туру
            order_dates: {
                      date_from:false,
                      date_to:false
            }              
        }      

      }, 

      created: function(){      
        
              
              // let hotelData = JSON.parse('{"hotel_id":13,"city_info":{"id":12,"title":"Ryazan","is_rus":1,"vel":1,"car":1,"bus":1,"region":"Рязанская область"},"city_plan":[{"day":1,"begin":1506449400,"place":[],"end":1506471000},{"day":2,"begin":1506471000,"place":[{"id":4,"order_city_id":42,"date_from":1506474600,"date_to":1506791400,"price":0,"id_clinic":1,"type":"clinic"},{"id":4,"order_city_id":42,"date_from":1506474600,"date_to":1506791400,"price":0,"id_clinic":1,"type":"clinic"}],"end":1506557400},{"day":3,"begin":1506557400,"place":[],"end":1506643800},{"day":4,"begin":1506643800,"place":[],"end":1506730200},{"day":5,"begin":1506730200,"place":[],"end":1506795000}],"dates":{"date_from":1506795000,"date_to":1506449400}}');

              // this.setDates(hotelData);
              // this.getHotelDetail(hotelData.hotel_id); // получаем данные по отелю
              // this.cityInfo = hotelData.city_info;
              // this.cityPlan = hotelData.city_plan;
              // this.getBasketCity(hotelData.city_info.id);         
              // this.show = true; 
         
               // слушаем событие в сервисе при открытии детального окна информации об отелей    
              EventService.$on("viewHotelDetail", (hotelData) => {

                  console.log('--- viewHotelDetail ---');


                  this.setDates(hotelData);
                  this.getHotelDetail(hotelData.hotel_id); // получаем данные по отелю
                  this.cityInfo = hotelData.city_info;
                  this.cityPlan = hotelData.city_plan;
                  this.getBasketCity(hotelData.city_info.id);
                  this.show = true; 
                  
              });

      },

      methods: {
          closeWindow: function () { 
              // сбрасываем данные по отелю
              this.resetData();       
              this.initCloseClinicsWindow();
          },

          // окно назад к окну списка отелей
          backWindow:function(){
               this.show = false;
               // this.resetData();
          },

          initCloseClinicsWindow: function(){
            EventService.closeHotelsWindow(); 
          }, 

          resetData: function () {
            this.show = false;
            this.hotelDetail = false;
            this.basketCity = false;
            this.cityInfo = false; // информация по текущему городу
            this.cityPlan = false;
            this.order_dates.date_from = false;
            this.order_dates.date_to = false;
            this.warning.dates = false;
            this.warning.success = false;
          }, 

          changeDateFrom: function (){
                // if(this.state_from.date.getTime() >= this.state_to.disabled.to.getTime()){                   
                if(this.state_from.date.getTime() >= this.state_to.date.getTime()){                   
                    this.state_to.disabled.to = new Date(this.state_from.date.valueOf() + 1000*3600*1);
                    this.state_to.date = new Date(this.state_from.date.valueOf() + 1000*3600*1);
                }else{
                  this.state_to.disabled.to = new Date(this.state_from.date.valueOf() + 1000*3600*1);
                }

                this.getDates();
          },         

         getDates: function(){
              console.log('--- getDates ---');
              this.order_dates.date_from = this.state_from.date;
              this.order_dates.date_to = this.state_to.date;
              this.warning.dates = false;

              // console.log(this.order_dates);
          }, 

          setDates: function(clinicData){
              this.state_from.date = new Date(clinicData.dates.date_to*1000);
              this.state_to.disabled.to = new Date(clinicData.dates.date_to*1000);
              this.state_to.disabled.from = new Date(clinicData.dates.date_from*1000);
              this.state_to.date = new Date(clinicData.dates.date_from*1000);
              this.state_to.disabled.to = new Date(clinicData.dates.date_to*1000);
              this.state_to.disabled.from = new Date(clinicData.dates.date_from*1000);
          },

          // API для получения детальной информации по отелю
          getHotelDetail: function(hotelID){
              let options = {
                  token: 'admin_token',
                  id: hotelID
              }
              // Отправляем АЯКС на сервер с данныем и получем ответ
              this.$http.post(this.sourceHotelData, options).then(function (response) {    
                         // console.log(response.body);
                        this.hotelDetail = response.body;
                }, function (error) {
                  console.log(error);
              });            
          },

          // получаем текущий город из корзины 
          getBasketCity:function(cityID){
              // console.log('--- getBasketCity ---');
              // console.log(this.currentCity);
              let options = {
                token:'admin_token',
                id:cityID
              }
              this.$http.post(this.sourceBasketCity, options).then(function (response) { 
                  // console.log(response.body);  
                  this.basketCity = response.body;              
              }, function (error) {
                  console.log(error);
              });   
          },

          // бронирование конманты в отеле
          initBookRoom: function(){
              console.log('--- initBookRoom ---');
              
              // здесь будет обращение к параметрам комнаты и ее проверка!
              // добавляем отель
              // this.addHotel();
              this._addHotel();
          },

          // добавляем текущий отель в корзину 
          _addHotel: function(){
            
              console.log('---  _addHotel ---'); 

              let options = {
                token:'admin_token',
                places:[],
                date_from:  new Date(this.order_dates.date_from).getTime() / 1000,
                date_to: new Date(this.order_dates.date_to).getTime() / 1000
              }

              let hotel = {
                    type:'hotel',
                    id_hotel:this.hotelDetail.id,
                    order_city_id :this.basketCity.id
              }

              options.places.push(hotel);
              console.log(options);
              // console.log(JSON.stringify(options.places));

              this.$http.post(this.sourceAddPlaces, options).then(function (response) {                      
                      // console.log(response.body);
                      if('addupdated' in response.body){
                          this.warning.success = true;
                          setTimeout(this.closeWindow(),30000);
                          EventService.updatePlanningList(true);
                      }
              });


          }
      },

      updated: function(){

      },

      watch: {

      }
  }

</script>

<style>

/*.datapickerIn, .datapickerOut {
    width: 50px!important;
    padding: 0;
    display: inline;
    position: absolute;
}*/

.datapickerIn {
  width: 50px !important;
  padding: 0 !important;
  display: inline !important;
  position: absolute !important;
}

.datapickerOut {
  width: 50px !important;
  margin: 0 0 0 5px !important;
  padding: 0 !important;
  display: inline !important;
  position: absolute !important;
}

.datapickerIn .title {
    background-color: #edf2f8;;
    font-size: 10px;
    font-family: Roboto;
    font-size: 17px;
    line-height: 2.8;
    text-align: left;
    cursor:pointer;
    color: #1a9fcf;
    padding: 0;
    margin: 0;
    width: 45px;
    height: 18px;
}


.datapickerOut .title {
    background-color: #edf2f8;;
    font-size: 10px;
    font-family: Roboto;
    font-size: 17px;
    line-height: 2.8;
    text-align: left;
    cursor:pointer;
    color: #1a9fcf;
    padding: 0;
    margin: 0;
    width: 45px;
    height: 18px;
}

</style>

<style scoped>

 .modal {
      width:100%; 
      height:100%; 
      position:fixed; 
      top:0; left:0;
      z-index: 100;
  }

.active-dark {
    background: gray
}

.hoteldetail-container {
    width: 800px;
    padding: 0 0 16px 0;
    margin: 0 auto;
    background: #fff;
}


.nav .warning {
  color: #e24064;
  display: block;
  margin: 10px 100px 0 0;
}

.nav .success {
  color: #038cd6;
  display: block;
  margin: 10px 100px 0 0;
}

/******************** HOTEL DETAIL */

.hoteldetail-container {
    width: 800px;
    padding: 0 0 16px 0;
    margin: 0 auto;
    background: #fff;
}

/**--- CAPTION ---**/
.hoteldetail-container .caption {
  width: auto;
  height: auto;
  box-shadow: 0 0 16px 0 rgba(42, 46, 56, 0.11);  
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 17px 25px 16px 23px;
}

.back {
  width: 83px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  cursor: pointer;
}

.back .arrow {
  width: 19px;
  height: 32px;
  object-fit: contain;
  background-image:url(../../assets/img/hoteldetail-img/back.png);
}

.back .inscription {
  width: 50px;
  height: 17px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
  color: #039beb;
}

.hoteldetail-container .caption .close {
  width: 47px;
  height: 47px;
  object-fit: contain;
  background-image:url(../../assets/img/hoteldetail-img/close.png);
  cursor: pointer;
}

.hoteldetail-container .caption .text {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  color: #2a2e38;
  text-transform: uppercase;
}

/**--- NAV ---**/
.hoteldetail-container .nav {
    height: 48px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #edf2f8;
}

.order-info{
  width: 436px;
  height: 18px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 2.8;
  text-align: left;
  color: #8f9aab;
  padding: 0 0 0 31px; 
}

.order-info span {
  color: #1a9fcf;
}

/**--- FILTERS ---**/

.filters {
  margin: 0 20px;
  width:0 auto;
  height: auto;
  padding: 17px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.filter-box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left:16px;
}

.filter-no {
  width: 20px;
  height: 23px;
  margin:0 7px 0 0; 
}


/*.filter-sorting {
  width: 20px;
  height: 23px;
  background-color: #1a9fcf;
  margin:0 7px 0 0;
}*/

.filter-link {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  color: #1a9fcf;

}

.filter-sorting { 
  width: 20px;
  height: 23px;
   background-image:url(../../assets/img/addhotel-img/sorting.png);
  margin:0 7px 0 0;
}

.filter-link {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  color: #1a9fcf;
}


/** HOTEL DETAIL **/

.hotel-detail {
    width:auto;
    border: none;
    margin: 16px 24px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 44px 0;
}

 .hotel-detail-img {
    width: 360px;
    height: 184px;
    background: #ACA0A0;
    position: relative;
}

.hotel-detail-img .img-text {
  width: 158px;
  height: 45px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 0.8;
  text-align: center;
  color: #ffffff;
  background: #ACA0A0;
  position: absolute;
  opacity: 0.5;
  top:77px;
  left:101px;
}

.hotel-detail-img .img-list {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.hotel-detail-img .img-list .img {
  width: 360px;
  height: 184px;
  background: #BE2D2D;
  border: none;
  padding: 0;
  margin: 0;
}

.hotel-detail-info {
  width: 392px;
  margin-left:23px;
  margin-top: 10px;
}

.hotel-detail-info .hotel-cat {
  /*height: 30px;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.hotel-detail-info .hotel-cat .text{
  color: #a8b6c9;
  font-family: Roboto;
  font-size: 20px;
  text-transform: uppercase;
}

.hotel-cat-stars {
  width: 95px;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2px 0 0 12px;
}

.guest-rating {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #a8b6c9;
}

.guest-rating .text {
  height: 17px;
  font-family: Roboto;
  font-size: 24px;
  color: #92c104;

}
.guest-rating span {
  font-weight: bold;
  line-height: 1.83;
  text-align: center;
  color: #92c104;
}

.guest-rating .disclosure {
  width: 7px;
  height: 16px;
  background-color: #92c104;
  align-self: center;
  margin-right:23px;
}

.about, .amenities {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #a8b6c9;
}

.about .text, .amenities .text {
  height: 17px;
  font-family: Roboto;
  font-size: 24px;
  color: #1a9fcf;
  line-height: 1.8;
}

.about .disclosure, .amenities .disclosure {
  width: 7px;
  height: 16px;
  background-color: #92c104;
  align-self: center;
  margin-right:23px;
}

/** ROOM SERVICEES**/

.room-filters {
  height: 48px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #edf2f8;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.room-filters-text {
  height: 19px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 2.3;
  text-align: left;
  color: #2a2e38;
  text-transform: uppercase;
  margin: 0 0 0 24px;
}

.room-filters-amenities, .room-filters-amenities div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.room-filters-amenities {
  padding: 16px 0 16px 0;
}

.air-condition .pic {
  width: 17px;
  height: 16px;
  background-image:url(../../assets/img/hoteldetail-img/condey.png);
  margin: 0 7px 0;
}

.tv .pic {
  width: 17px;
  height: 16px;
  background-image:url(../../assets/img/hoteldetail-img/tv.png);
  margin: 0 7px 0;
}

.sale-box .pic {
  width: 12px;
  height: 16px;
  background-image:url(../../assets/img/hoteldetail-img/safe-box.png);
  margin: 0 7px 0;
}


.all-amenities {
  width: 91px;
  height: 16px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  color: #1a9fcf;
  cursor: pointer;
  margin: 0 24px 0 25px;
}

/** ROOM ITEM**/

.room {
  width: 753px;
  height: 216px;
  border-radius: 8px;
  border: solid 1px #a8b6c9;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0;
}

.room-top {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom:1px solid #a8b6c9;
  padding-bottom:16px;
  margin-left: 32px;
}

.room-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0 0 0;
}

.room-text {
  font-family: Roboto;
  font-size: 20px;
  text-align: left;
  color: #2a2e38;
  text-transform: capitalize; 
}

.room-text span {
  color: #899bb3;
  text-transform: lowercase;
}

.room-caption .pair {
  width: 24px;
  height: 18px;
  margin:0 0 0 13px;
  background-image:url(../../assets/img/hoteldetail-img/people.png);
}

.room-person-filter, .select-person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.room-person-filter {
  margin: 16px 0 0 32px;
}   

.select-person {
  width: 112px;
}

.remove, .num, .add {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.remove {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  background-color: #e2e7ed;
  border: solid 1px #e2e7ed;
}

.remove span{ 
  width: 14px;
  height: 1px;
  background-color: #039beb; 
  border: solid 1px #039beb;
  display: block;
  align-self: center;
}

.num {
  width: 33px;
  height: 34px;
  border-radius: 2px;
  background-color: #eceff3;

}

.num span {
  width: 7px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  display: block;
  align-self: center;
}

.add {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  background-color: #e2e7ed;
  border: solid 1px #e2e7ed;
}

.plus {
  width: 14px;
  height: 14px;
  background-image:url(../../assets/img/hoteldetail-img/plus.png);
  display: block;
  align-self: center;
}

.price {
/*  width: 163px;*/
  height: 21px;
  font-family: Roboto;
  font-size: 22px;
  line-height: 1.6;
  text-align: center;
   color: #3d76b8;
   margin: 0 0 0 37px;
}

.price span {
  font-weight: bold;

}
.room-content {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-start;
  margin: 16px 0 0 32px;  
}

.room-pic {
  width: 80px;
  height: 80px;
  background-color: #2a2e38;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.room-pic .camera {
  width: 32px;
  height: 26px;
  opacity: 0.78;
  background-color: #ffffff;
  align-self: center; 
}

.room-amenities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-unit {
  margin: 0 60px 0 21px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  color: #2a2e38;
}

.service-item {
    /*border: 1px solid #000; */
}

.service-item span {
  width: 11px;
  height: 10px;
  background-color: #ff763a;
  display: inline-block;
  margin: 0 8px 0 0;
}

.room {
  position:relative;
} 

.room-auxiliary {
  /*width: 435px;*/
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-left: solid 1px #a8b6c9;
  border-top: solid 1px #a8b6c9;    
}

.room-auxiliary div {
  width: 145px;
  height: 40px;
display: flex;
  flex-direction: row;
  justify-content: center;
}

.pay-now, .book-later {
 border-right: solid 1px #a8b6c9;
}

.room-auxiliary div span {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  color: #1a9fcf;
  display: block;
  align-self: center;
  cursor: pointer;
}

/** SCROLL-BOX **/

.scroll-box {
  overflow: scroll;
  height: 200px;
  margin: 10px;
}

::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
   background: none;
   border:none;

}

</style>
