<template>
   <div class="addhotel"> 
          <div class="modal" v-bind:class="{'active-dark':show}" v-show="show">
              <div class="addhotels-container">
                  
                <div class="addhotels-container">

                    <div class="caption">
                      <ul class="tab">
                        <li>
                          <span class="tab-text">add hotels</span>
                          <div class="activ_line"></div>
                        </li>
                        <li>
                          <span class="tab-text">map</span>
                          <div class="activ_line hidden"></div>
                        </li>
                      </ul>
                      <div class="close" @click="closeWindow"></div>
                  </div>

                  <div class="nav">

                    <div class="order-info">                        
                        <span>{{ cityInfo.title }} /                         
                            <span v-if="travelling.adults != false">
                                  Guests: 
                                  <a href="#"> 
                                      {{travelling.adults}} adults, 
                                      <span v-if="travelling.children != false">
                                           children 
                                           (
                                              <span  v-for="(child, index) in travelling.children">
                                                {{child.age}} 
                                                <span v-if="index != travelling.final_child">,</span>
                                              </span>
                                            )

                                      </span>
                                  </a>
                            </span>

                        </span>
                    </div>

                    <div class="filters">     
                      <div class="filter-box">
                        <div class="filter-no"></div>
                        <div class="filter-link">Filters</div>
                      </div>

                      <div class="filter-box">
                        <div class="filter-sorting"></div>
                        <div class="filter-link">Sorting</div>
                      </div>
                    </div>
                  </div> 

                  <div class="scroll-box">
                      <div class="item" v-for="hotel in hotels" :id="hotel.id">
                        
                        
                          <div class="hotel-img">

                            <div class="img-caption">                              
                                <template v-if="hotel.rating === ''">
                                    <span>{{hotel.rating}} No rating</span>
                                </template>
                                <template v-else>
                                    <span v-if="(hotel.rating == '10' || hotel.rating == '9' || hotel.rating == '8' )">{{hotel.rating}} Very good</span>
                                    <span v-if="(hotel.rating == '7' || hotel.rating == '6')">{{hotel.rating}} Good</span>
                                    <span v-if="(hotel.rating == '5' || hotel.rating == '4')">{{hotel.rating}} Norm</span>
                                    <span v-if="(hotel.rating == '3' || hotel.rating == '2')">{{hotel.rating}} Bad</span>
                                </template>  
                            </div>

                            <div class="img-list" v-if="hotel.link_img">     
                                <div class="img">
                                   <img :src="require('@/assets/products/hotels/'+hotel.link_img)" width="400px;"/>
                                </div>
                            </div>


                            <div class="img-list" v-else>
                                 <span style="font-family: Roboto; margin:50px auto; display:block;"> фотография отеля отсутсвует</span>
                            </div>

                           <!--  <ul class="pagination">
                              <li class="current"><a href="#1">1</a></li>
                              <li><a href=""></a></li>
                              <li><a href=""></a></li>
                              <li><a href=""></a></li>
                            </ul> -->
                            <div class="clear"></div>

                          </div>


                          <div class="hotel-info">

                              <div class="hotel-caption">{{ hotel.title }}</div>
                              <div class="hotel-stars">
                                <div class="star" v-for="item in hotel.numStars"></div>
                              </div>
                              <div class="hotel-price" v-if="hotel.priceNight">{{ hotel.priceNight }} €—1 night</div>

                              <div class="hotel-features">
                                <div class="transport" v-if="hotel.transportCar"><span></span></div>
                                <div class="bus" v-if="hotel.transportBus"><span></span></div>
                                <div class="marker" v-if="hotel.marker"><span></span></div>
                                <div class="parking" v-if="hotel.parking"><span></span></div>
                              </div>
                              <div class="hotel-ditail"><span :id="hotel.id" @click="initHotelDetail(hotel.id)">Continue</span></div>

                          </div>

                      </div>
                  </div>

                    
                </div>


              </div>
          </div>

      </div>
</template> 

<script>

import EventService from '../.././EventService.js';
export default {
  name: "Hotels",  
  // props: ['show'],
  components: {   
      // hoteldetail:HotelDetail   
  },
  data() {    
      return {            
            title: 'Список отелей для добавления',
            // --- Hotels          
            hotels:[], // массив отелей                     
            cityInfo:false, // информация по текущему городу
            cityPlan:false,
            show: false,
            travelling:{
              adults:false,
              children:false,
              final_child:false
            }
      }

  }, 
  methods: {
      initHotelDetail: function(hotelID){
          console.log('--- initHotelDetail ---');
          let cityBegin = this.cityPlan[0].begin;
          let cityEnd = this.cityPlan[this.cityPlan.length-1].end;
          
          let Param = {
            hotel_id: hotelID,
            city_info: this.cityInfo,
            city_plan: this.cityPlan,
            dates:{
              date_from:cityEnd,
              date_to:cityBegin
            }
          }

          // EventService.viewHotelDetail(hotelID, this.cityInfo, this.cityPlan);
          EventService.viewHotelDetail(Param);
      },

      closeWindow: function () {              
          this.resetData()
      },

      // сбрасываем данные
      resetData: function (){
          this.hotels.length = 0;
          this.cityInfo = false;
          this.show = false;
      },


      // getUrl:function (link_img = 'hotel-pic-1.jpg'){
      //   return require('../../assets/products/hotels/' + link_img)
      // }
  },
  created: function(){    
      // слушаем событие в сервисе при открытии окна добавления отелей
      EventService.$on("viewHotels",(hotelData)=> { 

            if(this.hotels.length>0){                  
                  this.resetData();
            }   

            this.hotels = hotelData.hotels;
            this.cityInfo = hotelData.cityinfo;  
            this.cityPlan = hotelData.cityplan;  
            this.show = hotelData.show;   

            // console.log(hotelData);  
      });

      EventService.$on("traveling", (Param)=> {
          // console.log('--- traveling ---');
          this.travelling.adults = Param.num_adults;
          this.travelling.children =  Param.num_children;
          if(Param.num_children.length > 0){
            this.travelling.final_child = Param.num_children.length - 1;
            // console.log(Param.num_children);
          }
          // console.log(this.travelling.children.length);

      }); 

      EventService.$on("closeHotelsWindow", ()=> {
        console.log('--- closeHotelsWindow ---')
          this.resetData();
      });
  },
  watch:{
     
  }
}
</script>

<style scoped>

.fake-modal{
  width: 400px;
  min-height: 150px;
  position:fixed;
  top:0;
  right: 0;
  background: #acc4e3;
}

.modal{
  width:100%; 
  height:100%; 
  position:fixed; 
  top:0; left:0;
  z-index: 100;
}

.active-dark {
  background: gray
}

/**************** ADD HOTEL*/

.addhotels-container {
    width: 800px;
    padding: 0 0 16px 0;
    margin: 0 auto;
    background: #fff;
    font-family: Roboto;
}

.addhotels-container .caption {
  padding: 12px 25px 0;
  width: auto;
  height: auto;
  box-shadow: 0 0 16px 0 rgba(42, 46, 56, 0.11);  
  display: flex;
}

.addhotels-container .close {
  width: 47px;
  height: 47px;
  object-fit: contain;
  background-image: url(../../assets/img/close.png);
  cursor: pointer;
}
.addhotels-container .tab {
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.addhotels-container .tab li {
   margin: 5px;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

.addhotels-container .activ_line {
  width: 154px;
  height: 4px;
  object-fit: contain;
  background-image: linear-gradient(70deg, #3d76b8, #03a5d9 42%, #f2655b 80%, #ff8337);
  margin: 10px 0;
}

.hidden {visibility:hidden;}

.addhotels-container .tab-text {
  display: inline-block;
  /*font-family: MuseoSansCyrl;*/
  font-size: 22px;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  color: #039beb;
  text-transform: uppercase;
}

/**--- NAV ---**/
.addhotels-container .nav {
    height: 48px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #edf2f8;
}

.addhotels-container .order-info{
  width: 436px;
  height: 18px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 2.8;
  text-align: left;
  color: #a8b6c9;
  padding: 0 0 0 31px; 
}

.addhotels-container .order-info a {
  color:#1a9fcf;
  text-decoration: none;
  font-weight: 500;
}

/**--- FILTERS ---**/

.addhotels-container .filters {
  margin: 0 20px;
  width:0 auto;
  height: auto;
  padding: 17px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.addhotels-container .filter-box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left:16px;
}

.addhotels-container .filter-no {
  width: 20px;
  height: 23px;
  background-image:url(../../assets/img/addhotel-img/filter-no.png);
  margin:0 7px 0 0; 
}

.addhotels-container .filter-sorting {
  width: 20px;
  height: 23px;
  /*background-color: #1a9fcf;*/
  background-image:url(../../assets/img/addhotel-img/sorting.png);
  margin:0 7px 0 0;
}

.addhotels-container .filter-link {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  color: #1a9fcf;
}

/** HOTEL INFO **/

.addhotels-container .item {
    width:auto;
    border: none;
    margin: 16px 24px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 24px 0;
    border-bottom: 1px dotted #a8b6c9;
}

.addhotels-container .hotel-img {
    width: 400px;
    height: 224px;
    border: 1px solid #865B5B;
    background: #ACA0A0;
    position: relative;
}

.addhotels-container .hotel-img .img-caption {
  width: 168px;
  height: 40px;
  background-color: #92c104;
  position: absolute;
  top:0;
  left:0;
}

.hotel-img .img-caption span{
  height: 19px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 2.2;
  text-align: left;
  color: #ffffff;
  padding: 0 0 0 12px;
}

.img-list {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.img-list .img {
  width: 400px;
  height: 224px;
  background: #BE2D2D;
  border: none;
  padding: 0;
  margin: 0;
}

.pagination {
  margin:26px auto 0;
  width:100px;
  list-style-type: none;
  position: absolute;
  bottom:16px;
  left:125px;
}

.pagination li {
  float:left;
  margin:0 1px;
}

.pagination li a {
  display:block;
  width:12px;
  height:0;
  padding-top:12px;
  background-image:url(../../assets/img/addhotel-img/pagination.png);
  background-position:0 0;
  float:left;
  overflow:hidden;
}

.pagination li.current a {
  background-position:0 -12px;
}

.clear {
  clear:both;
}

.hotel-info {
  width: 320px;
  /*height: 224px;*/
  height: auto;
  padding: 0 0 0 24px;
}

.hotel-caption {
  /*width: 205px;*/
  font-family: Roboto;
  font-size: 24px;
  color: #2a2e38;
  margin: 0 0 10px 0;
  text-align: left;
}

.hotel-stars {
  width: 95px;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.star {
  width: 16px;
  height: 15px;
  border: none;
  background-image: url(../../assets/img/addhotel-img/star.png);
}

.hotel-price {
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.83;
  text-align: left;
  color: #3d76b8;
}

.hotel-features{
  width: 160px;
  height: 32px;
  margin: 30px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.hotel-features div {
   width: 40px;
   height: 100%;
   margin: 0;
   padding: 0;
  display: flex;
  align-items:center;
  justify-content:center;
}

.hotel-features .transport {
  background-color: #5c4f6d;  
}

.hotel-features .transport span{
  display: block;
  width: 23.3px;
  height: 17px;
  object-fit: contain;
  background-image: url(../../assets/img/addhotel-img/transport.png);  
}

.hotel-features .bus {
   background-color: #ada093;
}

.hotel-features .bus span{
  display: block;
  width: 20px;
  height: 20px;
  object-fit: contain;
  background-image: url(../../assets/img/addhotel-img/bus.png);  
}

.hotel-features .marker {
   background-color: #f44f39;
   border: none;
}

.hotel-features .marker span{
  width: 14px;
  height: 19px;
  object-fit: contain;
  background-image: url(../../assets/img/addhotel-img/marker.png);
}

.hotel-features .parking {
   background-color: #60b6b9;
}

.hotel-features .parking span {
  width: 19px;
  height: 19px;
  object-fit: contain;
  border-radius: 2px;
  background-image: url(../../assets/img/addhotel-img/parking.png);
}

.hotel-ditail {
  width: 95%;
  height: 48px;
  border-radius: 8px;
  border: solid 2px #1a9fcf;
  text-align: center;
  text-decoration: none;
  color: #1a9fcf;
}

.hotel-ditail span {
  width: 94px;
  height: 17px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.83;
  text-align: left;  
}
.hotel-ditail {
  cursor:pointer;
}


/** SCROLL-BOX **/

.addhotels-container .scroll-box {
  overflow: scroll;
  height: 280px;
  padding: 8px 0;
}

::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
   background: none;
   border:none;

}


</style>
