<template> 

  <div class="middlecity">             
      <div class="modal" v-bind:class="{'active-dark':show}" v-show="show">

                <div class="points-container">

                <div class="caption">
                        <ul class="tab">
                          <li>
                            <span class="tab-text">list</span>
                            <div class="activ_line"></div>
                          </li>
                          <li>
                            <span class="tab-text">map</span>
                            <div class="activ_line hidden"></div>
                          </li>
                        </ul>
                        <div class="points-close" @click="closeWindow"></div>
                    </div>

                     <div class="points-dest">      

                        <div v-for="(filter, direction) in filters" :class="filter.class">               
                            <span class="dest-text">{{ filter.title }}</span>
                            <div class="transport-box" :id="direction">
                                  <div v-for="item in filter.items" :class="[item.active ? 'active' : '', item.title]"  
                                  @click="changeFilters(item, direction, $event)">
                                  <span v-if="item.title == 'all'" ref="all">all</span>
                                  <span v-else></span>                            
                                  </div>
                            </div>               
                        </div>
                    </div>


                    <div class="filters">
                      <div class="filter-box">    
                        <div class="marker"></div>
                        <div class="city-name">
                          <input type="text" placeholder="City name destination"  @change="searchCity">
                          <div class="bottom-line"></div>
                          <p ></p>
                        </div>
                      </div>
                      
                      <div class="filter-box">
                        <div class="filter-icon"></div>
                        <div class="filter-link">filters</div>
                      </div>
                    </div>    

                     <div class="" v-show="message.show">
                      <h1>{{message.title}}</h1>
                    </div>
            

                  
                    <div class="scroll-box" v-if="orders_.middleCities.length>0">      

                          <div class="points-item" v-for="city in orders_.middleCities" v-show="city.show">
                          {{ city.show }}
                              <div class="points-caption">
                                <span>{{ city.title }}</span>  {{ city.region }}
                              </div>

                              <div class="points-objects">
                                <div class="tour-objects"></div>
                                <div class="transport-box tour-transport">
                                  <div class="train"><span></span></div>
                                  <div class="bus"><span></span></div>
                                  <div class="bicycle"><span></span></div>    
                                </div>
                              </div>

                              <div class="travel-time">
                                Total travel time between points: <span> ~ 24h 45 min</span>
                              </div>
                              <div class="travel-time-dist">
                                Travel time to destination 8h, from destination: 8h 45min
                              </div>
                              <div class="disclosure"></div>
                          </div>

                    </div>

                    
              </div>

      </div>
      
  </div>

</template>

<script>
  import EventService from '../.././EventService.js';

  export default {
      name: "Middlecity",  
      components: {
      },
      data() {        

        return {
            title: 'Промежуточный город',
            // API 
            sourceMiddleCity:'read/searchcity/', // прямой путь
            sourceMiddleTransport:'read/searchmiddlecity/',
            
            // переменные            
            cityInfo:[], // информация о начальном городе городе
            nextcityInfo:[], // информация о конечном городе
            middleCities:[],
            transportsFrom:[],
            transportsTo:[],
            cityID:false,
            nextcityID:false,            
            // message:false,
            message: {
                  title:'Нет городов',
                  show:false,
                  warning:false
            },
            show:false,
            move:false, // пожно ли сдвинуть даты у города конечного назмачения
           
            // фильтры для фильтрации городов
            filters: {
                 to: {
                    items:{
                      air: {active :false, show: true, title: 'air'},
                      bus: {active :false, show: true, title: 'bus'},
                      rgd: {active :false, show: true, title: 'rgd'},
                      car: {active :false, show: true, title: 'car'},
                      all: {active :true, show: true, title: 'all'}
                    },
                    title:'to-destination',
                    class:'dest-to'          
                  },
                  from: {
                    items:{
                      air: {active :false, show: true, title: 'air'},
                      bus: {active :false, show: true, title: 'bus'},
                      rgd: {active :false, show: true, title: 'rgd'},
                      car: {active :false, show: true, title: 'car'},
                      all: {active :true, show: true, title: 'all'}
                    },
                    title:'from-destination',
                    class:'dest-from'
                  },
                  checked: {
                    to: 'all',
                    from: 'all'
                  }      
            },
            orders_: {             

              "middleCities":[

                    {
                      "id":13,
                      "title":"Грозный",
                      "is_rus":1,
                      "vel":0,
                      "car":0,
                      "bus":0,
                      "region":'Чеченская Республика',
                      "from_middle":[
                          "bus",
                          "air"
                      ],
                      "to_middle":[
                          "bus"
                      ],
                      "show":true
                    },


                    {
                      "id":14,
                      "title":"Волгоград",
                      "is_rus":1,
                      "vel":0,
                      "car":0,
                      "bus":0,
                      "region":'Волгоградская область',
                      "from_middle":[
                        "car"
                      ],
                      "to_middle":[
                        "bus"
                      ],
                      "show":true
                    }

              ],

              // транспорт из начального в промежуточный
              "transports_from": [
                  {
                      "id": 25,
                      "title": "автобус Краснодар-Грозный",
                      "id_city_from": 9,
                      "id_city_to": 13,
                      "type": "bus"
                  },
                  {
                      "id": 31,
                      "title": "автобус Краснодар-Волгоград",
                      "id_city_from": 9,
                      "id_city_to": 14,
                      "type": "bus"
                  }
              ],

              // транспорт из промежуточного в конечный
              "transports_to": [
                  {
                      "id": 26,
                      "title": "автобус Грозный-Ростов",
                      "id_city_from": 13,
                      "id_city_to": 12,
                      "type": "bus"
                  },
                  {
                      "id": 33,
                      "title": "самолет Грозный-Ростов",
                      "id_city_from": 13,
                      "id_city_to": 12,
                      "type": "air"
                  },
                  {
                        "id": 34,
                        "title": "поезд Грозный-Ростов",
                        "id_city_from": 13,
                        "id_city_to": 12,
                        "type": "train"
                    },
                    {
                        "id": 32,
                        "title": "машина Волгоград-Ростов",
                        "id_city_from": 14,
                        "id_city_to": 12,
                        "type": "car"
                    }
              ]

            }
        }

      },

      methods: {
          
          // закрытие окна
          closeWindow: function () {              
              this.show = false;
          }, 

          resetData: function () {
              this.cityInfo.length = 0; 
              this.cityID = false;
              this.nextcityID = false;
              this.nextcityInfo.length = 0;
              this.middleCities.length = 0;
              this.transportsFrom.length = 0;
              this.transportsTo.length = 0;
              this.message = false;
              this.move = false;
          }, 

          // findMiddleTransport: function (options){
          //   // console.log(options);
          //       this.$http.post(this.sourceMiddleTransport, options).then(function (response) {
          //           // console.log(response.body);
          //           this.middleCities = response.body.cities;
          //           this.transportsFrom = response.body.transports_from;
          //           this.transportsTo = response.body.transports_to;      

          //             // console.log('--- data ---');
          //             // console.log(this.transportsFrom);
          //             // console.log(this.transportsTo);            
          //       });
          // },

          

          // initFindMiddleTransport: function(){
          //     let options = {
          //         сity_from: this.cityID,
          //         сity_to: this.nextcityID
          //     }
          //     this.findMiddleTransport(options);
          // },
          
          // --- фильтрация и поиск города в массиве Orders
          changeFilters: function (item, direction, $event) { 
              console.log('--- changeFilters ---');
              
              for (var key in this.filters[direction].items) {
                    key == item.title ? this.filters[direction].items[key].active = true : this.filters[direction].items[key].active = false;
                    console.log(this.filters[direction].items[key].active);  
              }     
              this.filters.checked[direction] = item.title;              
              // console.log(this.filters.checked[direction]);
              // this.showCities();
          },

          showCities: function () {
              console.log('--- showCities ---');
              // console.log(this.middleCities);
                 
              if(this.orders_.middleCities.length>0){  
              // if(this.middleCities.length>0){                    
                
                var cities = this.orders_.middleCities;
                // var cities = this.middleCities;
                console.log(cities);

                var toChecked = this.filters.checked['to'];
                var fromChecked = this.filters.checked['from'];
                this.message.show = true;

                if(toChecked != 'all'){
                    if(fromChecked != 'all'){ // смотрим по обоим параметрам
                        for (var i = 0; i < cities.length; i++){     
                              cities[i].show = false;
                              for(var j = 0; j < cities[i]['from_middle'].length; j++){

                               if(cities[i]['from_middle'][j] == fromChecked){   // если требуется 2-й фильтр то выше ставим for
                                    for(var k = 0; k < cities[i]['to_middle'].length; k++){
                                          if(cities[i]['to_middle'][k] == toChecked){
                                              cities[i].show = true;
                                              this.message.show = false;
                                          }
                                    }
                                }

                              }
                        }
                    }else{ // смотрим по параметру to
                      for (var i = 0; i < cities.length; i++){     
                              cities[i].show = false
                              for(var k = 0; k < cities[i]['to_middle'].length; k++){
                                  if(cities[i]['to_middle'][k] == toChecked){
                                              cities[i].show = true;
                                              this.message.show = false;
                                  }
                              }                   
                        }
                    }
                }else{
                  if(fromChecked != 'all'){ // смотрим по параметру from
                        for (var i = 0; i < cities.length; i++){     
                              cities[i].show = false
                              for(var k = 0; k < cities[i]['from_middle'].length; k++){
                                  if(cities[i]['from_middle'][k] == fromChecked){
                                              cities[i].show = true;
                                              this.message.show = false;
                                  }
                              }                   
                        }
                    }else{ // показываем все
                        for (var i = 0; i < cities.length; i++){     
                            cities[i].show = true;
                            this.message.show = false;                                  
                        }
                    }
                }

              }
          },
           
          searchCity: function ($event){
              var text = $event.target.value;
              console.log(text);
            
              for (var i=0; i<this.orders_.middleCities.length; i++){         
                    if(this.orders_.middleCities[i].title.match(text)){
                      this.orders_.middleCities[i].show = true;  
                      
                      console.log(this.orders_.middleCities[i].title);
                      console.log(this.orders_.middleCities[i].title.match(text));
                      console.log(this.orders_.middleCities[i].show);
                    }         

                    if(this.orders_.middleCities[i].title.match(text) == null){
                      this.orders_.middleCities[i].show = false;
                      console.log(this.orders_.middleCities[i].show);
                    }                                                
              }

          },

          addCityToBasket:function(){

          },

          // --- TEST
          testJSON: function(){

            let Params = JSON.parse('{"city_id":9,"city_info":{"city_info":{"id":9,"title":"Krasnodar","is_rus":1,"vel":1,"car":1,"bus":1,"region":"Краснодарская область"},"city_plan":[{"day":1,"begin":1505146200,"place":[{"id":16,"order_city_id":39,"date_from":1505149800,"date_to":1505315400,"price":null,"id_hotel":12,"type":"hotel"},{"id":15,"order_id":12,"duration":10800,"date_from":1505135400,"date_to":1505146200,"transport_id":10,"status":"1","type":"transport"}],"end":1505175000},{"day":2,"begin":1505175000,"place":[{"id":16,"order_city_id":39,"date_from":1505149800,"date_to":1505315400,"price":null,"id_hotel":12,"type":"hotel"}],"end":1505261400},{"day":3,"begin":1505261400,"place":[{"id":16,"order_city_id":39,"date_from":1505149800,"date_to":1505315400,"price":null,"id_hotel":12,"type":"hotel"}],"end":1505347800},{"day":4,"begin":1505347800,"place":[{"id":26,"order_id":12,"duration":4200,"date_from":1505408400,"date_to":1505412600,"transport_id":23,"type":"transport"}],"end":1505405400}]},"index":2,"numbers":4,"next_city_info":{"city_info":{"id":12,"title":"Ростов","is_rus":1,"vel":1,"car":1,"bus":1,"region":"Ростовская область"},"city_plan":[{"day":1,"begin":1505412600,"place":[{"id":26,"order_id":12,"duration":4200,"date_from":1505408400,"date_to":1505412600,"transport_id":23,"status":"1","type":"transport"}],"end":1505434200},{"day":2,"begin":1505434200,"place":[{"id":18,"order_city_id":42,"date_from":1505437800,"date_to":1505581800,"price":null,"id_hotel":13,"type":"hotel"}],"end":1505520600},{"day":3,"begin":1505520600,"place":[{"id":18,"order_city_id":42,"date_from":1505437800,"date_to":1505581800,"price":null,"id_hotel":13,"type":"hotel"}],"end":1505607000},{"day":4,"begin":1505607000,"place":[],"end":1505693400},{"day":5,"begin":1505693400,"place":[],"end":1505758200}]}}');
            
            // console.log(Params);

              // проверяем позицию города, если после него больше одного пункта
                  // тогда отказываем в преносе
                  let numbers = Params.numbers;
                  let index = Params.index; 
                  
                  // --- здесь меняем логику
                  if((numbers - (index+1))<=1 && typeof Params.next_city_info !== 'undefined'){

                      this.cityInfo = Params.city_info;
                      this.cityID = Params.city_id;
                      this.nextcityID = Params.next_city_info.city_info.id;    
                      this.nextcityInfo =  Params.next_city_info;
                      this.initFindMiddleTransport();

                  }else{
                      this.message.warning = 'Промежуточный пункт между данными городами добавить нельзя!';
                      console.log(this.message.warning);
                  }          
             
              // открываем окно 
              this.show = true; 
          }     


          
      },

      created: function(){ 
          
          // слушаем событие в сервисе при открытии детального окна информации об отелей    
          EventService.$on("viewStaticMiddlecityList", (Params) => {          
              console.log('--- EventService on ---');      
              // console.log(Params);

              // если в компоненте уже есть данные, очищаем поля
              if(this.cityInfo.length>0){  
                  this.resetData();
              }             

              // проверяем позицию города, если после него больше одного пункта
              // тогда отказываем в преносе
              let numbers = Params.numbers;
              let index = Params.index; 
              
              // --- здесь меняем логику

              // if((numbers - (index+1))<=1 && typeof Params.next_city_info !== 'undefined'){

              //     this.cityInfo = Params.city_info;
              //     this.cityID = Params.city_id;
              //     this.nextcityID = Params.next_city_info.city_info.id;    
              //     this.nextcityInfo =  Params.next_city_info.city_info;

              //     this.initFindMiddleTransport();


              // } else{
              //     this.message.warning = 'Промежуточный пункт между данными городами добавить нельзя!';
              //     console.log(this.message.warning);
              // }          

              // this.testJSON();
             
              
              // открываем окно 
              this.show = true; 
              
          });

          
          // поиск промежуточного пункта
          // this.initFindMiddleTransport();

      },
      updated: function(){

      },
      watch:{
          transport:function(val){
            // console.log(val);     
          }
      }
  }

</script>

<style scoped>

  .fake-modal{
    width: 600px;
    min-height: 200px;
    position:fixed;
    top:0;
    left: 0;
    /*background: #c7ebce;*/
    border: 1px solid #400000;
    background: #808080;
    color:#fff;
    z-index: 300;
  }

  .buy {
    text-decoration-line: underline;
    color:#400000;
  }

  .transport-block { 
      margin: 0 auto; 
      display: flex;
      /*border: 1px solid #ffffff;*/
      /*min-height: 200px;*/
  }

  .transport-block div {
      /*float:left; */
      width:50%;
      flex-direction: row;
      justify-content: space-between;
  }

  .transport-block div p {
      font-weight:bold; 
      font-size:12px;
  }


  .middlecity-block { 
      margin: 0 auto; 
      border: 1px solid #ffffff;
      /*min-height: 200px;*/
  }


/**************** ADD CITY*/
.scroll-area {
  position: relative;
  margin: auto;
  width: 400px;
  height: 300px;
}

.modal{
  width:100%; 
  height:100%; 
  position:fixed; 
  top:0; left:0;
  z-index: 100;
}
.active-dark {
  background: gray
}

.points-container {
    width: 800px;
    padding: 0 0 16px 0;
    margin: 0 auto;
    background: #fff;
}

/**--- CAPTION ---**/
.points-caption {
  padding: 17px 25px 0;
  width: auto;
  height: auto;
  box-shadow: 0 0 16px 0 rgba(42, 46, 56, 0.11);  
  display: flex;
}

.points-close {
  width: 47px;
  height: 47px;
  object-fit: contain;
  background-image: url(../../assets/img/close.png);
}
.points-nav {
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.points-nav li {
   margin: 5px;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

.activ_line {
  width: 154px;
  height: 4px;
  object-fit: contain;
  background-image: linear-gradient(70deg, #3d76b8, #03a5d9 42%, #f2655b 80%, #ff8337);
  margin: 10px 0;
}

.hidden {visibility:hidden;}

.nav-text {
  display: inline-block;
  font-family: MuseoSansCyrl;
  font-size: 22px;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  color: #039beb;
  text-transform: uppercase;
}

/**--- DESTINATION ---**/
.points-dest {
  width:0 auto;
  height: auto;
  margin: 0 20px;
  padding: 20px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dest-from, .dest-to {
  margin: 0;
  padding: 0;
  width: 40%;
}

.dest-text {
    font-family: Roboto;
    font-size: 17px;
    line-height: 2.59;
    color: #adbacc;
    text-transform: uppercase;
}

.transport-box{
  display: flex;
  flex-direction: row;  
  width: auto; 
  margin: 0 auto;
}

.transport-box div {
  width: 40px;
  height:30px;
  text-align: left;
  }

.transport-box div.active {
  border-bottom: 4px solid #1fa1d0;
}
.rgd span {
  display: block;
  height: 26px;
  object-fit: contain;
  background: url(../../assets/img/addcity-img/train.png) no-repeat; 
}

.bus span {  
  display: block;
  height: 20px;
  object-fit: contain;  
  background: url(../../assets/img/addcity-img/bus.png) no-repeat;
}

.car span {  
  display: block;
  width: 23.3px;
  height: 17px;
  object-fit: contain;
  background: url(../../assets/img/addcity-img/transport.png) no-repeat;
}

.bicycle span  {  
  display: block;
  width: 21px;
  height: 21px;
  object-fit: contain;
  background-color: #adbacc;
}
.air span  {  
  display: block;
  width: 21px;
  height: 21px;
  object-fit: contain;
  background: url(../../assets/img/addcity-img/air.png) no-repeat;
}

.all span {
 
  display: block;

  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.7;
  text-align: center;
  color: #1fa1d0;
  text-transform: uppercase;
}


/**--- FILTERS ---**/

.filters {
  margin: 0 20px;
  width:0 auto;
  height: auto;
  padding: 17px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.bottom-line {
  width: 311px;
  height: 1px;
  border-bottom: 1px solid #000000;
  border-image-source: linear-gradient(to right, #3c74b7, #4392bb 23%, #00a5d9 50%, #fe6354 75%, #ff8436);
  border-image-slice: 1;

  margin: 14px 0 0 8%;
}

.city-name input {
  width: 188px;
  font-family: Roboto;
  font-weight: 300;
  text-align: left;
  color: #039beb;
  margin: 0 0 0 8%;
  border: none;
}

.city-name input::-webkit-input-placeholder {color:#039beb; font-size: 20px;}
.city-name input::-moz-placeholder          {color:#039beb; font-size: 20px;}/* Firefox 19+ */
.city-name input::-moz-placeholder           {color:#039beb; font-size: 20px;}/* Firefox 18- */
.city-name input::-ms-input-placeholder      {color:#039beb; font-size: 20px;}

.marker {
  width: 24px;
  height: 32px;
  object-fit: contain;
  border: 1px solid #000;
}


.filter-icon {
  width: 20px;
  height: 23px;
  /*background-color: #1a9fcf;*/
  background-image: url(../../assets/img/filtr.png);  
}

.filter-link {
  width: 44px;
  height: 13px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;

  text-align: left;
  color: #1a9fcf;
  margin: 0 0 0 16px;
}


/*** --- POINTS-ITEM --- ***/

.points-item {
    width:auto;
    height: 176px;
    border-radius: 8px;
    border: solid 1px #a8b6c9;
    margin: 16px 24px 0 24px;
    position: relative;
}

.points-caption {
  height: 23px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 0.67;
  text-align: left;
  color: #adbacc;
  border: none;
  box-shadow: none;
  margin: 23px 0;
  padding: 0 0 0 23px;
}

.points-caption span { 
  text-transform: uppercase;
  color:#000;
  padding: 0 5px 0;
}

.points-objects {    
   height: 26px;
   padding: 0;
   display: flex;
   justify-content:flex-start;
    margin: 0 0 0 23px;
  
}

.tour-objects {
  width: 144px;
  height: 24px;
  background-color: #92c104;
}

.tour-transport{
  margin: 0 0 0 32px;
}

.travel-time {
  font-family: Roboto;
  font-size: 20px;
  line-height: 0.8;
  text-align: left;
  color: #2a2e38;
  font-weight: 500;
  margin: 0 0 0 23px;
}

.travel-time span {
  font-weight: bold;
  line-height: 2.2;
  color: #3d76b8;
}

.travel-time-dist {
  width: 425px;
  height: 15px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 1.41;
  text-align: left;
  color: #a8b6c9;
  margin: 0 0 0 23px;
}

.item-arrow {
    width: 18px;
    height: 32px;
    position: absolute;
    top:72px;
    right:24px;
    background-image: url(../../assets/img/disclosure.png);
}




/**--- CAPTION ---**/
.caption {
  padding: 12px 25px 0;
  width: auto;
  height: auto;
  box-shadow: 0 0 16px 0 rgba(42, 46, 56, 0.11);  
  display: flex;
}

.close {
  width: 47px;
  height: 47px;
  object-fit: contain;
  background-image: url(../../assets/img/close.png);
  cursor: pointer;
}
.tab {
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.tab li {
   margin: 5px;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

.activ_line {
  width: 154px;
  height: 4px;
  object-fit: contain;
  background-image: linear-gradient(70deg, #3d76b8, #03a5d9 42%, #f2655b 80%, #ff8337);
  margin: 10px 0;
}

.hidden {visibility:hidden;}

.tab-text {
  display: inline-block;
  font-family: MuseoSansCyrl;
  font-size: 22px;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  color: #039beb;
  text-transform: uppercase;
}

/** SCROLL-BOX **/

.scroll-box {
  overflow: scroll;
  height: 200px;
  margin: 10px;
}

::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
   background: none;
   border:none;

}

</style>
