<template>
  <div id="route" class="route">
        <!-- <p>Planing</p> -->
        <!-- <p  @click="initMiddles()" style="cursor:pointer;">Промежуточные города</p> -->
        <div class="city" v-for="(city, index) in cities" :key="index">


            <div class="city_name">{{ city.city_info.title }}</div>
            
            <div v-if="index !=0  && city.final == 0 && finalCity == true">
                <div class="city_day">
                    <div class="city_day_title">Days to the city</div>
                    <div class="city_day_count">
                        <span class="city_day_count_operators" @click="initDay(city.city_info, city.city_plan, 'del', index)">-</span>
                        <span class="city_day_count_num">{{city.city_plan.length}}</span>
                        <span class="city_day_count_operators" @click="initDay(city.city_info, city.city_plan, 'add', index)">+</span>
                    </div>
                </div>
            </div>

            <div class="city_hotel" v-if="index !=0  && city.final == 0 && finalCity == true">
              <div class="city_hotel_title" @click="initHotels(city.city_info.id, city.city_plan)">Hotel</div>
            </div>
            <div class="city_clinic" v-if="index !=0  && city.final == 0 && finalCity == true">
              <div class="city_transport_title" @click="initClinic(city.city_info.id, city, city.city_plan)">Clinic</div>
            </div>
            <div class="city_tur" v-if="index !=0  && city.final == 0 && finalCity == true">
              <div class="city_tur_title" @click="initTour(city.city_info.id, city, city.city_plan)">Tur</div>
            </div>
            <div class="city_tur" v-if="index !=0  && city.final == 0 && finalCity == true">
              <div class="city_tur_title" @click="initRestaurant(city.city_info.id, city, city.city_plan)">Restaurants</div>
            </div>

            <div class="city_calendar" v-if="index !=0  && city.final == 0 && finalCity == true">
              <div class="city_calendar_day" v-for="(plan, index) in city.city_plan"
                :key="index">
                <div class="city_calendar_week">{{ week(plan.begin) }}</div>
                <div class="city_calendar_day_num">{{ day(plan.begin) }}</div>

                <div class="city_calendar_day_info">
                  <div class="city_calendar_day_info_block" @click="initDeletePlace(plan.place[index], city.city_info)" 
                      v-for="(place, index) in plan.place"
                      :key="index"
                      v-bind:class="{
                        transport: place.type == 'transport',
                        restaurant: place.type == 'restaurant',
                        hotel: place.type == 'hotel',
                        clinic: place.type == 'clinic',
                        tour: place.type == 'tour',
                        train: place.transport_type == 'train',
                        air: place.transport_type == 'air',
                        bus: place.transport_type == 'bus'
                      }" style="cursor:pointer;">
                      <div class="city_calendar_day_info_block_icon"></div>
                      <div class="city_calendar_day_info_block_info">{{place.type}}</div>
                      <div class="right-arrow" style=""></div>
                  </div>
                </div>
              </div>
            </div> 

            <div class="next_city">
    
                <span @click="initTransport(city.city_info.id, city, index)">Add transport</span> 
                
               <span v-if="city.middle == 0 && city.final == 0"> 
                   or
                  <span @click="initMiddlecity(city.city_info.id, city, index)">Intermediate point</span>
                </span>
                
                


                <!-- or <span @click="initTest(city.city_info.id, city, index)">Test</span> -->
                <!-- or <span @click="_initMiddlecity(city.city_info.id, city, index)">Intermediate Test</span> or
                <span @click="initDeleteCityTest(city.city_info.id, city, index)">Delete city test</span> -->

            </div>
            <!-- <p style="cursor:pointer" @click="initCurrentCity(city.city_info.id)">Текущий город</p> -->
        </div>

        <hotels></hotels>        
        <hoteldetail></hoteldetail>
        <transport></transport>
        <deleteplace></deleteplace>
        <day></day> 
        <middlecity></middlecity>  
        <clinics></clinics> 
        <tours></tours>
        <restaurants></restaurants>

  </div>
</template> 


<script>

import EventService from '../.././EventService.js';
import ReplaceService from '../.././ReplaceService.js';
import MiddleService from '../.././MiddleService.js';


// import Middlecity from './Middlecity';
// import TestMiddlecity from './_TestMiddlecity';
// import TestMiddlecity from './TestMiddlecityStatic';
// import TestStaticMiddlecity from './MiddlecityStatic';
// import ClinicDetail from './ClinicDetail';
// import Transport from './Transport.vue'; 

import HotelDetail from './HotelDetail.vue';
import Transport from './TestTransport.vue'; // !!!
import Middlecity from './Middlecity';
import Clinics from './Clinics';
import Hotels from './Hotels.vue';
import DeletePlace from './DeletePlace';
import Day from './Day';
import Tours from './Tours';
import Restaurants from './Restaurants';


export default {
    name: "route",    
    components: {
          hoteldetail: HotelDetail, // детальная информация об отеле текущего города   
          hotels:Hotels, // список отелей по текущему городу  
          transport:Transport, // добавление транспорта
          deleteplace:DeletePlace, // удаление места
          day:Day, // добавление дня
          nextcityID:false, // ID следующего города
          middlecity:Middlecity, // обавление промежуточного города
          clinics:Clinics, // список клиник по текущему городу,
          tours:Tours, // туры
          restaurants: Restaurants // рестораны

    },

    data() {
      
      return {
          title: 'Список доступных пользователю городов на главной странице',
          cities:[], // доступные города, получаем в API 
          week_day : [
            "вс",
            "пн",
            "вт",
            "ср",
            "чт",
            "пт",
            "сб",
          ],        
          // currentCity:[],
          dates: {
            // date_from:1506845400,
            // date_to:1505099400
            date_from:1506795000,
            date_to:1506449400
          },

          // --- HotelAdd            
          showHotels:false,
          number: 1,
          // финальный город
          finalCity: false
      }

    }, 

    methods: {
        week: function week(unix) {
          return this.week_day[new Date(unix*1000).getDay()];
        },

        day: function day(unix){
          return new Date(unix*1000).getDate();
        },

        getCityList: function () {  
            console.log('--- getCityList ---');  
            this.$root.dataLoad = true;
            
            // Отправляем АЯКС на сервер с данныем и получем ответ
            this.$http.post('orders/getday', {token: 'admin_token'}).then(response => {  
                
                // console.log(response.body);                   
                
                // Если все хорошо работаем дальше и авторизовываем пользователя
                //this.someData = response.body;  
                this.cities = response.body.cities;
                this.$root.dataLoad = false;

                // !!!
                // EventService.setCities(this.cities);
                // EventService.checkPlaces(); 
        
                if(this.cities[0].city_info.id == this.cities[this.cities.length-1].city_info.id){
                    this.finalCity = true;
                }else{
                    this.finalCity = false;
                }

                // console.log(this.cities[0].city_info.id);
                // console.log(this.cities[0].city_info.title);
                // console.log(this.cities[this.cities.length-1].city_info.title);
            }, 
            response => { // Произошла ошибка и обрабатываем ее тут

            });
        },


        // getOrderData:function (){
        //       console.log('-- getOrderData --');
        //       let options = {token: 'admin_token'} 
        //       this.$http.post('orders/read/', options).then(function (response) {                    
        //              console.log(response.body); 
        //       });
        // },

        initClinic: function (cityID, city, cityPlan, index){
            console.log('--- initClinic ---');
            let Param = {         
                cityinfo:city,
                cityplan:cityPlan,
                city_id:cityID,
            }
            EventService.viewClinics(Param);       
        },


        initTour: function (cityID, city, cityPlan, index){
            console.log('--- initTour ---');
            let Param = {         
                cityinfo:city,
                cityplan:cityPlan,
                city_id:cityID,
            }
            EventService.viewTours(Param);       
        },

        initRestaurant: function (cityID, city, cityPlan, index){
              let Param = {         
                  cityinfo:city,
                  cityplan:cityPlan,
                  city_id:cityID,
              }
              EventService.viewRestaurants(Param);       
        },

        initHotels: function(cityID, cityPlan){
            console.log('--- initHotels ---');
            EventService.viewHotels(cityID, cityPlan);       
            // Service.showHotels = true;
        }, 

        initTransport:  function(cityID, city, index){            
            // console.log('--- initTransport ---');
            if(this.cities.length != index+1){
                this.nextcity =  this.cities[index+1].city_info;
            }
            // открываем модальное окно выбора транспорта
            EventService.viewTransport(cityID, city, this.nextcity);
        }, 

        initMiddlecity:  function(cityID, city, index){            
              console.log('--- initMiddlecity ---');  

              let nextCityInfo = false;
              let numbers = false;
              
              // if(ReplaceService.final_city){
              //     nextCityInfo = ReplaceService.final_city;
              //     numbers = this.cities.length+1;
              // }else{
              //     nextCityInfo = this.cities[index+1];
              //     numbers = this.cities.length;
              // }

              nextCityInfo = this.cities[index+1];
              numbers = this.cities.length;

              let Params = {
                  city_id:cityID,
                  city_info:city,
                  index:index,
                  numbers:numbers,
                  next_city_info:nextCityInfo,
                  order_cities:this.cities
              }
               
              console.log(Params);
              // return;

              EventService.viewMiddlecity(Params);
              // ReplaceService.initStorage(Params); 

        },

        initDay: function (cityInfo, cityPlan, type, index){
            // console.log('--- initDayAdd ---'); 

            if(ReplaceService.final_city){
              // addFinal();
              // ReplaceService.order.date_to;
              // создаем новые город
            }else{              
              let Params = {
                city_plan:cityPlan,
                city_info:cityInfo,
                type_action:type
              }        
              // открываем модальное окно и добавляем день
              EventService.viewAddDay(Params);
            }            
        },

        initStaticMiddlecity:  function(cityID, city, index){  
            let Params = {
                city_id:cityID,
                city_info:city,
                index:index,
                numbers:this.cities.length,
                next_city_info:this.cities[index+1]
              }
             EventService.viewStaticMiddlecity(Params);
        },

        initDeletePlace: function (planPlace, cityInfo){
            console.log('--- initDeletePlace ---');   
            let Params = {
              plan_place:planPlace,
              city_info:cityInfo
            }

            // console.log(planPlace);
            // console.log(planPlace.type);

            // открываем модальное окно удаления элемента
            EventService.viewDeletePlace(Params);
        },


        // --- TEST
        _findMiddleCity:function(cityFrom, cityTo){
            let options = {
                  сity_from: cityFrom,
                  сity_to: cityTo
                }

            this.$http.post('read/searchcity/', options).then(function (response) {
                 console.log(response.body);
                 if(response.body == '1'){
                    this._findMiddleTransport(options);
                 }
            });
        },

        _findMiddleTransport: function (options){
          this.$http.post('read/searchmiddlecity/', options).then(function (response) {
             console.log(response.body);                        
          });
        },

        initCalendar: function (cityID, city, index){
          console.log('initCalendar');        
          EventService.viewCalendar(cityID); 
        },
        
        initMiddles: function (){
          console.log('--- initMiddles ---');
          // console.log(this.cities);
          MiddleService.setMiddles(this.cities);

        }


    }, 

    created: function(){    
        this.getCityList();  

        // слушаем событие в сервисе при проверке транспорта у текущего города в заказе   
        EventService.$on("checkTransports", (options) => {
              this.cityPlanTransports(options);
        });  

        // слушаем событие обновления списка дней в туре
        EventService.$on("planningListUpdate", (Params) => {
            this.getCityList();
        });

        // EventService.$on("addTransportFrom", (Params) => {
        //     console.log('--- addTransportFrom Planing---');
        //     console.log(Params);
        // });

        // console.log('--- parent ---');
        // console.log(this.$parent.final);

        // проверяем выбран ли чекбокс даты возвращени
        // EventService.$on("finalCitySelected", (Params) => {
        //    console.log('--- finalCitySelected ---');
        //    console.log(Params)
        // });
      


    },  

    watch:{

        cities:function(){     
          EventService.setCities(this.cities); // устанавливаем текущий список городов в  AppService
          EventService.checkPlaces(); // 
        }      
    }

}
</script>

<style scoped>
  .next_city span span {
    color:#b9467a !important;   
    cursor: pointer;
  }
  .route{
    width: 100%;
  }
  .route .city{
    width: 82%;
    padding: 7% 9%;
    background-color: #ffffff;
    box-shadow: inset 0 0 24px 0 rgba(168, 182, 201, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
  }
  
  .route .city .city_name{
    font-family: Roboto;
    font-size: 40px;
    text-align: left;
    color: #191e27;
  }

  .route .city .city_day_title,
  .route .city .city_hotel_title,
  .route .city .city_restoran_title,
  .route .city .city_transport_title,
  .route .city .city_tur_title{
      font-family: Roboto;
      font-size: 20px;
      color: #a8b6c9;      
      margin-bottom: 15px;
      margin-top: -50px;   
      cursor: pointer;
  }


  .route .city .city_day_title:hover,
  .route .city .city_hotel_title:hover,
  .route .city .city_restoran_title:hover,
  .route .city .city_transport_title:hover,
  .route .city .city_tur_title:hover {
    color: #039beb;
  }
  
  .route .city .city_day_title{
    margin-top: -35px;
  }
  .route .city .city_day{
    margin-right: 15%;
  }
  
  .route .city .city_day .city_day_count{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
      .route .city .city_day .city_day_count .city_day_count_operators{
        width: 30px;
        height: 30px;
        border: 1px solid #e2e7ed;
        color: #039beb;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        cursor: pointer;
      }
      .route .city .city_day .city_day_count .city_day_count_num{
        font-size: 17px;
        background-color: #eceff3;
        padding: 7px 14px;
      }
    .route .city .city_hotel,
    .route .city .city_restoran,
    .route .city .city_transport,
    .route .city .city_tur{
      margin: 0 2%;
    }
    .route .city .city_calendar{
      width: 100%;
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }
      .route .city .city_calendar .city_calendar_day{
        width: 14%;
        border: 1px dotted #a8b6c9;
        display: block;
        position: relative;
      }
        .route .city .city_calendar .city_calendar_day .city_calendar_week{
          display: block;
          width: 100%;
          position: absolute;
          font-family: Roboto;
          top:-25px;
        }
        .route .city .city_calendar .city_calendar_day .city_calendar_day_num{
          display: block;
          width: 91%;
          text-align: right;
          padding: 7px 12px 0px 0px;
          font-family: Roboto;
        }
        .route .city .city_calendar .city_calendar_day .city_calendar_day_info{
          width: 100%;
          display: flex;
          margin-top: 20px;
          flex-wrap: wrap;
        }
          .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block{
            width: 100%;
            height: 26px;
            margin: 0px 2px 2px 2px;
            padding: 2px 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }
            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block .city_calendar_day_info_block_icon{
              height: 100%;
              border-right: 2px dotted #fff;
            }

  
            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block_info{
              width: 70%;
              height: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding: 0 5px;
              color: #fff;
              font-family: Roboto;
              text-transform: capitalize;
              font-size: 18px;
            }
            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block::before{
              min-width: 21px;
              margin-left: 5px;
              margin-top:5px;
              margin-right: 5px;
              display: block;
            }


            .right-arrow {
              width:10px; 
              height:6px; 
              background-image: url('../../assets/arrow-point-to-right-big.png');
              margin:0 10px 0 0;
            }

            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.airoport{
              background-color: #5c4f6d;
            }
              .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.airoport::before{
                content: url('../../assets/img/transport-img/air.png');
              }
            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.restaurant{
              background-color: #60b6b9;
            }
              .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.restaurant::before{
                content: url('../../assets/img/restaurants-img/restaurant.png');
                margin-left: 5px;
                margin-top:5px;
                margin-right: 5px;
                display: block;
              }
            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.transport{
              background-color: #5c4e6d;
            }
            
            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.transport::before{
                /*content: url('../../assets/img/transport-img/air.png');*/
                margin-left: 5px;
                margin-top:5px;
                margin-right: 5px;
                display: block;
              }


            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.train::before{
                content: url('../../assets/train.png');
                margin-left: 5px;
                margin-top:5px;
                margin-right: 5px;
                display: block;
              }


            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.air::before{
                content: url('../../assets/air.png');
                margin-left: 5px;
                margin-top:5px;
                margin-right: 5px;
                display: block;
              }


           .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.bus::before{
                content: url('../../assets/bus.png');
                margin-left: 5px;
                margin-top:5px;
                margin-right: 5px;
                display: block;
              }            


            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.car::before{
                content: url('../../assets/car.png');
                margin-left: 5px;
                margin-top:5px;
                margin-right: 5px;
                display: block;
              }

            
            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.hotel{
              background-color: #a9cb42;
            }
              .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.hotel::before{
                content: url('../../assets/img/addhotel-img/hotel.png');
                margin-left: 5px;
                margin-top:5px;
                margin-right: 5px;
                display: block;
              }

            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.clinic{
              background-color: #ae5e5e;
            }
              .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.clinic::before{
                content: url('../../assets/img/clinics-img/clinic.png');
                margin-left: 5px;
                margin-top:5px;
                margin-right: 5px;
                display: block;
              }


            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.tour{
              background-color: #f44e36;
            }
              .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.tour::before{
                content: url('../../assets/img/tours-img/tour.png');
                margin-left: 5px;
                margin-top:5px;
                margin-right: 5px;
                display: block;
              }

            .route .city .next_city{
              position: absolute;
              bottom: -24px;
             /* border: solid 1px #039beb;*/
             border: dotted 2px #888c8e;
              border-radius: 24px;
              padding: 10px 20px;
              font-family: Roboto;
              font-size: 20px;
              color: #a8b6c9;
              background-color: #fff;
              left: 10%;
              z-index: 1;
            }
              .route .city .next_city span{
                color: #039beb !important;
                cursor: pointer;
              }
</style>
