<template>
  <div class="addrestaurant"> 
    <div class="modal" v-bind:class="{'active-dark':show}" v-show="show">

        <div class="addrestaurants-container"> 

              <div class="caption">
                <ul class="tab">
                  <li>
                    <span class="tab-text">add restaurants</span>
                    <div class="activ_line"></div>
                  </li>
                  <li>
                    <span class="tab-text">map</span>
                    <div class="activ_line hidden"></div>
                  </li>
                </ul>
                <div class="close" @click="closeWindow"></div>
              </div>
              
              <div class="nav">
                <div class="order-info">
                  <span>{{ cityInfo.title }}</span>
                </div>
              </div>              
         
              <div class="scroll-box" v-if="restaurants.length>0">

                  <div class="item" v-for="restaurant in restaurants" :id="restaurant.id">

                      <div class="restaurant-img">                      
                        <div class="img-list" v-if="restaurant.link_img">
                          <div class="img">
                            <img :src="require('@/assets/products/restaurants/'+restaurant.link_img)" width="400px;" />
                          </div>
                        </div>
                        <div class="img-list" v-else>
                              <span style="font-family: Roboto; margin:10px auto; display:block"> фотография отсутсвует</span>
                        </div>                      
                        <div class="clear"></div>
                      </div>

                      <div class="restaurant-info">
                          <div class="restaurant-caption">{{ restaurant.title }}</div>
                          <div class="restaurant-text">{{ restaurant.short_text }}</div>  
                          <div class="restaurant-ditail" >
                              <span @click="initRestaurantDetail(restaurant.id)">Continue</span>
                          </div>
                      </div>
                    
                  </div>
              
              </div>                
                
      </div>

    </div>

    <restaurantdetail></restaurantdetail>

  </div> 


</template> 

<script> 

import EventService from '../.././EventService.js';
import RestaurantDetail from './RestaurantDetail';
export default {

  name: "Restaurants", 
  components: {   
    restaurantdetail: RestaurantDetail
  },
  data() { 

      return {            
            title: 'Список ресторанов для добавления',
            // API 
            sourceRestaurants: 'read/restaurants/', // получаем туры
            restaurants:[], // массив туров                   
            cityInfo:false, // информация по текущему городу
            cityPlan:false,
            cityID:false,
            show: false,
            dates: {           
                date_from:false,
                date_to:false           
            }
      }
  }, 

  methods: {

      // закрытие окна
      closeWindow: function () {            
          this.resetData();
      },

      // сбрасываем данные
      resetData: function (){
        this.restaurants.length = 0;
        this.cityInfo = false;
        this.cityInfo = false;
        this.show = false;
      },

      // --- получаем список клиник текущего города
      getRestaurants: function (cityID){
        console.log('--- getTours ---');

        let options = {
          city:cityID
        }

        this.$http.post(this.sourceRestaurants, options).then(function (response) { 

            // console.log(response.body);
            if(typeof (response.body) == 'object' && response.body.length>0){
                this.restaurants = response.body;
                this.show = true; 
            }else{
                this.show = true;
            }
        });

      },

      // 
      initRestaurantDetail: function(restaurantID = 1){ 
            console.log('--- initRestaurantDetail ---');
            
            let cityBegin = this.cityPlan[0].begin;
            let cityEnd = this.cityPlan[this.cityPlan.length-1].end;
            // console.log(cityBegin);
            // console.log(cityEnd);

            let Param = {
                restaurant_id: restaurantID,
                city_info: this.cityInfo,
                city_plan: this.cityPlan,
                dates:{
                  date_from:cityEnd,
                  date_to:cityBegin
                }
            }

            EventService.viewRestaurantDetail(Param); 
      }

  },

  created: function(){    
      
      // слушаем событие в сервисе при открытии окна добавления отелей
      EventService.$on("viewRestaurants", (Param)=> { 

            console.log('--- viewRestaurants ---');
            console.log(Param); 

            if(this.restaurants.length>0){                  
                  this.resetData();
            }   

            this.cityInfo = Param.cityinfo.city_info;  
            this.cityPlan = Param.cityplan;  
            this.getRestaurants(Param.city_id);            
            
      });

      // console.log('--- viewTours ---');
      this.show = false; 

      EventService.$on("closeRestaurantsWindow", ()=> {
          this.resetData();
      });

      
  },
  watch:{
     test:function(val){
        console.log(val);
     }
  }
}
</script>

<style scoped>




.modal{
  width:100%; 
  height:100%; 
  position:fixed; 
  top:0; left:0;
  z-index: 100;
}

.active-dark {
  background: gray
}


.addrestaurants-container {
    width: 800px;
    padding: 0 0 16px 0;
    margin: 0 auto;
    background: #fff;
}

.restaurant-text {
  padding: 0 0 10px 0;
  text-align: justify;
}

/**--- CAPTION ---**/
.addrestaurants-container .caption {
  padding: 17px 25px 0;
  width: auto;
  height: auto;
  box-shadow: 0 0 16px 0 rgba(42, 46, 56, 0.11);  
  display: flex;
}

.addrestaurants-container .close {
  width: 47px;
  height: 47px;
  object-fit: contain;
  background-image: url(../../assets/img/close.png);
  cursor: pointer;
}
.addrestaurants-container .tab {
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.addrestaurants-container .tab li {
   margin: 5px;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

.addrestaurants-container .activ_line {
  width: 154px;
  height: 4px;
  object-fit: contain;
  background-image: linear-gradient(70deg, #3d76b8, #03a5d9 42%, #f2655b 80%, #ff8337);
  margin: 10px 0;
}

.hidden {visibility:hidden;}

.addrestaurants-container .tab-text {
  display: inline-block;
 /* font-family: MuseoSansCyrl;*/
 font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  color: #039beb;
  text-transform: uppercase;
}



/**--- NAV ---**/
.addrestaurants-container .nav {
    height: 48px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #edf2f8;
}

.order-info{
  width: 436px;
  height: 18px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 2.8;
  text-align: left;
  color: #1a9fcf;
  padding: 0 0 0 31px; 

/*  align-self: center;*/
}

/**--- FILTERS ---**/

.filters {
  margin: 0 20px;
  width:0 auto;
  height: auto;
  padding: 17px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.filter-box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left:16px;

}


.filter-no {
  width: 20px;
  height: 23px;
  background-image:url(../../assets/img/restaurants-img/filter-no.png);
  margin:0 7px 0 0;
 
}

.filter-sorting {
    width: 20px;
  height: 23px;
  background-color: #1a9fcf;
  margin:0 7px 0 0;
}

.filter-link {
  /*width: 44px;*/
/*  height: 13px;*/
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  /*text-align: left;*/
  color: #1a9fcf;

}



/** HOTEL INFO **/

.addrestaurants-container .item {
    /*width: 752px;*/
    width:auto;
    /*height: 176px;*/
    /*border-radius: 8px;*/
    border: none;
    margin: 16px 24px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 24px 0;
    border-bottom: 1px dotted #a8b6c9;
}

.addrestaurants-container .restaurant-img {
    width: 400px;
    height: 224px;
    border: 1px solid #865B5B;
    background: #ACA0A0;
    position: relative;
}

.addrestaurants-container .restaurant-img .img-caption {
  width: 168px;
  height: 40px;
  background-color: #92c104;
  position: absolute;
  top:0;
  left:0;
}

.restaurant-img .img-caption span{
  height: 19px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 2.2;
  text-align: left;
  color: #ffffff;
  padding: 0 0 0 12px;
}

.img-list {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.img-list .img {
  width: 400px;
  height: 224px;
  background: #BE2D2D;
  border: none;
  padding: 0;
  margin: 0;
}


.pagination {
  margin:26px auto 0;
  width:100px;
  list-style-type: none;
  position: absolute;
  bottom:16px;
  left:125px;
}

.pagination li {
  float:left;
  margin:0 1px;
}

.pagination li a {
  display:block;
  width:12px;
  height:0;
  padding-top:12px;
  background-image:url(../../assets/img/restaurants-img/pagination.png);
  background-position:0 0;
  float:left;
  overflow:hidden;
}

.pagination li.current a {
  background-position:0 -12px;
}

.clear {
  clear:both;
}

.restaurant-info {
    width: 320px;
    /*height: 224px;*/
    height: auto;
    padding: 0 0 0 24px;

}

.restaurant-caption {
  width: 205px;
  font-family: Roboto;
  font-size: 22px;
  color: #2a2e38;
  margin: 0 0 10px 0;
  text-align: left;
}



.restaurant-features{
  width: 160px;
  height: 32px;
  margin: 30px 0;

  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.restaurant-features div {
   width: 40px;
   height: 100%;
   margin: 0;
   padding: 0;
  display: flex;
  align-items:center;
  justify-content:center;
}

.restaurant-features .transport {
  background-color: #5c4f6d;
  
}

.restaurant-features .transport span{
  display: block;
  width: 23.3px;
  height: 17px;
  object-fit: contain;
  background-image: url(../../assets/img/restaurants-img/transport.png);  
}

.restaurant-features .bus {
   background-color: #ada093;
}

.restaurant-features .bus span{
  display: block;
  width: 20px;
  height: 20px;
  object-fit: contain;
  background-image: url(../../assets/img/restaurants-img/bus.png);  
}

.restaurant-features .marker {
   background-color: #f44f39;
}

.restaurant-features .marker span{
  width: 14px;
  height: 19px;
  object-fit: contain;
  background-image: url(../../assets/img/restaurants-img/marker.png);
}

.restaurant-features .parking {
   background-color: #60b6b9;
}

.restaurant-features .parking span {
  width: 19px;
  height: 19px;
  object-fit: contain;
  border-radius: 2px;
  background-image: url(../../assets/img/restaurants-img/parking.png);
}

.restaurant-ditail {
  width: 95%;
  height: 48px;
  border-radius: 8px;
  border: solid 2px #1a9fcf;
  text-align: center;
  margin: 0 0 10px 0;
  cursor: pointer;
}

.restaurant-ditail span {
  width: 94px;
  height: 17px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.83;
  text-align: left;
  color: #1a9fcf;
}

/** SCROLL-BOX **/

.scroll-box {
  overflow: scroll;
  height: 300px;
  margin: 10px;
}

::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
   /* background-color: #eee;*/
   background: none;
   border:none;

}

</style>
