<template>
  <div class="restaurantdetail">          
     <div class="modal" v-bind:class="{'active-dark':show}" v-show="show">
       
      <div class="restaurantdetail-container" v-if="restaurantDetail"> 

           <div class="caption">
              <div class="back" @click="backWindow">
                  <div class="arrow"></div>
                  <div class="inscription">Back</div>
              </div>    
              <div class="text">{{ restaurantDetail.title }}</div>
              <div class="close" @click="closeWindow"></div>
          </div>

          <div class="nav">
              <div class="order-info">
                  <span>{{ restaurantDetail.title }}</span>           
                  <span>Check</span>                                 
                              <datepicker 
                                      :placeholder="state_from.placeholder"
                                      :input-class="state_from.inputClass"
                                      class="datapickerIn datapicker_to datapicker"
                                          :disabled="state_to.disabled" 
                                          :value="state_from.disabled.to"
                                          :format="format"
                                          v-model="state_from.date"
                                          language="ru" 
                                          v-on:closed="getDates()"
                                         >
                              </datepicker>

              </div>  
              <span class="warning" v-if="warning.dates">Вы не выбрали даты!</span>
              <span class="success" v-if="warning.success">Вы добавили клинику!</span>                      
          </div>

          <div class="restaurant-detail">
              <div class="restaurant-detail-img">                       
                  <div class="img-list" v-if="restaurantDetail.link_img">
                      <div class="img">
                          <img :src="require('@/assets/products/restaurants/'+ restaurantDetail.link_img)" width="400px;" />
                      </div>
                  </div>
              </div>

              <div class="restaurant-detail-info">
                  <div class="guest-rating">
                    <div class="text">{{ restaurantDetail.title }}</div>
                  </div>    
                  <div class="about">
                      <div class="text">About restaurant</div>                 
                  </div>  
              </div>             
          </div>

           <div class="information-filters">                        
                <div class="information-filters-text">Описание ресторана</div>
          </div>

          <div class="scroll-box">                
                  <div class="information">
                      <div class="information-top">                                
                          <div class="information-caption">
                              <div class="information-text">
                                     Стоимость                  
                              </div>
                          </div>
                          <div class="information-person-filter"> 
                              <div class="price"><span>{{restaurantDetail.price}}</span> R for average check</div>
                          </div>
                      </div>

                      <div class="information-content">                            
                        {{restaurantDetail.text}}              
                      </div>

                      <div class="information-auxiliary">
                          <div class="book"><span @click="initBookRestaurant(restaurantDetail.id)">Book</span></div>
                      </div>

                  </div>


          </div>

                     
      </div> 
     </div>
  </div>
</template> 

<script>
  import EventService from '../.././EventService.js';
  import Datepicker from 'vuejs-datepicker';
    
  export default {
    
      name: "RestaurantDetail",  

      components: {
        Datepicker
      },

      data() {        
        
        return {
            title: 'Детальная информая о туре',
            // API            
            sourceRestaurantData: 'read/restaurants/',
            sourceBasketCity:'orders/ordercity/',  
            sourceAddPlaces:'orders/test/addplaces/',  // добавление тура

            // переменные
            show:false, 
            restaurantDetail:false, // информация о текущем туре
            cityInfo:false, // информация о текущем городе
            basketCity:false,
            cityPlan:false, 

            warning:{
              dates:false,
              success:false
            },

            // --- Календарь 
            // Формат для календаря
            format: "dd.MM.yyyy, D",
            // дата отображения календаря 
            state_from : {
                      placeholder: '',
                      inputClass: 'title',
                          date: false,
                          disabled: {
                              to: false, // (дата начала заказа + час)*1000 
                              from: false
                          }
                      
            }, 
            state_to : {
                      placeholder: '',
                      inputClass: 'title',
                      date: false,
                      disabled: {
                          to: false, // (дата начала заказа + час)*1000 
                          from: false
                      }
            }, 
            // даты для заказа, передаются компонету отелю, клинике, туру
            order_dates: {
                      date_from:false,
                      date_to:false
            }              
            
        }      

      }, 

      created: function(){      

         
          // слушаем событие в сервисе при открытии детального окна информации о туре
          EventService.$on("viewRestaurantDetail", (restaurantData) => {
            console.log('--- viewRestaurantDetail ---');

              this.resetData();
              this.setDates(restaurantData);
              this.getRestaurantDetail(restaurantData.restaurant_id); // получаем данные о туре
              this.cityInfo = restaurantData.city_info;
              this.cityPlan = restaurantData.city_plan;
              this.getBasketCity(restaurantData.city_info.id);
              this.show = true;          
          });

          // this.show = false;

          // console.log('--- viewRestaurantDetail ---');

      },

      methods: {
         
          closeWindow: function () { 
              // сбрасываем данные по отелю
              this.resetData();       
              this.initCloseRestaurantsWindow();
          },

          // окно назад к окну списка отелей
          backWindow:function(){
               this.show = false;
               // this.resetData();
          },

          initCloseRestaurantsWindow: function(){
            EventService.closeRestaurantsWindow(); 
          }, 

          resetData: function () {
            this.show = false;
            this.restaurantDetail = false;
            this.cityInfo = false;
            this.basketCity = false;
            this.cityPlan = false;
            this.order_dates.date_from = false;
            this.order_dates.date_to = false;
            this.warning.dates = false;
            this.warning.success = false;
            
          }, 

          changeDateFrom: function (){
                // if(this.state_from.date.getTime() >= this.state_to.disabled.to.getTime()){                   
                if(this.state_from.date.getTime() >= this.state_to.date.getTime()){                   
                    this.state_to.disabled.to = new Date(this.state_from.date.valueOf() + 1000*3600*1);
                    this.state_to.date = new Date(this.state_from.date.valueOf() + 1000*3600*1);
                }else{
                  this.state_to.disabled.to = new Date(this.state_from.date.valueOf() + 1000*3600*1);
                }

                this.getDates();
          },  

          getDates: function(){
              console.log('--- getDates ---');
              let date_from = new Date(this.state_from.date).getTime() / 1000;
              let date_to = new Date(this.state_from.date).getTime() / 1000;
              this.order_dates.date_from = date_from;
              this.order_dates.date_to = date_to + 3600;
              this.warning.dates = false;
          },

          // API для получения детальной информации о туре
          getRestaurantDetail: function(restaurantID){

              console.log('--- getRestaurantDetail ---');

              let options = {
                  id:restaurantID
              }

              console.log(options);
              // Отправляем АЯКС на сервер с данныем и получем ответ
              this.$http.post(this.sourceRestaurantData, options).then(function (response) {    
                    this.restaurantDetail = response.body;
                    console.log(response.body);
                }, function (error) {
                  console.log(error);
              });            
          },

          // получаем текущий город из корзины 
          getBasketCity:function(cityID){
              let options = {
                  token:'admin_token',
                  id:cityID
              }
              this.$http.post(this.sourceBasketCity, options).then(function (response) { 
                    this.basketCity = response.body;    
               }, function (error) {
                    console.log(error);
              });
          },


          // бронирование сервиса в клинике
          initBookRestaurant: function(){
              
              console.log('--- initBookRestaurant ---');              
              // добавляем слинику
              this._addRestaurant();
          },

           // добавляем тур в корзину 
          _addRestaurant: function(){

              console.log('--- _addRestaurant ---'); 

              if(this.order_dates.date_from == false){
                  this.warning.dates = true;
              }else{

                  let options = {
                        token:'admin_token',
                        places:[],
                        date_from:this.order_dates.date_from,
                        date_to:this.order_dates.date_to
                  }  

                  let restaurant = {
                    type:'restaurant',
                    id_restaurant:this.restaurantDetail.id,
                    order_city_id :this.basketCity.id
                  }

                  options.places.push(restaurant);
                  // console.log(options);

                  this.$http.post(this.sourceAddPlaces, options).then(function (response) {

                      if('addupdated' in response.body){
                          this.warning.success = true;
                          setTimeout(this.closeWindow(),30000);
                          EventService.updatePlanningList(true);
                      }

                  });

              }
          },     

          setDates: function(clinicData){
              this.state_from.date = new Date(clinicData.dates.date_to*1000);
              this.state_to.disabled.to = new Date(clinicData.dates.date_to*1000);
              this.state_to.disabled.from = new Date(clinicData.dates.date_from*1000);
              this.state_to.date = new Date(clinicData.dates.date_from*1000);
              this.state_to.disabled.to = new Date(clinicData.dates.date_to*1000);
              this.state_to.disabled.from = new Date(clinicData.dates.date_from*1000);
          }     
          
      },


      updated: function(){

      },

      watch: {

      }
  }

</script>

<style>

.datapickerIn {
  width: 50px !important;
  padding: 0 !important;
  display: inline !important;
  position: absolute !important;
}

.datapickerOut {
  width: 50px !important;
  margin: 0 0 0 5px !important;
  padding: 0 !important;
  display: inline !important;
  position: absolute !important;
}

.datapickerIn .title {
    background-color: #edf2f8;;
    font-size: 10px;
    font-family: Roboto;
    font-size: 17px;
    line-height: 2.8;
    text-align: left;
    cursor:pointer;
    color: #1a9fcf;
    padding: 0;
    margin: 0;
    width: 45px;
    height: 18px;
}


.datapickerOut .title {
    background-color: #edf2f8;;
    font-size: 10px;
    font-family: Roboto;
    font-size: 17px;
    line-height: 2.8;
    text-align: left;
    cursor:pointer;
    color: #1a9fcf;
    padding: 0;
    margin: 0;
    width: 45px;
    height: 18px;
}

</style>

<style scoped>

 .modal {
      width:100%; 
      height:100%; 
      position:fixed; 
      top:0; left:0;
      z-index: 100;
  }

.active-dark {
    background: gray
}

.check {
  margin: 0 5px 0 0;
}

.restaurantdetail-container {
    width: 800px;
    /*padding: 0 0 16px 0;*/
    margin: 0 auto;
    background: #fff;
}

/**--- CAPTION ---**/
.restaurantdetail-container .caption {
  /*padding: 17px 25px 16px 0;*/
  width: auto;
  height: auto;
  box-shadow: 0 0 16px 0 rgba(42, 46, 56, 0.11);  
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 17px 25px 16px 23px;
}

.back {
  width: 83px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  cursor: pointer;
}

.back .arrow {
  width: 19px;
  height: 32px;
  object-fit: contain;
  background-image:url(../../assets/img/restaurants-img/back.png);
}

.back .inscription {
  width: 50px;
  height: 17px;
  /*font-family: MuseoSansCyrl;*/
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
  color: #039beb;
}

.restaurantdetail-container .caption .close {
  width: 47px;
  height: 47px;
  object-fit: contain;
  background-image:url(../../assets/img/restaurants-img/close.png);
  cursor: pointer;
}

.restaurantdetail-container .caption .text {
  /*font-family: MuseoSansCyrl;*/
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  color: #2a2e38;
  text-transform: uppercase;
}

/**--- NAV ---**/
.restaurantdetail-container .nav {
    height: 48px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #edf2f8;
}

.order-info{
  width: 436px;
  height: 18px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 2.8;
  text-align: left;
  color: #1a9fcf;
  padding: 0 0 0 31px; 
}


.order-info span {
  margin-right:5px;
}

/**--- FILTERS ---**/

.filters {
  margin: 0 20px;
  width:0 auto;
  height: auto;
  padding: 17px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.filter-box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left:16px;
}

.filter-no {
  width: 20px;
  height: 23px;
  margin:0 7px 0 0; 
}


.filter-sorting {
  width: 20px;
  height: 23px;
  background-color: #1a9fcf;
  margin:0 7px 0 0;
}

.filter-link {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  color: #1a9fcf;

}

.filter-sorting {
  width: 20px;
  height: 23px;
  background-color: #1a9fcf;
  margin:0 7px 0 0;
}

.filter-link {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  color: #1a9fcf;

}

/** restaurant DETAIL **/

.restaurant-detail {
    width:auto;
    border: none;
    margin: 16px 24px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 44px 0;
}

 .restaurant-detail-img {
    width: 360px;
    height: 184px;
    background: #ACA0A0;
    position: relative;
}

.restaurant-detail-img .img-text {
  width: 158px;
  height: 45px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 0.8;
  text-align: center;
  color: #ffffff;
  background: #ACA0A0;
  position: absolute;
  opacity: 0.5;
  top:77px;
  left:101px;
}

.restaurant-detail-img .img-list {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.restaurant-detail-img .img-list .img {
  width: 360px;
  height: 184px;
  background: #BE2D2D;
  border: none;
  padding: 0;
  margin: 0;
}

.restaurant-detail-info {
  width: 392px;
  margin-left:23px;
  margin-top: 10px;
}

.restaurant-detail-info .restaurant-cat {
  /*height: 30px;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.restaurant-detail-info .restaurant-cat .text{
/*  width: 61px;
  height: 14px;*/
  color: #a8b6c9;
  font-family: Roboto;
  font-size: 20px;
  text-transform: uppercase;
}

.restaurant-cat-stars {
  width: 95px;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2px 0 0 12px;
}

.guest-rating {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #a8b6c9;
}

.guest-rating .text {
  height: 17px;
  font-family: Roboto;
  font-size: 24px;
  color: #92c104;

}
.guest-rating span {
  font-weight: bold;
  line-height: 1.83;
  text-align: center;
  color: #92c104;
}

.guest-rating .disclosure {
  width: 7px;
  height: 16px;
  background-color: #92c104;
  align-self: center;
  margin-right:23px;
}

.about, .amenities {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #a8b6c9;
}

.about .text, .amenities .text {
  height: 17px;
  font-family: Roboto;
  font-size: 24px;
  color: #1a9fcf;
  line-height: 1.8;
}

.about .disclosure, .amenities .disclosure {
  width: 7px;
  height: 16px;
  background-color: #92c104;
  align-self: center;
  margin-right:23px;
}

/** information SERVICEES**/

.information-filters {
  height: 48px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #edf2f8;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.information-filters-text {
  height: 19px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 2.3;
  text-align: left;
  color: #2a2e38;
  text-transform: uppercase;
  margin: 0 0 0 24px;
}

.information-filters-amenities, .information-filters-amenities div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.information-filters-amenities {
  padding: 16px 0 16px 0;
}

.air-condition .pic {
  width: 17px;
  height: 16px;
  background:#322929;
  margin: 0 7px 0;
}

.tv .pic {
  width: 17px;
  height: 16px;
  background:#322929;
  margin: 0 7px 0;
}

.sale-box .pic {
  width: 17px;
  height: 16px;
  background:#322929;
  margin: 0 7px 0;
}


.all-amenities {
  width: 91px;
  height: 16px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  color: #1a9fcf;
  cursor: pointer;
  margin: 0 24px 0 25px;
}

/** information ITEM**/

.information {
  width: 753px;
  /*height: 216px;*/
  border-radius: 8px;
  border: solid 1px #a8b6c9;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0;
}

.information-top {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom:1px solid #a8b6c9;
  padding-bottom:16px;
  margin-left: 32px;
}

.information-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0 0 0;
}

.information-text {
  font-family: Roboto;
  font-size: 20px;
  text-align: left;
  color: #2a2e38;
  text-transform: capitalize; 
}

.information-text span {
  color: #899bb3;
  text-transform: lowercase;
}

.information-caption .pair {
  width: 24px;
  height: 18px;
  margin:0 0 0 13px;
  background: #322929;
}

.information-person-filter, .select-person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.information-person-filter {
  margin: 16px 0 0 32px;
}   

.select-person {
  width: 112px;
}

.remove, .num, .add {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.remove {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  background-color: #e2e7ed;
  border: solid 1px #e2e7ed;
}

.remove span{ 
  width: 14px;
  height: 1px;
  background-color: #039beb;
  border: solid 1px #039beb;
  display: block;
  align-self: center;
}

.num {
  width: 33px;
  height: 34px;
  border-radius: 2px;
  background-color: #eceff3;

}

.num span {
  width: 7px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  display: block;
  align-self: center;
}

.add {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  background-color: #e2e7ed;
  border: solid 1px #e2e7ed;
}

.plus {
  width: 14px;
  height: 14px;
  background: #B22424;
  display: block;
  align-self: center;
}

.price {
/*  width: 163px;*/
  height: 21px;
  font-family: Roboto;
  font-size: 22px;
  line-height: 1.6;
  text-align: center;
   color: #3d76b8;
   margin: 0 10px 0 37px;
}

.price span {
  font-weight: bold;

}
.information-content {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-start;
  padding: 15px 5px 50px 25px;
  font-family: Roboto;
}

.information-pic {
  width: 80px;
  height: 80px;
  background-color: #2a2e38;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.information-pic .camera {
  width: 32px;
  height: 26px;
  opacity: 0.78;
  background-color: #ffffff;
  align-self: center; 
}

.information-amenities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-unit {
  margin: 0 60px 0 21px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  color: #2a2e38;
}

.service-item {
    /*border: 1px solid #000; */
}

.service-item span {
  width: 11px;
  height: 10px;
  background-color: #ff763a;
  display: inline-block;
  margin: 0 8px 0 0;
}

.information {
  position:relative;
} 

.information-auxiliary {
  /*width: 435px;*/
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-left: solid 1px #a8b6c9;
  border-top: solid 1px #a8b6c9;    
}

.information-auxiliary div {
  width: 145px;
  height: 40px;
display: flex;
  flex-direction: row;
  justify-content: center;
}

.pay-now, .book-later {
 border-right: solid 1px #a8b6c9;
}

.information-auxiliary div span {
/*  width: 63px;
  height: 15px;*/
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  color: #1a9fcf;
  display: block;
   align-self: center;
   cursor: pointer;
}

/** SCROLL-BOX **/

.scroll-box {
  overflow: scroll;
  height: 200px;
  margin: 10px;
}

::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
   background: none;
   border:none;

}


</style>
