<template> 
  <div class="transport">      
      <div class="modal" v-bind:class="{'active-dark':show}" v-show="show">
            
            <div class="addtransport-container"> 

                      <div class="caption">
                          <ul class="tab" id="tabs">  
                            
                            <li>
                              <span class="tab-text" data-tab="tab1">airplain</span>
                              <div class="activ_line"></div>
                            </li>

                            <li>
                              <span class="tab-text" data-tab="tab2">train</span>
                              <div class="activ_line hidden"></div>
                            </li>

                            <li>
                              <span class="tab-text" data-tab="tab3">bus</span>
                              <div class="activ_line hidden"></div>
                            </li>

                            <li>
                              <span class="tab-text" data-tab="tab4">other</span>
                              <div class="activ_line hidden"></div>
                            </li>

                          </ul>
                          <div class="close" @click="closeWindow"></div>
                      </div>

                      <div class="nav">
                            <div class="order-info">
                               
                                <span> {{this.currentCity.title}} - {{this.nextCity.title}}</span> 
      
                            </div>
                            <div class="filters">     
                              <div class="filter-box">
                                <div class="filter-no"></div>
                                <div class="filter-link">Filters</div>
                              </div>

                              <div class="filter-box">
                                <div class="filter-sorting"></div>
                                <div class="filter-link">Sorting</div>
                              </div>
                            </div>
                      </div>

                      <div class="tab-content active-tab" id="tab1">        

                          <div class="scroll-box" v-if="transportAirplain.length>0">
                                    <div class="item"  v-for="airplain in transportAirplain">        
                                      <div class="item-price">
                                          <p class="price-caption" @click="addTransportFrom(airplain)">{{ airplain.title }}</p>
                                          <p class="price-text">08:15 20 June - 16:45 21 June</p>

                                      </div>

                                      <div class="item-flight">
                                          <p class="title">Time</p>
                                          <p class="text"></p>

                                      </div>

                                      <div class="item-transfer">
                                          <p class="title">Transfer</p>
                                          <p class="text">{{ airplain.transfer }}</p>
                                      </div>

                                      <div class="item-carrier">
                                          <p class="title">Carrier</p>
                                          <p class="text">{{ airplain.carrier }}</p>
                                      </div>

                                      <div class="item-arrow"></div>

                                    </div>                             

                            </div>


                    </div>

                    <div class="tab-content" id="tab2">
                          <div class="scroll-box" v-if="transportTrain.length>0">
                              <div class="item"  v-for="transport in transportTrain">        
                                  <div class="item-price">
                                      <p class="price-caption" @click="addTransportFrom(transport)">{{ transport.title }}</p>      
                                      <p class="price-text">{{  timeConverter(transport.departure_date) }} - {{  timeConverter(transport.arrival_date) }}</p>
                                  </div>

                                     <div class="item-flight">
                                          <p class="title">Time</p>
                                          <p class="text"></p>

                                      </div>

                                      <div class="item-transfer">
                                          <p class="title">Transfer</p>
                                          <p class="text">{{ transport.transfer }}</p>
                                      </div>

                                      <div class="item-carrier">
                                          <p class="title">Carrier</p>
                                          <p class="text">{{ transport.carrier }}</p>
                                      </div>

                                      <div class="item-arrow"></div>
                              </div>                             

                          </div>
                    </div>


                      <div class="tab-content" id="tab3">
                            <div class="scroll-box" v-if="transportBus.length>0">
                                    <div class="item"  v-for="transport in transportBus">        
                                      <div class="item-price">
                                          <p class="price-caption" @click="addTransportFrom(transport)">{{ transport.title }}</p>
                                          <p class="price-text">08:15 20 June - 16:45 21 June</p>
                                      </div>


                                      <div class="item-flight">
                                          <p class="title">Time</p>
                                          <p class="text"></p>

                                      </div>

                                      <div class="item-transfer">
                                          <p class="title">Transfer</p>
                                          <p class="text">{{ transport.transfer }}</p>
                                      </div>

                                      <div class="item-carrier">
                                          <p class="title">Carrier</p>
                                          <p class="text">{{ transport.carrier }}</p>
                                      </div>


                                      <div class="item-arrow"></div>
                                    </div>                             

                            </div>
                      </div>

                      <div class="tab-content" id="tab4">

                           <div class="scroll-box" v-if="transportOther.length>0">
                                    <div class="item"  v-for="other in transportOther">        
                                      <div class="item-price">
                                          <p class="price-caption">{{ other.title }}</p>
                                          <p class="price-text">08:15 20 June - 16:45 21 June</p>       
                                      </div>

                                      <div class="item-arrow"></div>
                                    </div>                             

                            </div>
                          
                    </div>

                    
                  
        </div>
   
    </div>
  </div>
</template>

<script>
  import EventService from '../.././EventService.js';

  export default {
      name: "Transport",  
      components: {
      },
      data() {        

        return {
            title: 'Транспорт',
            // API            
            sourceTransport: 'read/transports/', // получаем   транспорт       
            sourceBasketTransport: 'orders/write/transports/', // добавляем в корзину
            sourceBasketTransportUpdate:'orders/update/transports/', // обновляем транспорт
            
            // переменные
            show:false, //            

            currentCity:false, // информация о текущем городе
            cityPlan:[], // план города (дни/места)
            nextCity:false, // информация о следующем города

            transport:[], // транспорт города
            transportPlan:[], // план города по транспорту в корзине
            // массивы транспорта для корзины            
            transportAirplain:[],
            transportTrain:[],
            transportBus:[],
            transportOther:[]

        }

      },

      methods: {
          
          // закрытие окна
          closeWindow: function () {  
              this.resetData();            
              this.show = false;
              EventService.updatePlanningList(true);
          },

          timeConverter: function(timestamp) {
            console.log(timestamp);
            let date = new Date(timestamp * 1000);
            // let dateString = date.toLocaleDateString();
            let locales = 'en-US';
            let options = {   hour12: false, day: 'numeric', month: 'long',  }

            let dateString = date.toLocaleTimeString(locales, options);
            return dateString;
          },

          resetData: function () {
                  
                  this.currentCity = false;
                  this.cityPlan.length = 0;
                  nextCity:false,
                  
                  this.transport.length = 0;
                  this.transportPlan.length = 0;
                  this.transportAirplain.length = 0;
                  this.transportTrain.length = 0;
                  this.transportBus.length = 0;
                  this.transportOther.length = 0;
          }, 
          
          // запискаем обработчик вкладок
          // без JQuery чтобы не конфликтовать с Vue JS
          initTabs:function (){
              console.log('--- initTabs ---');

              let tabsLi = document.getElementById('tabs').querySelectorAll("li");
                let tab1 = tabsLi[0].querySelector("div");
                let tab2 = tabsLi[1].querySelector("div");
                let tab3 = tabsLi[2].querySelector("div");
                let tab4 = tabsLi[3].querySelector("div");

              let tabContent1 = document.getElementById('tab1');
              let tabContent2 = document.getElementById('tab2');
              let tabContent3 = document.getElementById('tab3');
              let tabContent4 = document.getElementById('tab4');

              // console.log(tabContent3);

                if(this.transportAirplain.length==0){            
                    tab1.classList.add('hidden');
                    tabContent1.classList.remove('active-tab');                   
                    if(this.transportTrain.length == 0){ 

                        if(this.transportBus.length == 0){
                          tab4.classList.remove('hidden');
                          tabContent4.classList.add('active-tab'); 
                        }else{
                            tab3.classList.remove('hidden');
                             tabContent3.classList.add('active-tab'); 
                        }
                    }else{
                      tab2.classList.remove('hidden');
                      tabContent2.classList.add('active-tab'); 
                    }
                }


              var selectTab = function(e){
                  e.preventDefault();
                  // e.currentTarget; // тот элемент на котором висит обработчик
                  var target = e.target; // тот элемент который спровоцировал событие 
                  if(target){
                    var hidden = target.nextElementSibling.classList.contains('hidden'); // проверяем соседний элемент
                    if(hidden == true){
                        var Elems = this.parentNode.getElementsByClassName('activ_line');
                        // console.log(Elems);
                        for (var i = 0, len = Elems.length; i < len; i++) {
                            if(Elems[i].classList.contains('hidden')==false){
                                Elems[i].classList.add('hidden');
                            }            
                        }
                        target.nextElementSibling.classList.remove('hidden');        
                    }

                  }
                  
                  // убираем неактивные блоки контента
                  var tabBlocks = document.getElementsByClassName('tab-content');
                  for (var i = 0, len = tabBlocks.length; i < len; i++) { 
                      if(tabBlocks[i].classList.contains('active-tab')){
                          tabBlocks[i].classList.remove('active-tab');
                      }
                  }
                  // console.log(tabBlocks);
                  
                  // отображаем активный блок
                  var data = target.getAttribute('data-tab');
                  var activeTab = document.getElementById(data);    
                  if(activeTab){
                    activeTab.classList.add('active-tab');
                  }
                  
              }

              

              // слушаем вкладки
              var tabs = document.getElementById('tabs');
              tabs.addEventListener('click', selectTab, false);  

              // открываем окно 
              this.show = true;             

          }, 

          // --- транспорт из текущего города Add transport
          getTransportFrom: function(Param){         
              console.log('--- getTransport ---');                 

              let options = {
                  city_from: Param.cityId,
                  city_to: Param.nextCity.id
              }

              console.log(Param.nextCity.id);

              this.$http.post('read/test/transports/', options).then(function (response) { 
                      
                      // если есть записи в БД
                      if(typeof (response.body) == 'object' && response.body.length>0){
                        
                        this.transport = response.body; 
                        // for(let i = 0; i<this.transport.length; i++){
                        //   console.log(this.transport[i].title);
                        // }

                        // инициируем массивы для вывода транспорта во вкаладках
                        for(let i = 0; i<this.transport.length; i++){
                            if(this.transport[i].type == 'bus'){
                                this.transportBus.push(this.transport[i]);
                            }
                            else if(this.transport[i].type == 'airbus' || this.transport[i].type == 'air' ){
                                this.transportAirplain.push(this.transport[i]);
                            }
                            else if(this.transport[i].type == 'train'){
                                this.transportTrain.push(this.transport[i]);
                            }
                            else {
                                this.transportOther.push(this.transport[i]);
                            }
                        }

                        // // инициируем вкладки
                        this.initTabs(); 


                      }else{

                      }
              });
          },

         
          // проверяем транспорт у города
          checkTransportPlan: function(options){              
              console.log('--- checkTransport ---');
              var warning = false;
              var messageAdd = false;

              if(this.transportPlan.length>0){
                  this.transportPlan.forEach(function(item, i){
                      // console.log(item);
                      
                      if(item.transport_id == options.transport_id){
                        if(item.status == 1){
                          messageAdd = 'в последнем дне у предыдущего города как выездной';                                  
                        }else{
                          messageAdd = 'в одном из дней текущего города';
                        }                        
                        // console.log(item.transport_id);
                        // warning
                        warning = {
                          message:'Этот транспорт нельзя добавить, так как он уже добавлен' + ' ' + messageAdd,
                          id:item.id,
                          transport_id:item.transport_id,
                          order_id:item.order_id

                        }
                      }
                  });
              }

              console.log(warning);

              return warning;
          },

          // траспорт в корзине по текущему городу
          setTransportPlan: function (){
              
              if(this.cityPlan.length > 0){
                
                  // console.log(this.cityPlan);
                  var transports = [];
                  this.cityPlan.forEach(function(item, i){                        
                        if(item.place.length > 0){                    
                          item.place.filter(function(placeItem){
                              if(placeItem.type == 'transport'){
                                transports.push(placeItem);
                              }
                          });                    
                        }         
                  });

                  this.transportPlan = transports;     
                  // console.log(this.transportPlan);
              }              
          },

          testSetTransportPlan: function (nextCity){
              
              if(nextCity.length > 0){
                
                  // console.log(this.cityPlan);
                  var transports = [];
                  nextCity.forEach(function(item, i){                        
                        if(item.place.length > 0){                    
                          item.place.filter(function(placeItem){
                              if(placeItem.type == 'transport'){
                                transports.push(placeItem);
                              }
                          });                    
                        }         
                  });

                  this.transportPlan = transports;     
                  // console.log(this.transportPlan);
              }              
          },

          // --- транспорт в текущий и из текущего города Add transport
          findTransport: function (Param){
                console.log('--- test findTransport ---');  
                // console.log(Param);

                // let options = {
                //   city_from: 9,
                //   city_to: 12
                // }

                let options = {
                  city_from: Param.cityId,
                  city_to: Param.nextCity.id
                }

                console.log(Param.nextCity.id);

                this.$http.post('read/test/transports/', options).then(function (response) { 
                      // если есть записи в БД
                      if(typeof (response.body) == 'object' && response.body.length>0){
                        
                        this.transport = response.body; 
                        for(let i = 0; i<this.transport.length; i++){
                          console.log(this.transport[i].title);

                        }

                        // инициируем массивы для вывода транспорта во вкаладках
                        for(let i = 0; i<this.transport.length; i++){
                            if(this.transport[i].type == 'bus'){
                                this.transportBus.push(this.transport[i]);
                            }
                            else if(this.transport[i].type == 'airbus' || this.transport[i].type == 'air' ){
                                this.transportAirplain.push(this.transport[i]);
                            }
                            else if(this.transport[i].type == 'train'){
                                this.transportTrain.push(this.transport[i]);
                            }
                            else {
                                this.transportOther.push(this.transport[i]);
                            }
                        }

                        // инициируем вкладки
                        this.initTabs(); 


                      }else{

                      }
                });

          },


          // помещаем в корзину
          addToBasket: function(transport){                

              console.log('--- addToBasket ---'); 

              let options = {
                token: 'admin_token', 
                city:this.currentCity.id, 
                transport_id:transport.id
              }  
                                    
              // проверка на наличие транспорта в заказе
              let warning = this.checkTransportPlan(options);
                      
              if(warning == false){                        
                // помещаем транспорт в корзину
                this.addTransport(options, transport);
                // console.log(options);
              } 


          },

          // помещаем транспорт в корзину
          addTransport:function(options, transport){
              console.log('--- addTransport ---');
              
              // console.log(options);

              // добавляем транспорт
              this.$http.post(this.sourceBasketTransport, options).then(function (response) {       
                  
                  // console.log(response.body);                  
                  options.id =  response.body.id;                
                  
                  if(typeof options['id'] !== "undefined"){
                      // обавляем даты                       
                      
                      // здесь надо добавить даты из календаря !!!
                      // var last_day = this.cityPlan.length-1; 
                      // this.cityPlan.forEach(function(item, i){
                      //     if(i == last_day){
                      //        options.date_from = Number(item.end) - 600;
                      //        options.date_to = options.date_from + 57600;
                      //     }
                      // });
                      
                      options.date_from = transport.departure_date;
                      options.date_to = transport.arrival_date;

                      delete options.transport_id;
                      delete options.city;
                      // console.log(options);    

                      // // обновляем транспорт
                      this.$http.post(this.sourceBasketTransportUpdate, options).then(function (response) {   
                          // console.log(response.body);   
                          let transportUpdate = response.body;
                          
                          // обновляем список Planning List
                          // установить событие для Planning getCityList    
                          EventService.updatePlanningList(transportUpdate);
                          this.closeWindow();
                        }, function (error) {
                          console.log(error)
                      });                    
                  }

                }, function (error) {
                  console.log(error)
              });     

          },

          addTransportFrom: function (transport) {            
            console.log('--- addTransportFrom test---');                
            console.log(transport);

            // let date_to = new Date(transport.departure_date*1000 + 1000*3600*24);
            // console.log(date_to);
            this.addToBasket(transport);

          }

      },


      created: function(){          
          
          // слушаем событие в сервисе при открытии детального окна информации об отелей   
          EventService.$on("viewTransportList", (Param) => { 

              console.log('--- viewTransportList ---');  

              // если в переменной транспорт уже есть данные, очищаем поля
              if(this.transport.length>0){                  
                  this.resetData();
              }   

              // устанавливаем данные в поля
              this.currentCity = Param.city.city_info;
              this.cityPlan = Param.city.city_plan;
              this.nextCity = Param.nextCity;
              this.setTransportPlan();

              this.findTransport(Param);
              // this.getTransportFrom(Param);
              
          }); 

      },
      updated: function(){

      },
      watch:{
          transport:function(val){
            // console.log(val);     
          }
      }
  }

</script>

<style scoped>

  .fake-modal{
    width: 400px;
    min-height: 200px;
    position:fixed;
    top:0;
    left: 0;
    /*background: #c7ebce;*/
    border: 1px solid #400000;
    background: #6a87a6;
    color:#fff;
    z-index: 300;
  }

  .buy {
    text-decoration-line: underline;
    color:#400000;
  }

  .modal{
      width:100%; 
      height:100%; 
      position:fixed; 
      top:0; left:0;
      z-index: 100;
  }

  .active-dark {
    background: gray
  }

  .addtransport-container {
       width: 800px;
      padding: 0 0 16px 0;
      margin: 0 auto;
      background: #fff;
  }

/** --- CAPTION --- **/
.addtransport-container .caption {
  padding: 17px 25px 0;
  width: auto;
  height: auto;
  box-shadow: 0 0 16px 0 rgba(42, 46, 56, 0.11);  
  display: flex;
}

.addtransport-container .close {
  width: 47px;
  height: 47px; 
  object-fit: contain;
  /*background: #EB2828;*/
   background-image: url(../../assets/img/close.png);
   cursor: pointer;
}
.addtransport-container .tab {
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.addtransport-container .tab li {
  /*margin: 5px;*/
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

.addtransport-container .activ_line {
  width: 154px;
  height: 4px;
  object-fit: contain;
  background-image: linear-gradient(70deg, #3d76b8, #03a5d9 42%, #f2655b 80%, #ff8337);
  margin: 10px 0;
}

.hidden {visibility:hidden;}

.addtransport-container .tab-text {
  display: inline-block;
  font-family: MuseoSansCyrl;
  font-size: 22px;
  font-weight: 300;
  line-height: 2;
  text-align: center;
  color: #039beb;
  text-transform: uppercase;
}

/** --- NAV --- **/
.addtransport-container .nav {
    height: 48px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #edf2f8;
}

.order-info{
  width: 436px;
  height: 18px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 2.8;
  text-align: left;
  color: #1a9fcf;
  padding: 0 0 0 31px; 
}

/** --- FILTERS --- **/

.filters {
  margin: 0 20px;
  width:0 auto;
  height: auto;
  padding: 17px 0 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.filter-box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left:16px;
}


.filter-no {
  width: 20px;
  height: 23px;
  margin:0 7px 0 0; 
  background-image: url(../../assets/img/filter.png);  
}

.filter-sorting {
  width: 20px;
  height: 23px;
  margin:0 7px 0 0;
  background-image: url(../../assets/img/sorting.png);
}

.filter-link {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  color: #1a9fcf;
}

/** --- SCROLL-BOX --- **/

.scroll-box {
  overflow: scroll;
  height: 200px;
  margin: 10px;
}

::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
   /* background-color: #eee;*/
   background: none;
   border:none;

}

/** --- ITEM INFO --- **/

.addtransport-container .item {
    width:auto;
    border: 2px solid #a8b6c9;
    border-radius: 5px;
    margin: 16px 24px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 24px 0;
}

.item-price, .item-flight, .item-transfer, .item-carrier, .item-arrow {
  /*border: 1px solid #808080;*/
}

.item-flight .title, .item-transfer .title, .item-carrier .title{
  color:#a8b6c9;
}

.item-price {
  padding: 30px 0 0 20px;
}

.text{
  color: #2a2e38;
}

.item-flight, .item-transfer, .item-carrier {
  padding: 20px 0 0 0;
}

.item-arrow {
  width: 18px;
  margin:50px 2% 0 0;
  height: 30px;
  background-image: url(../../assets/img/disclosure.png);
}

.price-caption {
  color: #3d76b8;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.price-text {

}

.addtransport-container .item-caption {
  width: 205px;
  font-family: Roboto;
  font-size: 24px;
  color: #2a2e38;
  margin: 0 0 10px 0;
}



/*** Вкладки ***/
.tab-content{
  display: none;
}

.active-tab {
  display: block !important;
}

</style>
