<template>
  <div class="forgotpass">
      {{$route.params.code}}
      <input type="password" name="password" v-model="password">
      <button @click="SendPass()">Send</button>
  </div>
</template>

<script>
export default {
  name: 'forgotpass',
  created: function(){
    this.$root.dataLoad = true;
    this.$http.post('account/checkresetpassword/', {code: this.$route.params.code}).then(response => {

        this.$root.dataLoad = false;
       // При положительном ответет авторизовываем пользователя
       //this.someData = response.body;

     }, response => {


       //[FINISH] - Сделать редирект на 404
       this.$router.push('/');
       this.$root.dataLoad = false;

       // При ошибки обрабатываем ее и сообщаем пользователю
     });
  },
  data () {
    return {
      password : '',
    }
  },
  methods:{
    SendPass: function(){

      if ( this.password != '' && this.password.length > 5 ){

        this.$root.dataLoad = true;
        this.$http.post('account/newpass/', {code: this.$route.params.code, password: this.password}).then(response => {

            this.$root.dataLoad = false;
           // При положительном ответет авторизовываем пользователя
           //this.someData = response.body;

         }, response => {


           //[FINISH] - Сделать редирект на 404
           this.$router.push('/');
           this.$root.dataLoad = false;

           // При ошибки обрабатываем ее и сообщаем пользователю
         });

        return true;
      }

      return false;
    }
  }
}
</script>

<style lang="css">
</style>
