<template>
  <div class="home">

    <div class="block_question_tour">

      <div class="tour_from form_tour">
        <label>Departure city</label>
        <input class="input_tour" placeholder="Departure city" v-model="city_from"/>
        <span class="error" v-if="error.city_from">Not City Check</span>
        <div class="dashed-border"></div>
        <div class="modal_city" v-if="modalCityFrom">
          <ul>
            <li v-for="city in cities" @click="SendCity(0, city.title, city.id)">
              {{ city.title }}
            </li>
          </ul>
        </div>
      </div>

      <div class="tour_where form_tour">
        <label>City of arrival</label>
        <input class="input_tour" v-bind:class="{'error_city_to': error.city_to}" placeholder="City of arrival" v-model="city_to"/>
        <span class="error" v-if="error.city_to">Not City Check</span>
        <div class="dashed-border"></div>
        <div class="modal_city" v-if="modalCityTo">
          <ul>
            <li v-for="city in cities" @click="SendCity(1, city.title, city.id)">
              {{ city.title }}
            </li>
          </ul>
        </div>
      </div>

      <button @click="SendForm()">Complete</button>

    </div>

  </div>
</template>

<script>
import _ from 'lodash'
export default {
  name: 'home',
  data () {
    // переменные
    /*
    city_from: Название города откуда,
    city_to: Название города куда,
    modalCityFrom: Поисковаое окно для городов откуда,
    modalCityTo: Поисковаое окно для городов куда,
    cities: Массив городов полученных при обращение по API,
    cityCheck: ID выбранных городов,
    clickForm: Определение выбора города на форму подсказок,
    */
    return {
      city_from: '',
      modalCityFrom: false,
      city_to: '',
      modalCityTo: false,
      cities: [],
      cityCheck:{
        from : 0,
        to: 0
      },
      error: {
        city_to: false,
        city_from: false
      },
      clickForm: false,
    }
  },

  //Следим за изменениями в форме
  watch: {
    // Печатает ли пользователь название города
    city_from: function (strCity) {
      // Проверяем небыло ли клика по всплывающему окну городов
      if(!this.clickForm){
        //Запрашиваем список городов
        this.getCity(0, strCity)
      }
      //Отменяем клик по окну городов
      this.clickForm = false;

    },
    //Весь тот же функционал только для поля куда
    city_to: function (strCity) {
      if(!this.clickForm)
        this.getCity(1, strCity)
      this.clickForm = false;
    },
  },
  methods:{
    //Проверяем и получаем список найденных городов
    getCity: _.debounce(
      /*
        Передаем следующее параметры
        is_rus - Города России или нет,
        strCity - Название города,
      */
      function(is_rus, strCity){
        //Закрываем окна при новом запросе
        this.modalCityTo = this.modalCityFrom = false;

        //Проверяем не пустая ли строка
        if(strCity.length){
          //Запрашиваем города по API
          this.$http.post('read/cities/', {is_rus: is_rus.toString(), name: strCity}).then(response => {

              //ТРЕБУЕТСЯ СДЕЛАТЬ ПРОВЕРКУ НА НАЛИЧИЕ ГОРОДОВ И ВЫВЕСТИ ОШИБКУ [Finish]

             //this.someData = response.body;
             this.cities = response.body;

             // Открываем окно вспомогательное окошко для Выбора города
             (is_rus) ? this.modalCityTo = true : this.modalCityFrom = true;

           }, response => {
           });

        }
      },
      500
    ),
    //Обработка выбранного города
    SendCity: function(form, city, cityId){
      //Ставим что город выбран из списка
      this.clickForm = true;
      //Закрываем окна подсказок городов
      this.modalCityTo = false;
      this.modalCityFrom = false;

      //Проверяем какое это поле откуда или куда и работаем с параметрами
      if(form) {
        this.city_to = city;
        this.cityCheck.to = cityId;
      }else{
        this.city_from = city;
        this.cityCheck.from = cityId;
      }
    },
    //Отправка выбранных городов для построенние маршрута
    SendForm: function(){

      //Проверяем все ли поля выбранны
      if(this.cityCheck.to != 0 && this.cityCheck.from != 0){
        this.error.city_to = false;
        this.error.city_from = false;

        var city = [];
        this.$root.dataUser.order = {};

        city.push({
          id_city: this.cityCheck.from,
          city_name: this.city_from
        });
        city.push({
          id_city: this.cityCheck.to,
          city_name: this.city_to
        });

        // this.$http.post('orders/write/cities/', {token: this.$root.dataUser.token, id_city: this.cityCheck.from}).then(response => {
        //     console.log(response);
        //     this.$http.post('orders/write/cities/', {token: this.$root.dataUser.token, id_city: this.cityCheck.to}).then(response => {
        //         console.log(response);
        //     }, response => {
        //       // Произошла ошибка и обрабатываем ее тут
        //     });
        //  }, response => {
        //    // Произошла ошибка и обрабатываем ее тут
        //  });

        this.$root.dataUser['order'].city = city

        this.$cookie.set('data_user', JSON.stringify(this.$root.dataUser) );
        this.$router.push('/planningroute');
      }

      //Обработка ошибки [Finish]
      (this.cityCheck.to == 0) ? this.error.city_to = true : this.error.city_to = false;
      (this.cityCheck.from == 0) ? this.error.city_from = true : this.error.city_from = false;
    }
  }
}
</script>
<style scoped>
.home{
  height: 100vh;
  background-image: url("../assets/home_back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block_question_tour{
  width: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  justify-content: center;
}

.form_tour{
  width: 100%;
  margin: 20px 40px 10px 40px;
  position: relative;
}
.form_tour > label{
  float: left;
  font-size: 20px;
  color: #b9c5d5;
  font-family: 'Roboto';
}
.form_tour > input{
  background: none;
  border: none;
  font-size: 24px;
  width: 100%;
  color: #039beb;
  margin-bottom: 10px;
  font-family: 'Roboto';
}
.form_tour > input:focus{
  outline: none;
}
.error{
  position: absolute;
  top:40%;
  color: #dc2e2a;
  right: 0;
}
.form_tour .dashed-border{
  width: 100%;
  position: relative;
  border-bottom: 1px dashed #fff;
  margin-bottom: 15px;
}
.form_tour .dashed-border::before{
  content:"";
  border-top: 1px dashed #FFF;
  position: absolute;
  top:0;
  left:2px;
  right:0;
  width: 100%;
  height: 1px;
  z-index: 2;
}
.form_tour .dashed-border::after{
   content:"";
   position: absolute;
   bottom: -1px;
   left: -1px;
}
.form_tour .dashed-border::after{
  right: -1px;
   height: 1px;
   background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #3d76b8), color-stop(50%, #3d76b8), color-stop(51%, #3d76b8), color-stop(100%, #ff9a5b));
   background-image: -webkit-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
   background-image: -moz-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
   background-image: -o-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
   background-image: -ms-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
/* IE10+ */
   background-image: linear-gradient(to right, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
/* W3C */
}
.form_tour > .modal_city{
  width: 100%;
  position: absolute;
  background-color: white;
  border: 1px solid #c2c2c2;
  z-index: 1;
  top: 65px;
  left: -2px;
}
.form_tour > .modal_city ul{
  margin: 0;
  padding: 0;
}
.form_tour > .modal_city li{
  list-style-type: none;
  padding: 5px;
  text-align: left;
  cursor: pointer;
}
.block_question_tour > button{
  width: 60%;
  height: 50px;
  margin-bottom: 50px;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 24.9px;
  font-weight: 300;
  position: relative;
  background-color: #30adef;
  border-color: #30adef;
  color: #fff;
  cursor: pointer;
}
</style>
