<template>

  <div id="modal-template" class="modal" v-show="show">

    <div v-if="!forpas" class="modal-content">

      <div class="modal-header">
        <span v-bind:class="{ active: login }" v-on:click="login = !login; reg = !reg;">Sign in</span>
        <span v-bind:class="{ active: reg }" v-on:click="login = !login; reg = !reg;">Sign up</span>
        <img class="close" v-on:click="$emit('close')" src="../assets/modal_close.png" />
      </div>

      <div class="modal-social">
        <div class="modal-social-title">Log in or register through social networks:</div>
        <div class="modal-social-content">
          <img v-on:click="LoginFB()" src="../assets/fb.png" />
          <img src="../assets/twitter.png" />
          <img src="../assets/google.png" />
        </div>
      </div>

      <div class="modal-body">
        <div class="modal-body-title" v-if="login">Sign in with E-mail:</div>
        <div class="modal-body-title" v-if="reg">Registration via E-mail:</div>

        <div v-if="login" class="modal-body-login">

          <div class="email_block">
            <input name="email" type="text" placeholder="Email" class="form-control" :value="form.email" v-model="form.email">
            <label v-bind:class="{'error_email': error.email}"></label>
            <div class="dashed-border"></div>
          </div>

          <div class="pass_block">
            <input type="password" id="pass_input" class="form-control" placeholder="Password" name="password" :value="form.password" v-model="form.password">
            <label v-bind:id="[pass_open ? 'passlabel' : 'passlabelnon']" v-bind:class="{'error_pass': error.pass}" @click="passOpen()"></label>
            <div class="dashed-border"></div>
          </div>
          <div class="forpas" v-on:click="forpas = true;">Forgot your password?</div>

          <button @click="loginPost()">Login</button>
        </div>

        <div v-if="reg" class="modal-body-reg">

          <div class="email_block">
            <input name="email" type="text" placeholder="Email" class="form-control" :value="form.regemail" v-model="form.regemail">
            <label v-bind:class="{'error_email': error.email_reg}"></label>
            <div class="dashed-border"></div>
          </div>

          <div class="pass_block">
            <input type="password" id="pass_input" class="form-control" placeholder="Password" name="regpassword" :value="form.regpassword" v-model="form.regpassword">
            <label v-bind:id="[pass_open ? 'passlabel' : 'passlabelnon']" v-bind:class="{'error_pass': error.pass_reg}" @click="passOpen()"></label>
            <div class="dashed-border"></div>
          </div>

          <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
            <symbol id="checkmark" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-miterlimit="10" fill="none"  d="M22.9 3.7l-15.2 16.6-6.6-7.1">
              </path>
            </symbol>
          </svg>
          <div class="promoted-checkbox">
            <input id="tmp" type="checkbox" class="promoted-input-checkbox" v-model="checkbox"/>
            <label for="tmp">
              <svg><use xlink:href="#checkmark" /></svg>
              I agree with the terms of the user agreement
            </label>
          </div>

          <button v-bind:class="{ active: checkbox }" @click="regPost()">Complete</button>

        </div>

      </div>

    </div>

    <div v-if="forpas" class="modal-content">

      <div class="modal-header">

        <div class="back_row" v-on:click="forpas = false;"><img src="../assets/modal-back-arow.png" />Back</div>
        <div class="modal-header-title">Password recovery</div>
        <img class="close" v-on:click="$emit('close')" src="../assets/modal_close.png" />

      </div>

      <div class="modal-body">

        <div class="modal-body-title">Enter the email to which the account is linked.</div>

        <div v-if="!sendForPass" class="modal-body-login">
          <div class="email_block">
            <input name="email" type="text" placeholder="Email" class="form-control" :value="form.emailForPas" v-model="form.emailForPas">
            <label v-bind:class="{'error_emailForPas': error.emailForPas}"></label>
            <div class="dashed-border"></div>
          </div>
          <button @click="ForPass()">Continue</button>
        </div>
        <div v-if="sendForPass" class="modal-body-login msg_ling_for_pass">
          <img src="../assets/info.png"/> <span>A new password was sent to {{form.emailForPas}}</span>
        </div>

      </div>

    </div>

  </div>

</template>

<script>
export default {
  name: 'modal-template',
  props: ['show'],
  data () {
    return {
      login: true,
      reg: false,
      form: {
        email : '',
        password: '',
        regemail: '',
        regpassword: '',
        emailForPas: ''
      },
      error:{
        email: false,
        email_reg: false,
        pass: false,
        pass_reg: false,
        emailForPas: false
      },
      shows: this.show,
      authorized: false,
      checkbox: false,
      pass_open: false,
      email_valid: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
      forpas: false,
      sendForPass: false
    }
  },
  methods: {
    //Открытие и закрытия пароля
    passOpen: function(){
      this.pass_open = !this.pass_open;
      if(this.pass_open){
        document.getElementById('pass_input').type = 'text';
      }else{
        document.getElementById('pass_input').type = 'password';
      }
    },
    //Данный метод авторизовывает пользователя по email и паролю
     loginPost: function () {
       if(this.form.email !== ''){

         //Проверяем введенную почту
         if(this.email_valid.test(this.form.email)){
           this.error.email = false;

           //Проверяем пароль на пустоту
           if(this.form.password !== ''){
             this.error.pass = false;

             this.$root.dataLoad = true;
             //Отправляем АЯКС на сервер с данныем и получем ответ
             this.$http.post('account/login', {email: this.form.email, password : this.form.password}).then(response => {
               this.$root.dataLoad = false;
               this.$root.dataUser = JSON.parse(response.bodyText);
               this.$cookie.set('data_user', response.bodyText);
               this.$root.sign = false;
                // Если все хорошо работаем дальше и авторизовываем пользователя
                //this.someData = response.body;
               this.$emit('close');

              }, response => {
                // Произошла ошибка и обрабатываем ее тут
              });
           }else{
             this.error.pass = true;
           }
         }else{
           this.error.email = true;
         }
       }else{
         this.error.email = true;
       }

     },
     //Метод регистрации пользователя
    regPost: function () {
        //Проверяем на пустоту поле почты
        if(this.form.regemail !== ''){
          //Проверяем введеную почту на правильность
          if(this.email_valid.test(this.form.regemail)){
            this.error.email_reg = false;
            //проверяем пароль на пустоту
            if(this.form.regpassword !== '' && this.form.regpassword.length > 3){
              this.error.pass_reg = false;
              this.$root.dataLoad = true;
              //Отправляем на сервер данные и регистрируем пользователя
              this.$http.post('account/signup', {email: this.form.regemail, password : this.form.regpassword, password_confirmation: this.form.regpassword}).then(response => {

                 // При положительном ответет авторизовываем пользователя

                 this.$root.dataLoad = false;
                 this.$root.dataUser = JSON.parse(response.bodyText);
                 this.$cookie.set('data_user', response.bodyText);
                 this.$root.sign = false;
                 this.$emit('close');

                 //this.someData = response.body;

               }, response => {
                 // При ошибки обрабатываем ее и сообщаем пользователю
               });

            }else{
              this.error.pass_reg = true;
            }
          }else {
            this.error.email_reg = true;
          }
        }else{
          this.error.email_reg = true;
        }

    },
    //Метод востановления пароля
    ForPass: function (){
      if(this.form.emailForPas !== '' && this.email_valid.test(this.form.emailForPas)){
        this.error.emailForPas = false;
        this.$root.dataLoad = true;
        this.$http.post('account/forgotpass/', {email: this.form.emailForPas}).then(response => {

            this.$root.dataLoad = false;
           // При положительном ответет авторизовываем пользователя
           this.sendForPass = true;
           //this.someData = response.body;

         }, response => {
           this.$root.dataLoad = false;
           // При ошибки обрабатываем ее и сообщаем пользователю
         });
      }else{
        this.error.emailForPas = true;
      }
    },
    //Метод авторизации через FB
   LoginFB: function () {

     let vm = this
     //Запрашиваем у ФБ доступ к портфолио
     FB.login(function (response) {
       //Возвращаем полученные данные
       vm.statusChangeCallback(response)
     }, {scope: ''})

   },
   //Обрабатываем полученные данные
   statusChangeCallback: function  (response) {
     let vm = this
     //Проверяем статус получение данных
     if (response.status === 'connected') {
       this.authorized = true
       this.$root.dataLoad = true;
       //Отправляем данные на сервер
       vm.$http.post('account/loginsocial', {social: "facebook", token: response.authResponse.accessToken, uid: response.authResponse.userID}).then(response => {

          // Если все хорошо авторизовываем пользователя
          this.$root.dataLoad = false;
          this.$root.dataUser = JSON.parse(response.bodyText);
          this.$cookie.set('data_user', response.bodyText);
          this.$root.sign = false;
          this.$emit('close');
          //this.someData = response.body;

        }, response => {
          // Обрабатываем ошибки
        });
     } else if (response.status === 'not_authorized') {
       vm.authorized = false
     } else {
       vm.authorized = false
     }
   }
 },
mounted: function () {
  // Подгружаем скрипт для работы с АПИ FB
   (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   //Инцилизируем FB
   window.fbAsyncInit = () => {

     FB.init({
       appId: '1040123459392354',
       cookie: true,
       xfbml: true,
       version: 'v2.9'
     })

   }

 }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */

.modal-header {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 50px;
}

.modal-header > span{
  font-size: 24px;
  margin: 0 20px;
  padding-bottom: 10px;
  cursor: pointer;
  width: 125px;
}
.modal-header > span.active{
  border-bottom: 4px solid transparent;
  border-image:url("../assets/modal_border_link.png") 30 round;
}
.back_row {
  font-family: MuseoSansCyrl;
  font-size: 24px;
  color: #039beb;
  position: absolute;
  left: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-header-title{
  font-family: MuseoSansCyrl;
  font-size: 24px;
  color: #2a2e38;
}
.close {
  position: absolute;
  right: 25px;
  cursor: pointer;
}

.modal-social{
  width: 100%;
}
.modal-social-title{
  width: 100%;
  background-color: #edf2f8;
  color: #7f97b5;
  font-family: Roboto;
  font-size: 17px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.modal-social-content{
  width: 100%;
}
.modal-social-content > img{
  margin: 0 10px;
  cursor: pointer;
}

.modal-body {width: 100%;}
.modal-body-title{

    width: 100%;
    background-color: #edf2f8;
    color: #7f97b5;
    font-family: Roboto;
    font-size: 17px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 30px;
}
.modal-body-login{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;;
}
.forpas{
  font-family: Roboto;
  font-size: 19px;
  color: #039beb;
  text-align: right;
  width: 60%;
  margin-bottom: 25px;
  cursor: pointer;
}
.msg_ling_for_pass{
  font-family: Roboto;
  font-size: 17px;
  color: #dc2e2a;
  flex-direction:row;
  margin-bottom: 25px;
}

.msg_ling_for_pass img{
  float: left;
  margin-right: 15px;
}

.modal-body-reg{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;;
}
.modal-body  input{
  width: 100%;
  border: 0;
  height: 50px;
  font-size: 19px;
  color: #039beb;
  font-family: Robot;
  font-weight: 300;
}
.modal-body input:focus{
  outline: none;
}

.modal-body .dashed-border{
  width: 100%;
  position: relative;
  border-bottom: 1px dashed #fff;
  margin-bottom: 15px;
}
.modal-body .dashed-border::before{
  content:"";
  border-top: 1px dashed #FFF;
  position: absolute;
  top:0;
  left:2px;
  right:0;
  width: 100%;
  height: 1px;
  z-index: 2;
}
.modal-body .dashed-border::after{
   content:"";
   position: absolute;
   bottom: -1px;
   left: -1px;
}
.modal-body .dashed-border::after{
  right: -1px;
   height: 1px;
   background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #3d76b8), color-stop(50%, #3d76b8), color-stop(51%, #3d76b8), color-stop(100%, #ff9a5b));
   background-image: -webkit-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
   background-image: -moz-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
   background-image: -o-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
   background-image: -ms-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
/* IE10+ */
   background-image: linear-gradient(to right, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
/* W3C */
}
.email_block{
  width: 60%;
  position: relative;
}
.pass_block{
  width: 60%;
  position: relative;
}
.error_email::before{
  content: 'Already registered';
  position: absolute;
  top: 15px;
  right: 10px;
  color: #dc2e2a;
}
.error_emailForPas::before{
  content: 'Email required';
  position: absolute;
  top: 15px;
  right: 10px;
  color: #dc2e2a;
}
.error_pass::before{
    content: 'Wrong password';
    position: absolute;
    top: 15px;
    right: 50px;
    color: #dc2e2a;
}
#passlabelnon::after{
    content: url("../assets/pass_close.png");
    width: 30px;
    height: 19px;
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
}

#passlabel::after{
  content: url("../assets/pass_open.png");
  width: 30px;
  height: 19px;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

/* HTML5 Boilerplate accessible hidden styles */
.promoted-input-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.promoted-checkbox{
  width: 60%;
  margin-bottom: 25px;
  margin-top: 10px;
}

.promoted-checkbox input:checked + label > svg {
  height: 24px;
  -webkit-animation: draw-checkbox ease-in-out 0.2s forwards;
          animation: draw-checkbox ease-in-out 0.2s forwards;
}
.promoted-checkbox label:active::after {
  background-color: #e6e6e6;
}
.promoted-checkbox label {
  color: #7f97b5;
  line-height: 40px;
  cursor: pointer;
  position: relative;
  left: -62px;
}
.promoted-checkbox label:after {
  content: "";
  height: 40px;
  width: 40px;
  margin-right: 1rem;
  float: left;
  border: 1px solid #039beb;
  -webkit-transition: 0.15s all ease-out;
  transition: 0.15s all ease-out;
}
.promoted-checkbox svg {
  stroke: #039beb;
  stroke-width: 2px;
  height: 0;
  width: 24px;
  position: absolute;
  left: -20%;
  top: -4px;
  stroke-dasharray: 33;
}

@-webkit-keyframes draw-checkbox {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-checkbox {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.modal-body-login > button {
  width: 40%;
  background-color: #30adef;
  border: 1px solid #30adef;
  height: 50px;
  margin-bottom: 50px;
  border-radius: 4px;
  color: #fff;
  font-family: Roboto;
  font-size: 24.9px;
  font-weight: 300;
  cursor: pointer;
}

.modal-body-reg > button{
  width: 40%;
  background: none;
  border: 1px solid #cdcdcd;
  height: 50px;
  margin-bottom: 50px;
  border-radius: 4px;
  color: #cdcdcd;
  font-family: Roboto;
  font-size: 24.9px;
  font-weight: 300;
  pointer-events: none;
}
.modal-body-reg > button.active{
  background-color: #30adef;
  border-color: #30adef;
  color: #fff;
  cursor: pointer;
  pointer-events: auto;
}
</style>
