<template>
  <div id="PlanningRoute" class="planningroute">
    <div class="header"> 

      <div class="calendar">
        <div class="calendar_step">
          <span>departure</span>
          <div class="dashed-border"></div>
          <datepicker 
          class="datapicker" 
          :disabled="state_from.disabled" 
          :value="state_from.date" 
          v-model="state_from.date" 
          :format="format" 
          v-on:closed="changeDateFrom" ></datepicker>
        </div>

        <div class="calendar_step" @click="initBackDateWarning">
          <span>Back</span>
          <div class="dashed-border"></div>
          
          <div v-if="back==false">
            back - false
           </div>

            <datepicker v-if="!back" :input-class="state_to.inputClass" :placeholder="state_to.placeholder" :disabled="state_to.disabled" 
              class="datapicker datapicker_to" 
              :value="state_to.date" 
              :format="format"
              :disabled-picker="true" 
              @opened="checkOpened" 
              ></datepicker>
            
<!-- {{state_to.disabled}}
            {{state_to.date}}
            {{previousBackDate}} -->
<!--             {{state_to.active}}
            {{bascet.date_to}} -->

          <datepicker  v-if="back" v-on:closed="writeBascet()" :input-class="state_to.inputClass" 
            :placeholder="state_to.placeholder" 
            :disabled="state_to.disabled" 
            class="datapicker datapicker_to" 
            :value="state_to.date" 
            v-model="state_to.date" 
            :format="format"
            :disabled-picker="!state_to.active"></datepicker>
          
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
            <symbol id="checkmark" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-miterlimit="10" fill="none"  d="M22.9 3.7l-15.2 16.6-6.6-7.1">
              </path>
            </symbol>
          </svg>
          <div class="promoted-checkbox">
            <input id="tmp" type="checkbox" class="promoted-input-checkbox" value="1" v-model="state_to.active" :disabled="!back" />

            <label for="tmp">
              <svg><use xlink:href="#checkmark" /></svg>
            </label>
          </div>
        </div>
        
        <div>          
    <p  @click="initMiddles()" style="cursor:pointer;">Промежуточные города</p>
    <p  @click="initDeleteMiddles()" style="cursor:pointer;">Удаляем промежуточные города</p>
</div>


      </div>

      <div class="person">
        <span>Traveling</span>

        <div class="dashed-border"></div>
        <div class="person_count">
          <span>Adults:</span>
          <span class="person_minus" @click="(bascet.adults >= 2)?bascet.adults--:''; writeBascet();">-</span>
          <input disabled type="text" v-model="bascet.adults"/>
          <span class="person_plus" @click="bascet.adults++; writeBascet();">+</span>
          <span class="childs">
            <span @click="OpenPopupPerson()">Children: {{bascet.childs.length}}</span>
            <div class="popup-person" v-if="popupPerson">
              <div class="popup-person_background" @click="popupPerson = !popupPerson"></div>
              <div class="popup-person-title"  @click="addChild()">COUNT CHILDREN</div>
              <ul>
                <li v-for="(child, index) in bascet.childs"
                  class="todo"
                  :key="index">
                  <input type="number" v-model="child.age" @keyup="strChild(bascet.childs, index)"/>
                  <div class="dashed-border"></div>
                  <div class="rem_child" @click="remChild(index)">X</div>
                </li>
              </ul>
            </div>
          </span>
        </div>
        <div class="popup-person"></div>
        

      </div>

    </div>

    <Planing/>

  </div>
</template>
<script>

import Datepicker from 'vuejs-datepicker';
// import Planing from './comp/Planing';
import Planing from './planing-route/Planing';
import EventService from '.././EventService.js';
import ReplaceService from '.././ReplaceService.js';
import MiddleService from '.././MiddleService.js';

export default {
  name: "PlanningRoute",



  data: function data() {

    return {

      // --- API
      sourceAddCity: 'orders/write/cities/', // добавляем промежуточный город
      sourceAddCityToBasket:'orders/test/writecity/',
      sourceDeleteCity:'orders/delete/finalcity/', // удаление городов
      sourceBasketCity:'orders/ordercity/', // поличить город из корзины
      sourceDeletePlaces: 'orders/test/deleteplaces/',  // удаление мест

      //Формат для календаря
      format: "dd.MM.yyyy, D",
      //Параметры для каледнаря отправки
      state_from : {
        date: new Date(),
        disabled: {
          to: new Date((new Date()).valueOf() - 1000*3600*24),
        },
      },

      //Параметры для календаря отправки
      state_to : {
        date: '',
        // placeholder: 'SELECT A DATE',
        placeholder: 'select date',
        inputClass: 'inputFrom',
        disabled: {
          to: new Date(),
        },
        active: false
      },
      //Параметр модального окна детей
      popupPerson: false,
      bascet: {
        childs:{}
      },

      // финальный город 
      final:false,

      // город в корзине
      basketCity:true,
      back:true, // кнопка для выбора обратной даты
      previousBackDate:false
    }

  },

  created: function() {

      // запускаем АЯКС апрос на сервер при загрузке страницы
      this.startPage();  

      EventService.$on("viewDeleteCityTest", (Params) => {
          console.log('--- on viewDeleteCityTest ---');
          // console.log(Params);                 
          // this.deleteCity(Params.city_info.id, Params.city_plan[0].begin);
          this.deleteWholePlaces(Params.city_plan, Params.city_info.id, Params.city_plan[0].begin); 
      }); 


      EventService.$on("checkPlacesUpdate", (Params) => {
          // console.log('--- checkPlacesUpdate ---');
          // console.log(Params);
          this.checkPlaces(Params);
      }); 

  },

  methods:{
    
    // --- добавленные функции
    checkOpened: function(){
        console.log('-- checkOpened --');
        if(this.back == false){
          this.previousBackDate = this.state_to.date;
          // this.initBackDateWarning();
        }
        console.log(this.back);
    },

    initBackDateWarning: function(){
        
        console.log('-- initDateReturn --');
        if(this.back == false){
          console.log('-- изменить дату нельзя --');
          // открываем окно с предупреждением 
        }

        // var calendar = document.getElementsByClassName("vdp-datepicker__calendar");
    },

    checkPlaces: function(cities){
        console.log('-- checkPlaces --');
        // console.log(cities);

        this.finalCheck(cities); // проверяем финальный город


        let places = false;
        for (var i = 0; i < cities.length; i++) { // проверяем есть ли в заказе места
           
              if(cities[i].clinics.length > 0){
                  places = true;
                  break;
              }

              // console.log(cities[i]);
              if(cities[i].restaurants.length > 0){
                  places = true;
                  break;
              }

              if(cities[i].tours.length > 0){
                  places = true;
                  break;
              } 

              if(cities[i].hotels.length > 0){
                  places = true;
                  break;
              }
            // console.log(this.bascet.cities[i].clinics.length);
        }
        
        if(places == true){ 
          // если есть места блокируем сние галочки
          this.back = false;
        }
        else{
          this.back = true;
        }
        // console.log(this.back);
    },

    // стартовая загрузка при открытии страницы
    startPage: function (){

      console.log('--- startPage --');
      
        this.$root.dataLoad = true;
        
        // Отправляем АЯКС на сервер с данныем и получем ответ
        this.$http.post('orders/read', {token: 'admin_token'}).then(response => {
              
              // Если все хорошо работаем дальше и авторизовываем пользователя
              // this.someData = response.body;
              // console.log(response.body);

              // устанавливаем зачение число взрослых и детей в турпоездке
              EventService.traveling(response.body.adults, response.body.childs);
              EventService.tourists(response.body.adults, response.body.childs);

              // ReplaceServiceTest.order = response.body;
              this.bascet = response.body;
              this.state_from.date =  new Date(this.bascet.date_from*1000);
              this.state_to.disabled.to = new Date(this.bascet.date_from*1000 + 1000*3600*24);

              // console.log(this.bascet);
              // console.log('--- state_from ');
              // console.log(this.state_from);
              
              // * если есть дата возвращения то добавляем чекбокс
              if(this.bascet.date_to){
                  this.state_to.active = true;
                  this.state_to.date = new Date(this.bascet.date_to*1000); 
              }

              // finalCheck
              // if(this.bascet.cities){
              //     this.finalCheck(this.bascet.cities);
              // }

              this.$root.dataLoad = false;
              
              // проверяем есть ли места у городов в заказе
              this.checkPlaces(this.bascet.cities); 

         }, response => {

          // Произошла ошибка и обрабатываем ее тут

         });
    },


    initMiddles: function (){
          console.log('--- initMiddles ---');
          // console.log(this.$children[2].cities);
          MiddleService.setMiddles(this.$children[2].cities);
    },


    initDeleteMiddles: function (){
          console.log('--- initDeleteMiddles ---');
          MiddleService.deleteMiddles(this.$children[2].cities);
    },

    getData: function(){
        console.log('--- список городов ---');
        console.log(this.$children[2].cities);
        // console.log('--- state_to.active ---');
        // console.log(this.state_to.active);
        // let jsonParams = JSON.stringify(this.$children[2].cities);
        // console.log(jsonParams);
    },

    // записываем состояние в бд (изменена часть логики)
    writeBascet: function(){
        
        console.log('--- writeBascet ---');
        // console.log(this.back); 

        if(this.back == false){
            console.log('-- return false --');
            return false;
        }
        else{

          console.log('-- writeBascet  --');

              // запускаем добавление конечного города при выбранном чекбоксе
              if(typeof this.$children[2].cities === 'undefined'){   
                  console.log('--- городов нет'); 
              }else{                        
                  if(this.$children[2].cities.length >0){
                    this.finalWriteUpdate();
                  }
              }        

              let options = {
                  token: 'admin_token',
                  adults: this.bascet.adults,
                  child: this.bascet.childs,
                  date_from: new Date(this.state_from.date).getTime() / 1000,
                  date_to: (this.state_to.date)?new Date(this.state_to.date).getTime() / 1000:0
              }

              this.$root.dataLoad = true;        
              this.$http.post('orders/write/order', options).then(
                  response => {
                   
                    this.$root.dataLoad = false;
                    // Если все хорошо работаем дальше и авторизовываем пользователя
                    // console.log(response.body);
                   
                    // проверяем актуальный заказ
                    EventService.checkPlaces();

                  },response => {
                     // Произошла ошибка и обрабатываем ее тут
                  }
              );
              // устанавливаем зачение число взрослых и детей в турпоездке
              EventService.traveling(this.bascet.adults, this.bascet.childs);

              // finalCheck
              // this.finalCheck(this.bascet.cities);
        }
  


    },


    // добавлем/обновляем город возвращения (финальный город)
    finalWriteUpdate: function(){      
        
        console.log('--- finalWriteUpdate ---');
        // console.log(this.$children[2].cities);
        // for (var i = 0; i < this.$children[2].cities.length; i++) {
        //     console.log(this.$children[2].cities[i].city_info.id);
        // }
        // return false;

        // добавляем финальный город (город возвращения, он совпадает с начальным городом)
        if(this.$children[2].cities[0].city_info.title === this.$children[2].cities[this.$children[2].cities.length -1].city_info.title){

            if(this.state_to.active){

                // дата въезда
                let dateTo = new Date(this.state_to.date).getTime() / 1000;            

                // добавляем день финальному городу
                let day = {begin:dateTo, day:1, end: dateTo + (3600 * 2)}
                this.$children[2].cities[this.$children[2].cities.length -1].city_plan.pop();
                this.$children[2].cities[this.$children[2].cities.length -1].city_plan.push(day);

                let type = 'create';
                
                if(this.final == true){
                    // console.log('--- final установлен ---');
                    type = 'update';
                }
                                
                // сохраняем в БД запись о последнем городе
                let options = { 
                    token:'admin_token', 
                    id_city:this.$children[2].cities[this.$children[2].cities.length -1].city_info.id,
                    type:type,
                    date_to: dateTo,
                    date_from: dateTo + (2*3600),
                    final:1                
                }
                console.log('--- final ---');
                console.log(this.final);

                console.log('--- city ---');
                console.log(this.$children[2].cities[this.$children[2].cities.length -1]);

                if('orders_city' in this.$children[2].cities[this.$children[2].cities.length -1]){
                    options.id = this.$children[2].cities[this.$children[2].cities.length -1].orders_city;
                }

                // console.log('--- options ---');
                // console.log(options);
                // console.log(this.sourceAddCityToBasket);
                // console.log('--- BREAKE ---');
                // return false;

                let previous = this.$children[2].cities[this.$children[2].cities.length -2]; 
                let previousDateFrom =  previous.city_plan[previous.city_plan.length-1].end;
                //console.log(previousDateFrom);

                if(dateTo > previousDateFrom){
                    console.log('--- сохраняем город + initMiddles ---');


                    // return;

                    this.$http.post(this.sourceAddCityToBasket, options).then(function (response) {
                          // создаем промежуточные города
                          /// this.initMiddles();

                          console.log('--- sourceAddCityToBasket ---');
                          console.log(response.body);     
                          return false;

                          setTimeout(EventService.updatePlanningList(true), 15000);
                    });  

                }else{
                     console.log('--- не сохраняем ---');                     
                     // this.finalCheck(this.bascet.cities);
                }  

            }
        }else{
            console.log('--- в запросе нет финального город либо он не последний в скске ---')
            return false;
        } 

        
    },

    // проверяем финальный город при изменении чекбокса
    finalCheck:function(cities, update = false){
         console.log(' finalCheck '); 

          /*if(cities.length > 0 ){    
              if(cities[0].id_city == cities[cities.length-1].id_city){
                  this.final = true;
                  // let Params = { final:this.final }  
                  // Params.final_data = cities[cities.length-1];
                  // EventService.finalCity(Params);
              }else{
                  this.final = false; 
                  // EventService.finalCity(Params);
              } 
          }*/

          // проверяем город возвращения
          for (let i = 0; i < cities.length; i++) {
              if(cities[i].final == 1){
                  this.final = true;
                  // let Params = { final:this.final }  
                  // Params.final_data = cities[cities.length-1];
                  // EventService.finalCity(Params);
                  break;
              }
          }

          console.log(' finalCheck cities '); 
          // console.log(cities[0].id_city);
          // console.log(cities[cities.length-1].id_city);
          console.log(this.final);
    },

    // получаем текущий город из корзины 
    deleteCity:function(cityID, date_from, final = false){

        console.log('--- deleteCity ---');
              

        if(final == 'final'){
            console.log('--- final---');
            
            let options = {
                token:'admin_token',
                final:final
            }

            this.$http.post(this.sourceDeleteCity, options).then(function (response) { 
                  let deleteCity = response.body;
                  // установить событие для Planning getCityList  
                  EventService.updatePlanningList(deleteCity);
            });

        }else{


            let options = {
                token:'admin_token',
                id_city:cityID,
                date_from:date_from
              }

              console.log(options);  


            this.$http.post(this.sourceBasketCity, options).then(function (response) {  
                  
                  console.log(response.body);   
                  if(response.body.id){                 
                    // удаляем город на сервере
                    this.$http.post(this.sourceDeleteCity, {token:'admin_token', id:response.body.id, date_from:date_from}).then(function (response) { 
                            let deleteCity = response.body;
                            // установить событие для Planning getCityList  
                            EventService.updatePlanningList(deleteCity);
                      });
                  }


              }, function (error) {
                  console.log(error);      
            }); 

        }

          
        // return basketCity;
    },

    // удаляем места финального города
    deleteWholePlaces:function(city_plan, cityID = null, date_from = null){
          console.log('--- deleteFinalPlaces ---');

          let final = false;

          if(city_plan.length>0){

            let places = [];
            let hotelsUnique = []; // список уникальных записей
            let clinicsUnique = [];
            let toursUnique = [];
            let restaurantsUnique = [];            
            
            for(let i = 0; i < city_plan.length; i++){
              if("place" in city_plan[i]){                    
                    city_plan[i].place.forEach(function(place, index){         

                      if(place.type == 'restaurant'){             
                          if(restaurantsUnique.length>0){                            
                              if(restaurantsUnique[restaurantsUnique.length-1].id !== place.id){
                                 restaurantsUnique[place.id] = place;
                              } 
                          }else{ restaurantsUnique[place.id] = place;}
                      }

                      if(place.type == 'hotel'){             
                          if(hotelsUnique.length>0){                            
                              if(hotelsUnique[hotelsUnique.length-1].id !== place.id){
                                 hotelsUnique[place.id] = place;
                              } 
                          }else{hotelsUnique[place.id] = place;}
                      }

                      if(place.type == 'clinic'){  
                          if(clinicsUnique.length>0){                            
                              if(clinicsUnique[clinicsUnique.length-1].id !== place.id){
                                clinicsUnique[place.id] = place;
                              } 
                          }
                          else{clinicsUnique[place.id] = place;}
                      }

                      if(place.type == 'tour'){              
                            if(toursUnique.length>0){                            
                                if(toursUnique[toursUnique.length-1].id !== place.id){
                                  toursUnique[place.id] = place;
                                } 
                            }
                            else{toursUnique[place.id] = place;}
                      }
                                              
                    });
              }
            }

            // сохраняем уникальные значения в список мест            
            let result = places.concat(hotelsUnique, clinicsUnique, toursUnique, restaurantsUnique);
            // console.log(result); 
            let options = {
                token:'admin_token',
                places:result 
            }

            // отправляем запрос на удаление массива мест на сервер
            if(options.places.length >0){
                this.$http.post(this.sourceDeletePlaces, options).then(function (response) { 
                    // console.log(response.body);
                    if(response.body.deleted){
                        console.log('--- все места удалены ---');

                        this.deleteCity(cityID, date_from, final = 'final');
                    }
                });
            }
            else{
                this.deleteCity(cityID, date_from, final = 'final');
            }
        }

    },

    // --- старые функции

    //Автооткрытие календаря после нажатие на чекбокс
    check: function(){
      var vw = this;
      if(document.querySelectorAll('input.inputFrom')[0].hasAttribute('disabled')){
        setTimeout(function(){
          vw.check();
        }, 100);
      }else{
        document.querySelectorAll('input.inputFrom')[0].click();
      }
    },

    changeDateFrom: function (){
      if(this.state_to.active){
        if(this.state_to.date.getTime() < this.state_from.date.getTime())
          this.state_to.date = new Date(this.state_from.date.valueOf() + 1000*3600*24);
      }

      this.state_to.disabled.to = new Date(this.state_from.date.valueOf() + 1000*3600*24)
      this.writeBascet();
    },

    OpenPopupPerson: function(){
      this.bascet.childs.push({age:''});
      this.popupPerson = !this.popupPerson
    },
    strChild: function(strChild, index){
      if(strChild.length > 0 && this.bascet.childs.length-1 == index){
        this.bascet.childs.push({age:''});
      }
    },
    remChild: function(index){
      if(this.bascet.childs.length != 1){
        this.bascet.childs.splice(index, 1)
      }
    }
    

  },

  watch:{

    // --- добавленные функции

    // Проверка в реальном времени активность календаря возвращения
    'state_to.active': function (checked){
        
        console.log('--- state_to.active ---');
        // finalCheck
        // this.finalCheck(this.bascet.cities);

        if(this.state_to.active){      

            if(this.bascet.date_to){
              this.state_to.date = new Date(this.bascet.date_to*1000);

            }
            else{ 

              console.log('добавляем начальный город в конец маршрута');
              // return;

              // добавляем начальный город в конец маршрута 
              // финальный город куда вернеться пользователь
              if(typeof this.$children[2].cities !== 'undefined'){        
                  if(this.$children[2].cities[0].city_info.title !== this.$children[2].cities[this.$children[2].cities.length -1].city_info.title){
                        this.$children[2].cities.push({
                          city_info: this.$children[2].cities[0].city_info,
                          city_plan: []
                        });
                  }
              }  
              this.state_to.date = new Date(this.state_from.date.valueOf() + 1000*3600*24);
              // if(this.back !== false){
                 this.check(); 
              // }
                            
            }


        }else{

          
          if(typeof this.$children[2].cities !== 'undefined'){            
              
            if(this.$children[2].cities[0].city_info.title === this.$children[2].cities[this.$children[2].cities.length -1].city_info.title){
                  
              let finalCity = this.$children[2].cities[this.$children[2].cities.length -1];
              this.$children[2].cities.pop(); // удаляем последний финальный город из массива городов

              // удаляем места финального города из БД
              this.deleteWholePlaces(finalCity.city_plan, finalCity.city_info.id, finalCity.city_plan[0].begin); 

            }
          }

          this.state_to.date = '';
        }
        
        this.writeBascet();
    },

    //Проверка в реальном времени модального окна детей и удаление устых записей
    popupPerson: function(){

      if(!this.popupPerson){
        var childs = [];
        this.bascet.childs.forEach(function (value, i) {
          if(value.age != '0' && value.age != ''){
            childs.push(value);
          }
        });
        this.bascet.childs = childs;
        this.writeBascet();
      }

    }
  },
 
  components: {
    Datepicker,
    Planing
  }
}
</script>
<style>
.calendar > .calendar_step > .datapicker .inputFrom{
  background-color: #fff;
  font-size: 24px;
}
.calendar > .calendar_step > .datapicker .inputFrom::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a8b6c9;
}
.calendar > .calendar_step > .datapicker .inputFrom::-moz-placeholder { /* Firefox 19+ */
  color: #a8b6c9;
}
.calendar > .calendar_step > .datapicker .inputFrom:-ms-input-placeholder { /* IE 10+ */
  color: #a8b6c9;
}
.calendar > .calendar_step > .datapicker .inputFrom:-moz-placeholder { /* Firefox 18- */
  color: #a8b6c9;
}
</style>
<style scoped>

.planningroute{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header{
  width: 100%;
  padding: 19px 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}


.header .test{
  font-size: 12px;
  text-transform: none;
  cursor: pointer;
  color: #4673b9;
}


  .calendar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
    .calendar .calendar_step{
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 25px;
      position: relative;
    }
    .calendar span, .person span{
      width: 100%;
      font-family: Roboto;
      font-size: 20px;
      text-align: left;
      color: #a8b6c9;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    .calendar .datapicker{
      width: 100%;
    }
    .calendar .dashed-border, .person .dashed-border{
      width: 100%;
      position: relative;
      border-bottom: 1px dashed #fff;
      margin-bottom: 15px;
    }
    .calendar .dashed-border::before, .person .dashed-border::before{
      content:"";
      border-top: 1px dashed #FFF;
      position: absolute;
      top:0;
      left:2px;
      right:0;
      width: 100%;
      height: 1px;
      z-index: 2;
    }
    .calendar .dashed-border::after, .person .dashed-border::after{
       content:"";
       position: absolute;
       bottom: -1px;
       left: -1px;
    }
    .calendar .dashed-border::after, .person .dashed-border::after{
          right: -1px;
         height: 1px;
         background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #3d76b8), color-stop(50%, #3d76b8), color-stop(51%, #3d76b8), color-stop(100%, #ff9a5b));
         background-image: -webkit-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
         background-image: -moz-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
         background-image: -o-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
         background-image: -ms-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
         background-image: linear-gradient(to right, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
      }
    /* HTML5 Boilerplate accessible hidden styles */
    .promoted-input-checkbox {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    .promoted-checkbox{
      width: 20px;
      /*margin-bottom: 25px;*/
      /*margin-top: 10px;*/
      position: absolute;
      bottom: 5px;
      right: 0px;
    }
    .promoted-checkbox input:checked + label > svg {
      height: 15px;
      top:3px;
      -webkit-animation: draw-checkbox ease-in-out 0.2s forwards;
              animation: draw-checkbox ease-in-out 0.2s forwards;
    }
    .promoted-checkbox label:active::after {
      background-color: #e6e6e6;
    }
    .promoted-checkbox label {
      color: #7f97b5;
      line-height: 40px;
      cursor: pointer;
      position: relative;
    }
    .promoted-checkbox label:after {
      content: "";
      height: 20px;
      width: 20px;
      margin-right: 1rem;
      float: left;
      border: 1px solid #a8b6c9;
      -webkit-transition: 0.15s all ease-out;
      transition: 0.15s all ease-out;
    }
    .promoted-checkbox svg {
      stroke: #039beb;
      stroke-width: 2px;
      height: 0;
      width: 24px;
      position: absolute;
      left: -20%;
      top: -4px;
      stroke-dasharray: 33;
    }
    @-webkit-keyframes draw-checkbox {
      0% {
        stroke-dashoffset: 33;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
    @keyframes draw-checkbox {
      0% {
        stroke-dashoffset: 33;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }

  .person{
    width: 31%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
    .person > .person_count{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      margin-top: 5px;
    }
      .person > .person_count span{
        color: #191e27;
        margin: 0;
        width: auto;
        margin: 0 5px;
        font-size: 2
      }
      .person > .person_count > input{
        width: 26px;
        height: 26px;
        border: none;
        padding: 0;
        margin: 0;
        font-size: 20px;
        text-align: center;
      }
      .person > .person_count .person_minus,
      .person > .person_count .person_plus{
        width: 24px;
        height: 24px;
        font-size: 20px;
        border: 1px solid #e2e7ed;
        color: #039beb;
        display: flex;
        justify-content: center;
        cursor: pointer;
        line-height: 1;
      }
      .person > .person_count .childs{
        color: #039beb;
        display: block;
        position: relative;
        cursor: pointer;
      }
        .person > .person_count .childs span{
          color: #039beb;
        }
        .person > .person_count .childs .popup-person{
          position: absolute;
          width: 250px;
          left: -150px;
          border-radius: 4px;
          background-color: #ffffff;
          box-shadow: 0px 3px 12px 0 rgba(26, 92, 139, 0.33);
          top: 30px;
          z-index: 10;
        }
          .person > .person_count .childs .popup-person .popup-person_background{
            position: fixed;
            z-index: 999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            cursor: default;
          }
          .person > .person_count .childs .popup-person .popup-person-title{
            text-align: center;
            width: 100%;
            padding: 15px 0;
            font-size: 18px;
            color: #191e27;
            background-color: #fff;
            position: relative;
            z-index: 1000;
          }
          .person > .person_count .childs .popup-person > ul{
            margin: 0;
            padding: 0;
            padding: 0 10px;
          }
            .person > .person_count .childs .popup-person > ul li{
              list-style-type: none;
              position: relative;
              z-index: 1000;
            }
            .person > .person_count .childs .popup-person > ul li input{
              border: none;
              width: 100%;
              margin-bottom: 15px;
            }
            .person > .person_count .childs .popup-person > ul li .rem_child{
              width: 20px;
              height: 20px;
              border-radius: 100%;
              font-size: 14px;
              text-transform: lowercase;
              background-color: #a8b6c9;
              color: #fff;
              text-align: center;
              line-height: 1.3;
              font-weight: bold;
              position: absolute;
              top: 0;
              right: 5px;
              cursor: pointer;
            }


div input.inputFrom {
  background-color: #fff !important;
}
</style>
