<template>   
      
    <div class="calendar-wrapper" v-if="show">

      <div class="calendar" v-if="city_dates.date_from">
        
        <div class="calendar_step" >            
            <span>день завезда</span>            
            <div class="dashed-border"></div> 

            <datepicker 
                :disabled="state_from.disabled" 
                :value="state_from.disabled.to"
                :format="format"
                v-model="state_from.date"
                language="ru" 
                v-on:closed="changeDateFrom()">
            </datepicker>

        </div>

        <div class="calendar_step">
            <span>день выезда</span>
            <div class="dashed-border"></div>

            <datepicker 
                :disabled="state_to.disabled" 
                :value="state_to.disabled.to"
                v-model="state_to.disabled.to"
                :format="format"
                language="ru" 
               v-on:closed="getDates()">
            </datepicker>

        </div>

      </div>      

      <p @click="closeWindow" style="cursor:pointer;">Закрыть</p>

    </div> 


</template>

<script>
  import EventService from '../.././EventService.js';
  import Datepicker from 'vuejs-datepicker';

  export default {

      name: "Calendar",  

      data() {        

          return {
                
                title: 'Календарь',
                // --- переменные
                show:false, 

                // --- Календарь

                // Формат для календаря
                format: "dd.MM.yyyy, D",

                // дата отображения календаря
                state_from : {
                      date: new Date(1505099400*1000),
                      disabled: {
                          to: new Date(1505099400*1000), // (дата начала заказа + час)*1000 
                          from: new Date(1506845400*1000)
                      }
                      
                }, 
                state_to : {
                      date: new Date(1505099400*1000),
                      disabled: {
                          to: new Date(1505099400*1000), // (дата начала заказа + час)*1000 
                          from: new Date(1506845400*1000)
                      }
                },

                

                // начальные даты текущего города 
                city_dates:{
                  date_from:false,
                  date_to:false
                },

                // даты для заказа, передаются компонету отелю, клинике, туру
                order_dates: {
                  date_from:false,
                  date_to:false
                }

        }

      },

      methods:{

          // закрытие окна
          closeWindow: function () {              
              this.resetData();
          },

          resetData: function () {
              this.city_dates.date_from = false;
              this.city_dates.date_to = false;
              this.show = true;
          },

          changeDateFrom: function (){
              this.state_to.disabled.to = this.state_from.date;
          },         

          // передаем даты города в календарь
          getCalendar: function () {
                // console.log(new Date(1505099400*1000));
                // console.log(new Date(1506845400*1000));
                this.city_dates.date_from = 1506845400;
                this.city_dates.date_to = 1505099400;
                this.show = true;
          },

          getDates: function(){
              console.log('--- getDates ---');
              this.order_dates.date_from = this.state_from.date;
              this.order_dates.date_to = this.state_to.date;
          }

      },
  
      components: {
        Datepicker
      },

      created: function() {


        // слушаем событие в сервисе при открытии детального окна информации об отелей    
        // EventService.$on("viewCalendar", (Param) => {          
        //       console.log('--- viewCalendar on ---'); 

        //       this.getCalendar();
             
        //       // открываем окно 
        //       this.show = true;               
        // });

        // let Params = {
        //   date_from:1506845400,
        //   date_to:1505099400
        // }

        this.getCalendar();

      },

      watch:{

      }
  }

</script>


<style scoped>

    .calendar > .calendar_step > .datapicker .inputFrom{
      background-color: #fff;
      font-size: 24px;
    }
    .calendar > .calendar_step > .datapicker .inputFrom::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #a8b6c9;
    }
    .calendar > .calendar_step > .datapicker .inputFrom::-moz-placeholder { /* Firefox 19+ */
      color: #a8b6c9;
    }
    .calendar > .calendar_step > .datapicker .inputFrom:-ms-input-placeholder { /* IE 10+ */
      color: #a8b6c9;
    }
    .calendar > .calendar_step > .datapicker .inputFrom:-moz-placeholder { /* Firefox 18- */
      color: #a8b6c9;
    }


.calendar-wrapper {
  position:fixed;
  top:0;
  left: 0;
  border: 1px solid #400000;
  z-index: 1000;
  background: #fff;
  width: 800px;

  /*width: 100%;*/
  padding: 19px 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

  .calendar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
    .calendar .calendar_step{
      /*width: 40%;*/
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 25px;
      position: relative;
    }
    .calendar span, .person span{
      width: 100%;
      font-family: Roboto;
      font-size: 20px;
      text-align: left;
      color: #a8b6c9;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    .calendar .datapicker{
      width: 100%;
    }
    .calendar .dashed-border, .person .dashed-border{
      width: 100%;
      position: relative;
      border-bottom: 1px dashed #fff;
      margin-bottom: 15px;
    }
    .calendar .dashed-border::before, .person .dashed-border::before{
      content:"";
      border-top: 1px dashed #FFF;
      position: absolute;
      top:0;
      left:2px;
      right:0;
      width: 100%;
      height: 1px;
      z-index: 2;
    }
    .calendar .dashed-border::after, .person .dashed-border::after{
       content:"";
       position: absolute;
       bottom: -1px;
       left: -1px;
    }
    .calendar .dashed-border::after, .person .dashed-border::after{
          right: -1px;
         height: 1px;
         background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #3d76b8), color-stop(50%, #3d76b8), color-stop(51%, #3d76b8), color-stop(100%, #ff9a5b));
         background-image: -webkit-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
         background-image: -moz-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
         background-image: -o-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
         background-image: -ms-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
         background-image: linear-gradient(to right, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
      }
    /* HTML5 Boilerplate accessible hidden styles */
    .promoted-input-checkbox {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    .promoted-checkbox{
      width: 20px;
      /*margin-bottom: 25px;*/
      /*margin-top: 10px;*/
      position: absolute;
      bottom: 5px;
      right: 0px;
    }
    .promoted-checkbox input:checked + label > svg {
      height: 15px;
      top:3px;
      -webkit-animation: draw-checkbox ease-in-out 0.2s forwards;
              animation: draw-checkbox ease-in-out 0.2s forwards;
    }
    .promoted-checkbox label:active::after {
      background-color: #e6e6e6;
    }
    .promoted-checkbox label {
      color: #7f97b5;
      line-height: 40px;
      cursor: pointer;
      position: relative;
    }
    .promoted-checkbox label:after {
      content: "";
      height: 20px;
      width: 20px;
      margin-right: 1rem;
      float: left;
      border: 1px solid #a8b6c9;
      -webkit-transition: 0.15s all ease-out;
      transition: 0.15s all ease-out;
    }
    .promoted-checkbox svg {
      stroke: #039beb;
      stroke-width: 2px;
      height: 0;
      width: 24px;
      position: absolute;
      left: -20%;
      top: -4px;
      stroke-dasharray: 33;
    }
    @-webkit-keyframes draw-checkbox {
      0% {
        stroke-dashoffset: 33;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
    @keyframes draw-checkbox {
      0% {
        stroke-dashoffset: 33;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }


</style>
