<template>   
      
    <div class="calendar-wrapper" v-if="show">

      <div class="calendar">
        <div class="calendar_step">
          <span>departure</span>
          <div class="dashed-border"></div>
          <datepicker class="datapicker" :disabled="state_from.disabled" :value="state_from.date" v-model="state_from.date" :format="format" v-on:closed="changeDateFrom" ></datepicker>
        </div>

        <div class="calendar_step">
          
          <span>Back</span>
          <div class="dashed-border"></div>

          <datepicker v-on:closed="writeBascet()" 
          :input-class="state_to.inputClass" 
          :placeholder="state_to.placeholder" 
          :disabled="state_to.disabled" class="datapicker datapicker_to" 
          :value="state_to.date" 
          v-model="state_to.date" 
          :format="format" 
          :disabled-picker="!state_to.active">            
          </datepicker>

          <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
            <symbol id="checkmark" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-miterlimit="10" fill="none"  d="M22.9 3.7l-15.2 16.6-6.6-7.1">
              </path>
            </symbol>
          </svg>

          <div class="promoted-checkbox">
            <input id="tmp" type="checkbox" class="promoted-input-checkbox" value="1" v-model="state_to.active"/>
            <label for="tmp">
              <svg><use xlink:href="#checkmark" /></svg>
            </label>
          </div>

        </div>
      </div>      

      <p @click="closeWindow" style="cursor:pointer;">Закрыть</p>

    </div> 


</template>

<script>
  import EventService from '../.././EventService.js';
  import Datepicker from 'vuejs-datepicker';

  export default {

      name: "Calendar",  

      data() {        

          return {
                
                title: 'Календарь',

                // // API            
                // sourceTransport: 'read/transports/', // получаем   транспорт       
                // sourceBasketTransport: 'orders/write/transports/', // добавляем в корзину
                // sourceBasketTransportUpdate:'orders/update/transports/', // обновляем транспорт

                // --- переменные
                show:false, 

                // Формат для календаря
                format: "dd.MM.yyyy, D",

                // Параметры для каледнаря отправки
                state_from : {
                  date: new Date(),
                  disabled: {
                    to: new Date((new Date()).valueOf() - 1000*3600*24),
                  },
                },

                // Параметры для календаря отправки
                state_to : {
                  date: '',
                  placeholder: 'SELECT A DATE',
                  inputClass: 'inputFrom',
                  disabled: {
                    to: new Date(),
                  },
                  active: false
                },

                // Параметр модального окна детей
                popupPerson: false,                
                bascet: {
                  childs:{}
                }
        }

      },

      methods:{
    
          //Автооткрытие календаря после нажатие на чекбокс
          check: function(){

              var vw = this;
              if(document.querySelectorAll('input.inputFrom')[0].hasAttribute('disabled')){
                setTimeout(function(){
                  vw.check();
                }, 100);
              }else{
                document.querySelectorAll('input.inputFrom')[0].click();
              }

          },

          changeDateFrom: function (){

              if(this.state_to.active){
                if(this.state_to.date.getTime() < this.state_from.date.getTime())
                  this.state_to.date = new Date(this.state_from.date.valueOf() + 1000*3600*24);
              }

              this.state_to.disabled.to = new Date(this.state_from.date.valueOf() + 1000*3600*24)
              this.writeBascet();

          },

          OpenPopupPerson: function(){

            this.bascet.childs.push({age:''});
            this.popupPerson = !this.popupPerson

          },

          strChild: function(strChild, index){

              if(strChild.length > 0 && this.bascet.childs.length-1 == index){
                this.bascet.childs.push({age:''});
              }

          },

          remChild: function(index){

              if(this.bascet.childs.length != 1){
                this.bascet.childs.splice(index, 1)
              }

          },

          writeBascet: function(){

              console.log('--- writeBascet  ---');
            
              this.$root.dataLoad = true;

              this.$http.post('orders/write/order', {                
                    
                    token: 'admin_token',
                    adults: this.bascet.adults,
                    child: this.bascet.childs,
                    date_from: new Date(this.state_from.date).getTime() / 1000,
                    date_to: (this.state_to.date)?new Date(this.state_to.date).getTime() / 1000:0
                    
              }).then(response => {

                this.$root.dataLoad = false;
                    // Если все хорошо работаем дальше и авторизовываем пользователя
                    //this.someData = response.body;
                    //  console.log(response.body);

              }, response => {

                 // Произошла ошибка и обрабатываем ее тут

              });

          },

          // закрытие окна
          closeWindow: function () {              
              this.show = false;

          },

          // получить календарь
          getCalendar: function () {
              // this.$root.dataLoad = true;

              this.$http.post('orders/read', {token: 'admin_token'}).then(response => {
                  console.log(response.body);   

                  // сохраняем заказ в bascet
                  this.bascet = response.body

                  // конвертируем даты заказа from
                  this.state_from.date =  new Date(this.bascet.date_from*1000);
                  this.state_to.disabled.to = new Date(this.bascet.date_from*1000 + 1000*3600*24); 

                  // 
                  // console.log(this.bascet.date_from);
                  // console.log(this.state_to.disabled.to);

                  if(this.bascet.date_to){
                    console.log(' --- ---');
                    console.log(this.bascet.date_to);

                    this.state_to.active = true;
                    this.state_to.date = new Date(this.bascet.date_to*1000);
                  
                  }

                  // this.$root.dataLoad = false;
              });
          }

      },
  
      components: {
        Datepicker
      },

      created: function() {

        // this.$root.dataLoad = true;
        // //Отправляем АЯКС на сервер с данныем и получем ответ
        // this.$http.post('orders/read', {token: 'admin_token'}).then(response => {
        //    // Если все хорошо работаем дальше и авторизовываем пользователя
          
        //    //this.someData = response.body;
        //    console.log(response.body);


        //    this.bascet = response.body
        //    this.state_from.date =  new Date(this.bascet.date_from*1000);
        //    this.state_to.disabled.to = new Date(this.bascet.date_from*1000 + 1000*3600*24);
        //    if(this.bascet.date_to){
        //     //  console.log(this.bascet.date_to);
        //      this.state_to.active = true;
        //      this.state_to.date = new Date(this.bascet.date_to*1000); 
        //    }
        //    this.$root.dataLoad = false;

        //  }, response => {
        //    // Произошла ошибка и обрабатываем ее тут
        //  });

        // слушаем событие в сервисе при открытии детального окна информации об отелей    
        EventService.$on("viewCalendar", (Param) => {          
              console.log('--- viewCalendar on ---'); 

              this.getCalendar();
             
              // открываем окно 
              this.show = true;               
        });

      },

      watch:{

        //Проверка в реальном времени активность календаря возвращения
        'state_to.active': function (checked){

          if (this.state_to.active){
            if(this.bascet.date_to){
              this.state_to.date = new Date(this.bascet.date_to*1000);
            }else{
              if(this.$children[2].cities[0].city_info.title !== this.$children[2].cities[this.$children[2].cities.length -1].city_info.title){
                this.$children[2].cities.push({
                  city_info: {
                    title: this.$children[2].cities[0].city_info.title
                  },
                  city_plan: []
                })
              }
              this.state_to.date = new Date(this.state_from.date.valueOf() + 1000*3600*24);
              this.check();
            }

          }else{
            if(this.$children[2].cities[0].city_info.title === this.$children[2].cities[this.$children[2].cities.length -1].city_info.title){
              this.$children[2].cities.pop();
            }
            this.state_to.date = '';
          }

          this.writeBascet();

        },

        //Проверка в реальном времени модального окна детей и удаление устых записей
        popupPerson: function(){

          if(!this.popupPerson){
            var childs = [];
            this.bascet.childs.forEach(function (value, i) {
              if(value.age != '0' && value.age != ''){
                childs.push(value);
              }
            });
            this.bascet.childs = childs;
            this.writeBascet();
          }

        }
      }

  }

</script>


<style scoped>

    .calendar > .calendar_step > .datapicker .inputFrom{
      background-color: #fff;
      font-size: 24px;
    }
    .calendar > .calendar_step > .datapicker .inputFrom::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #a8b6c9;
    }
    .calendar > .calendar_step > .datapicker .inputFrom::-moz-placeholder { /* Firefox 19+ */
      color: #a8b6c9;
    }
    .calendar > .calendar_step > .datapicker .inputFrom:-ms-input-placeholder { /* IE 10+ */
      color: #a8b6c9;
    }
    .calendar > .calendar_step > .datapicker .inputFrom:-moz-placeholder { /* Firefox 18- */
      color: #a8b6c9;
    }


.calendar-wrapper {
  position:fixed;
  top:0;
  left: 0;
  border: 1px solid #400000;
  z-index: 1000;
  background: #fff;
  width: 800px;

  /*width: 100%;*/
  padding: 19px 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

  .calendar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
    .calendar .calendar_step{
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 25px;
      position: relative;
    }
    .calendar span, .person span{
      width: 100%;
      font-family: Roboto;
      font-size: 20px;
      text-align: left;
      color: #a8b6c9;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    .calendar .datapicker{
      width: 100%;
    }
    .calendar .dashed-border, .person .dashed-border{
      width: 100%;
      position: relative;
      border-bottom: 1px dashed #fff;
      margin-bottom: 15px;
    }
    .calendar .dashed-border::before, .person .dashed-border::before{
      content:"";
      border-top: 1px dashed #FFF;
      position: absolute;
      top:0;
      left:2px;
      right:0;
      width: 100%;
      height: 1px;
      z-index: 2;
    }
    .calendar .dashed-border::after, .person .dashed-border::after{
       content:"";
       position: absolute;
       bottom: -1px;
       left: -1px;
    }
    .calendar .dashed-border::after, .person .dashed-border::after{
          right: -1px;
         height: 1px;
         background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #3d76b8), color-stop(50%, #3d76b8), color-stop(51%, #3d76b8), color-stop(100%, #ff9a5b));
         background-image: -webkit-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
         background-image: -moz-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
         background-image: -o-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
         background-image: -ms-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
         background-image: linear-gradient(to right, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
      }
    /* HTML5 Boilerplate accessible hidden styles */
    .promoted-input-checkbox {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    .promoted-checkbox{
      width: 20px;
      /*margin-bottom: 25px;*/
      /*margin-top: 10px;*/
      position: absolute;
      bottom: 5px;
      right: 0px;
    }
    .promoted-checkbox input:checked + label > svg {
      height: 15px;
      top:3px;
      -webkit-animation: draw-checkbox ease-in-out 0.2s forwards;
              animation: draw-checkbox ease-in-out 0.2s forwards;
    }
    .promoted-checkbox label:active::after {
      background-color: #e6e6e6;
    }
    .promoted-checkbox label {
      color: #7f97b5;
      line-height: 40px;
      cursor: pointer;
      position: relative;
    }
    .promoted-checkbox label:after {
      content: "";
      height: 20px;
      width: 20px;
      margin-right: 1rem;
      float: left;
      border: 1px solid #a8b6c9;
      -webkit-transition: 0.15s all ease-out;
      transition: 0.15s all ease-out;
    }
    .promoted-checkbox svg {
      stroke: #039beb;
      stroke-width: 2px;
      height: 0;
      width: 24px;
      position: absolute;
      left: -20%;
      top: -4px;
      stroke-dasharray: 33;
    }
    @-webkit-keyframes draw-checkbox {
      0% {
        stroke-dashoffset: 33;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
    @keyframes draw-checkbox {
      0% {
        stroke-dashoffset: 33;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }


</style>
