<template>
  <div id="route" class="route">
      <div class="city" v-for="(city, index) in cities"
        :key="index">
        <div class="city_name">{{ city.city_info.title }}</div>
        <div class="city_day">
          <div class="city_day_title">Days to the city</div>
          <div class="city_day_count"><span class="city_day_count_operators">-</span><span class="city_day_count_num">{{city.city_plan.length}}</span><span class="city_day_count_operators">+</span></div>
        </div>
        <div class="city_hotel">
          <div class="city_hotel_title">Hotel</div>
        </div>
        <div class="city_restoran">
          <div class="city_restoran_title">Restoran</div>
        </div>
        <div class="city_transport">
          <div class="city_transport_title">Transport</div>
        </div>
        <div class="city_tur">
          <div class="city_tur_title">Tur</div>
        </div>
        <div class="city_calendar">
          <div class="city_calendar_day" v-for="(plan, index) in city.city_plan"
            :key="index">
            <div class="city_calendar_week">{{ week(plan.begin) }}</div>
            <div class="city_calendar_day_num">{{ day(plan.begin) }}</div>
            <div class="city_calendar_day_info">
              <div class="city_calendar_day_info_block" v-for="(place, index) in plan.place"
                :key="index"
                v-bind:class="{
                  airoport: place.type == 'transport',
                  restoraunt: place.type == 'restoraunt',
                  hotel: place.type == 'hotel'
                }">
                <div class="city_calendar_day_info_block_icon"></div>
                <div class="city_calendar_day_info_block_info">{{place.type}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="next_city" v-if="index != cities.length - 1">
          <span>Add transport</span> or <span>Intermediate point</span>
        </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "route",
  created: function(){
    this.$root.dataLoad = true;
    //Отправляем АЯКС на сервер с данныем и получем ответ
    this.$http.post('orders/getday', {token: 'admin_token'}).then(response => {
       // Если все хорошо работаем дальше и авторизовываем пользователя
       //this.someData = response.body;
       this.cities = response.body.cities

       this.$root.dataLoad = false;
     }, response => {
       // Произошла ошибка и обрабатываем ее тут
     });
  },
  data: function data() {
    return {
      cities:{},
      week_day : [
        "вс",
        "пн",
        "вт",
        "ср",
        "чт",
        "пт",
        "сб",
      ]
    }
  },
  methods: {
    week: function week(unix) {
      return this.week_day[new Date(unix*1000).getDay()];
    },
    day: function day(unix){
      return new Date(unix*1000).getDate();
    }
  }
}
</script>
<style scoped>

.route{
  width: 100%;
}
  .route .city{
    width: 82%;
    padding: 7% 9%;
    background-color: #ffffff;
    box-shadow: inset 0 0 24px 0 rgba(168, 182, 201, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
  }
    .route .city .city_name{
      /*width: 100%;*/
      font-family: Roboto;
      font-size: 40px;
      text-align: left;
      color: #191e27;
    }
    .route .city .city_day_title,
    .route .city .city_hotel_title,
    .route .city .city_restoran_title,
    .route .city .city_transport_title,
    .route .city .city_tur_title{
      font-family: Roboto;
      font-size: 20px;
      color: #a8b6c9;
      margin-bottom: 15px;
      margin-top: -50px;
    }
    .route .city .city_day_title{
      margin-top: -35px;
    }
    .route .city .city_day{
      margin-right: 15%;
    }
      .route .city .city_day .city_day_count{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      .route .city .city_day .city_day_count .city_day_count_operators{
        width: 30px;
        height: 30px;
        border: 1px solid #e2e7ed;
        color: #039beb;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
      }
      .route .city .city_day .city_day_count .city_day_count_num{
        font-size: 17px;
        background-color: #eceff3;
        padding: 7px 14px;
      }
    .route .city .city_hotel,
    .route .city .city_restoran,
    .route .city .city_transport,
    .route .city .city_tur{
      margin: 0 2%;
    }
    .route .city .city_calendar{
      width: 100%;
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }
      .route .city .city_calendar .city_calendar_day{
        width: 14%;
        border: 1px dotted #a8b6c9;
        display: block;
        position: relative;
      }
        .route .city .city_calendar .city_calendar_day .city_calendar_week{
          display: block;
          width: 100%;
          position: absolute;
          font-family: Roboto;
          top:-25px;
        }
        .route .city .city_calendar .city_calendar_day .city_calendar_day_num{
          display: block;
          width: 91%;
          text-align: right;
          padding: 7px 12px 0px 0px;
          font-family: Roboto;
        }
        .route .city .city_calendar .city_calendar_day .city_calendar_day_info{
          width: 100%;
          display: flex;
          margin-top: 20px;
          flex-wrap: wrap;
        }
          .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block{
            width: 100%;
            height: 26px;
            margin: 0px 2px 2px 2px;
            padding: 2px 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }
            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block .city_calendar_day_info_block_icon{
              height: 100%;
              border-right: 2px dotted #fff;
            }
            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block_info{
              width: 70%;
              height: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding: 0 5px;
              color: #fff;
              font-family: Roboto;
            }
            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block::before{
              min-width: 21px;
              margin-left: 5px;
              margin-top:5px;
              margin-right: 5px;
              display: block;
            }
            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.airoport{
              background-color: #5c4f6d;
            }
              .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.airoport::before{
                content: url('../../assets/air.png');
              }
            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.restoraunt{
              background-color: #60b6b9;
            }
              .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.restoraunt::before{
                content: url('../../assets/restoraunt.png');
                margin-left: 5px;
                margin-top:5px;
                margin-right: 5px;
                display: block;
              }
            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.transport{
              background-color: #ada093;
            }
              .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.transport::before{
                content: url('../../assets/air.png');
                margin-left: 5px;
                margin-top:5px;
                margin-right: 5px;
                display: block;
              }
            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.hotel{
              background-color: #a9cb42;
            }
              .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.hotel::before{
                content: url('../../assets/hotel.png');
                margin-left: 5px;
                margin-top:5px;
                margin-right: 5px;
                display: block;
              }
            .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.toure{
              background-color: #f44f39;
            }
              .route .city .city_calendar .city_calendar_day .city_calendar_day_info .city_calendar_day_info_block.toure::before{
                content: url('../../assets/air.png');
                margin-left: 5px;
                margin-top:5px;
                margin-right: 5px;
                display: block;
              }
    .route .city .next_city{
      position: absolute;
      bottom: -24px;
      border: solid 1px #039beb;
      border-radius: 24px;
      padding: 10px 20px;
      font-family: Roboto;
      font-size: 20px;
      color: #a8b6c9;
      background-color: #fff;
      left: 10%;
      z-index: 1;
    }
      .route .city .next_city span{
        color: #039beb;
        cursor: pointer;
      }
</style>
