<template>
  <div id="app">
    <div class="menu-block">
      <div class="logo">
        <img src="./assets/logo.png" />
      </div>
      <div class="dashed-border"></div>
      <div class="menu">
        <ul>
          <li v-on:click="showModal = true" v-if="this.$root.sign">Sign in / Sign up</li>
        </ul>
      </div>
    </div>
    <router-view class="container"></router-view>
    <Modal :show="showModal" @close="showModal = false"></Modal>
    <Preloader v-if="$root.dataLoad"></Preloader>
  </div>
</template>

<script>
import Modal from './components/Modal'
import Preloader from './components/Preloader'
export default {
  name: 'app',
  data () {
    return {
      showModal: false,
      test:'test root'
    }
  },
  components: {
    Modal,
    Preloader
  }
}
</script>

<style>
@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(./assets/fonts/Roboto-Light.ttf); /* Путь к файлу со шрифтом */
 }

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}
.menu-block{
  width: 16.25%;
  height: 100vh;
  background-color: black;
  position: fixed;
  float: left;
  left:0;
  top: 0;
  z-index: 10;
}
.menu-block > .logo{
  padding: 25px;
}
.menu-block .dashed-border{
  width: 95%;
  position: relative;
  border-bottom: 1px dashed #000;
  margin-bottom: 15px;
  margin: 0 5px;
}
.menu-block .dashed-border::before{
  content:"";
  border-top: 1px dashed #000;
  position: absolute;
  top:0;
  left:2px;
  right:0;
  width: 100%;
  height: 1px;
  z-index: 2;
}
.menu-block .dashed-border::after{
   content:"";
   position: absolute;
   bottom: -1px;
   left: -1px;
}
.menu-block .dashed-border::after{
  right: -1px;
   height: 1px;
   background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #3d76b8), color-stop(50%, #3d76b8), color-stop(51%, #3d76b8), color-stop(100%, #ff9a5b));
   background-image: -webkit-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
   background-image: -moz-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
   background-image: -o-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
   background-image: -ms-linear-gradient(left, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
/* IE10+ */
   background-image: linear-gradient(to right, #3d76b8 0%, #3d76b8 50%, #3d76b8 51%, #ff9a5b 100%);
/* W3C */
}
.menu-block > .menu{
  margin-top: 25px;
  color:#039beb;
  font-size: 20px;
}
.menu-block > .menu > ul {
  margin-left: 0;
  padding-left: 0;
}
.menu-block > .menu > ul li{
  list-style-type: none;
  cursor: pointer;
}
.container{
  width: 83.75%;
  position: relative;
  margin-left: 16.25%;
  float: left;
  top: 0;
}


input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #039beb;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #039beb;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #039beb;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #039beb;
}

input[type="text"],
input[type="number"] {
  border: none;
  font-family: Roboto;
  font-size: 24px;
  text-align: left;
  color: #191e27;
  width: 85%;
}
input[type="text"]:active,
input[type="text"]:focus,
input[type="text"]:hover,
input[type="text"]:visited,
input[type="number"]:active,
input[type="number"]:focus,
input[type="number"]:hover,
input[type="number"]:visited{
  outline:none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
</style>
